{% extends 'base.html.twig' %}

{% block title %}Ficha{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="{{ path('reportes', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Reportes</a>
  </li>
  <li class="breadcrumb-item active">
    Reporte indices
  </li>
{% endblock %}

{% block content %}
  {{ include('clinico/fichas/table.html.twig') }}

  <br>

  <h3 class="text-center">Reporte de índices {{criterio}}</h3>

  <div class="row">
    <div class="col-md-6">
      Cambiar criterio:
      <select id="criterio">
        <option value="ICDAS">ICDAS</option>
        <option value="OMS">OMS</option>
      </select>
    </div>
    <div class="col-md-1 offset-md-5">
      <button id="printBtn" type="button" class="btn btn-primary" name="button">
        <i class="fa fa-print" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <br>

  <div id="table_wrap">
    <table id="tbl_reporte" class="table table-bordered">
      <thead>
        <th>Índice</th>
        <th>Cariado</th>
        <th>Perdido</th>
        <th>Obturado</th>
      </thead>
      <tbody>
        {% for indice in indices %}
          <tr>
            <td>{{indice[0]}}</td>
            <td>{{indice[1]}}</td>
            <td>{{indice[2]}}</td>
            <td>{{indice[3]}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/datatables.min.js') }}"></script>
  <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('js/jspdf.min.js') }}"></script>
  <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
  <script src="{{ asset('js/html2canvas.min.js') }}"></script>
  <script src="{{ asset('js/reporte_indices.js') }}"></script>
  <script src="{{ asset('js/base64.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#criterio").val("{{criterio}}");
    });
    var fichaId = "{{fichaId}}";
    var nombre = "Reporte índices ficha " + fichaId + ".pdf";
    var criterio = "{{criterio}}";
    var logo_ues = "{{ asset('img/ues.jpg') }}";
    var logo_odonto = "{{ asset('img/foues.jpg') }}";

    to_data_url(logo_ues, function(dataUrl) {
      logo_ues = dataUrl;
    });

    to_data_url(logo_odonto, function(dataUrl) {
      logo_odonto = dataUrl;
    });
  </script>
{% endblock %}
