{% extends 'base.html.twig' %}

{% block title %}Ficha{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item active">
    Reportes
  </li>
{% endblock %}

{% block content %}
  {{ include('clinico/fichas/table.html.twig') }}



    <div class="features-boxed">
      <div class="row justify-content-center features">
        <div class="col-sm-6 col-md-5 col-lg-4 item">
          <a href="{{ path('reporte_indices', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}" class="text-dark">
            <div class="box">
              <i class="fa fa-file-pdf icon"></i>
              <h2 class="name">Reporte de índices y criterios <br/>&nbsp;</h2>
              <p class="description"></p>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 item">
          <a href="{{ path('reporte_tratamientos', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}" class="text-dark">
            <div class="box">
              <i class="fa fa-file-pdf icon"></i>
              <h2 class="name">Reporte de necesidades de tratamiento</h2>
              <p class="description"></p>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 item">
          <a href="{{ path('reporte_severidades', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}" class="text-dark">
            <div class="box">
              <i class="fa fa-file-pdf icon"></i>
              <h2 class="name">Reporte de Severidades de <br/> Caries</h2>
              <p class="description"></p>
            </div>
          </a>
        </div>
      </div>
    </div>
{% endblock %}
