{% extends 'base.html.twig' %}

{% block title %}
  Editando Expediente {{expedienteId}}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item active">
    {{ expediente.getCodigoExpediente() }}
  </li>
  <li class="breadcrumb-item active">
    Editar
  </li>
{% endblock %}

{% block content %}
  <div>
    {% include 'clinico/flow/pasos.html.twig' %}
  </div>
  {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_rest(form) }}

    {% include 'clinico/flow/botones.html.twig' with {
      craue_formflow_button_class_next: 'btn btn-primary btn-block',
      craue_formflow_button_class_back: 'btn btn-info btn-block ',
      craue_formflow_button_class_last: 'btn btn-success btn-block ',
      craue_formflow_button_label_next: 'Siguiente',
      craue_formflow_button_label_back: 'Atrás',
      craue_formflow_button_label_finish: 'Guardar cambios',

	  } %}

  {{ form_end(form) }}

{% endblock %}
