{% extends 'base.html.twig' %}

{% block title %}Expedientes{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/dtlist.css') }}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">
    Expedientes
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col" style="margin-top:15px;margin-bottom:15px;">
      <div class="table-responsive table-bordered">
        <table id="expedientes" class="table table-striped table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th># Expediente</th>
              <th>Nombres</th>
              <th>Fecha Nacimiento</th>
              <th>Número de DUI</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
              {% for exp in expedientes %}
                  {% if exp.id != 1 %}
                  <tr>
                      <td>{{ exp.getCodigoExpediente() }}</td>
                      <td>{{ exp.getPersona().getNombreCompleto() }}</td>
                      <td>{{ exp.getPersona().getNacimiento | date('Y-m-d') }}</td>
                      <td>{{ exp.getPersona().getDui() }}</td>
                      <td>
                      <div class="btn-group" role="group" style="z-index:10;">
                      <a class="btn btn-primary active btn-sm" role="button" href="{{ path('expediente_detalle',{expedienteId: exp.id() }) }}"
                      style="height:32px;margin-right:5px;" data-toggle="tooltip" data-placement="top" title="Ver detalles">
                      <i class="material-icons">remove_red_eye</i>
                      </a>
                      <a class="btn btn-info active btn-sm" role="button" href="{{ path('expediente_editar',{expedienteId: exp.id() }) }}"
                      style="height:32px;margin-right:5px;" data-toggle="tooltip" data-placement="top" title="Editar">
                      <i class="material-icons">edit</i>
                      </a>
                      <a class="btn btn-info active btn-sm" role="button" href="{{ path('fichas',{expedienteId: exp.id() }) }}"
                      style="height:32px;margin-right:5px;" data-toggle="tooltip" data-placement="top" title="Ver fichas">
                      <i class="material-icons">format_list_bulleted</i>
                      </a>
                       </div>
                      </td>
                  </tr>
                  {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block after_main %}
  <a class="btn btn-info btn-block tada animated float" role="button" href="{{ path('expediente_nuevo') }}" style="z-index:10;"><i class="fa fa-plus my-float"></i></a>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/datatables.min.js') }}"></script>
  <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $("#expedientes").DataTable({
          dom: '<"row"<"filterPad"f<"input-group-append">>> <"row"t><"row"><"d-flex justify-content-center"p><"clear">',
          sorting: false,
          ordering: false,
          emptyTable: "Sin datos que mostrar",
          language: {
            info: "",
            zeroRecords: "No se encontraron resultados",
            search: "",
            lengthMenu: "",
				    paginate: {
					       "first":"Primer",
					       "last":"Último",
					       "previous":"«",
					       "next":"»"
				    }
		      }
        });
        var filter = $("input[type='search']");
        filter.css({"width":"100%", "height": "5vh", "display":"in-line-block"});

        var filterdiv = $(".input-group-append");

        filterdiv.append($("<button>",{
          class: "btn btn-info active",
          type: "button"
        }).append($("<i>",{
            class: "fa fa-search"
          })
        ));
    });
  </script>
{% endblock %}
