{% extends 'base.html.twig' %}

{% block title %}Expediente{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item active">
    {{ expediente.getCodigoExpediente() }}
  </li>
{% endblock %}

{% block content %}
    <div class="row">
          <div class="col-12 col-sm-6 col-lg-6">
              <h4>EXPEDIENTE CLÍNICO</h4>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Código de expediente</th>
                    <td>{{ expediente.getCodigoExpediente() }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Nombre</th>
                    <td>{{ expediente.getPersona().getNombreCompleto() }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Fecha de nacimiento</th>
                    <td>{{ nacimiento | date('Y-m-d') }}</td>
                  </tr>
                  <tr>
                    <th scope="row">DUI</th>
                    <td>{%if expediente.getPersona().getDui() %}{{ expediente.getPersona().getDui() }} {%else%} N/A {%endif%}</td>
                  </tr>

                  {% for a in atributos %}
                    <tr>
                      <th scope="row">{{ a.getAtributo().getCatalogoTipo().getNombre() }}</th>
                      <td>{{ a.getAtributo().getNombre() }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <th scope="row">Email</th>
                    <td>
                    {% if email %}
                    {{email.getEmail()}}
                    {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Direccion</th>
                    <td>
                    {% if direccion %}
                    {{ direccion.getDivisionPolitica().getNombre() }}<br>{{ direccion.getDireccionArea().getNombre() }}
                    <br>{{ direccion.getCalle() }}<br>{{ direccion.getDireccion() }}
                    {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Telefonos</th>
                    <td>{%for telefono in telefonos  %}
                      {% if telefono.getTelefonoTipo() != "Telefono Apoderado" %}
                    {{ telefono.getTelefonoTipo() }} : {{telefono}} <br> {%endif%}
                       {%endfor%}</td>
                  </tr>
                  {%if expediente.getPersona().getCentroEducativo() %}
                  <tr>
                    <th scope="row">Centro Educativo</th>
                    <td>{{ expediente.getPersona().getCentroEducativo() }}</td>
                  </tr>
                  {%endif%}
                  <tr>
                    <th scope="row">Fecha Creacion</th>
                    <td>{{expediente.getCreado()|date('Y-m-d')}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Consentimiento</th>
                    <td></td>
                  </tr>


                </tbody>
              </table>

                {%for telefono in telefonos  %}
                    {% if telefono.getTelefonoTipo() == "Telefono Apoderado" %}
              <h4>Datos del Encargado</h4>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Nombre</th>
                    <td>{{telefono.getContacto()}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Telefono</th>
                    <td> {{telefono}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td> {% if email_apoderado %} {{email_apoderado.getEmail()}}{% endif %}</td>
                  </tr>
                  <tr>
                    <th scope="row">DUI</th>
                    <td>{{ expediente.getPersona().getDuiApoderado() }}</td>
                  </tr>
                </tbody>
              </table>

            {%endif%}
           {%endfor%}
         </div>

          <div class="col-12 col-sm-6 col-lg-6">
            <h4>FICHAS</h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                  <th scope="row">Fichas trabajadas</th>
                  <td>{{fichas_trabajadas}}</td>
                  </tr>
                  {% if fichas %}
                  <tr>
                    <th scope="row">Estudiante</th>
                    <th scope="row">Fecha creacion</th>
                  </tr>
                  {% endif %}
                  {% for f in fichas %}
                  <tr>
                    <td>{{f[0]}}</td>
                    <td>{{f[1]|date('Y-m-d')}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
    </div>
{% endblock %}

{% block after_main %}
  <a class="btn btn-info active float" role="button" href="{{ path('expediente_editar', {'expedienteId': expedienteId}) }}"
  style="z-index:10;"><i class="fa fa-pencil-alt my-float"></i></a>
{% endblock %}
