

<input id="idEvaluacion" type="hidden" value="{{ evaluacion.id }}" />

<table class="table table-striped table-bordered table-sm table-responsive-sm">
    <thead>
    <tr>
        <th>Carnet</th>
        <th>Nombre</th>
        <th class="align-middle">Nota</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for calificacion in calificaciones %}
        <tr>
            <td>{{ calificacion.estudianteCurso.estudiantePlanEstudio.estudiante.carnet }}</td>
            <td>{{ calificacion.estudianteCurso.estudiantePlanEstudio.estudiante.persona.nombre }}</td>
            <td><span class="badge badge-dark tada animated" style="font-size:15px;width:50px;height:25px;" data-toggle="tooltip" t>{{ calificacion.nota }}</span></td>
            <td> <button onclick="onLoadDetalle({{calificacion.estudianteCurso.id  }})" class="btn btn-primary btn-block" type="button">Detalle</button>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>