<div class="form-group row">
    <label for="fechaCalificar" class="col-sm-1 col-form-label">Fecha&nbsp;</label>
    <div class="col-sm-11">
        <input type="date" id="fechaCalificar" class="form-control"
                {% if not grupos %} onchange="obtenerCalificaciones()" {% else %} onchange="obtenerCalificacionesGrupo()" {% endif %}>
    </div>
</div>

<input id="idEvaluacion" type="hidden" value="{{ evaluacion.id }}">
{% if grupos %}
    <div class="form-group">
        <select name="grupo" id="grupo" class="form-control" onchange="obtenerCalificacionesGrupo()">
            <option value="">Seleccione un grupo</option>
            {% for grupo in grupos %}
                <option value="{{ grupo.id }}">{{ grupo.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button onclick="updateCalculada()" class="btn btn-primary btn-block" type="button">Guardar</button>
    </div>
{% endif %}
<!-- Aqui se carga la evaluacion del grupo -->
<div id="calificacionGrupo">
    <span class="text-danger">Seleccione una fecha</span>
</div>