<input id="evaluacionPadre" type="hidden" value="{{ grupo.evaluacion.id }}"/>

<table class="table table-striped table-bordered table-sm" id="notasGrupo">
    <thead>
    <tr>
        <th>Criterio</th>
        <th class="align-middle">Nota</th>
    </tr>
    </thead>
    <tbody>
    {% for calificacion in criterios %}
        <tr>
            <td>{{ calificacion.evaluacion.nombre }}&nbsp;</td>
            <td><input type="number" lang="en" min="0.0" max="10.0" step="0.01" value="{{ calificacion.nota }}" style="width:100%;"
                       onchange="calcularNotaGrupo()"></td>
            <td style="display:none;">{{ calificacion.evaluacion.ponderacion }}</td>
            <td style="display:none;">{{ calificacion.evaluacion.id }}</td>

        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="table-info">
        <td><strong>Nota</strong></td>
        <td><span class="badge badge-info tada animated" id="totalGroup" style="font-size:19px;width:50px;height:29px;"
                  data-toggle="tooltip">{{ grupo.nota }}</span><br></td>
    </tr>
    </tfoot>
</table>

{% if not nuevo %}

    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
            <th>Carnet</th>
            <th>Nombre</th>
            <th>Penalizaciones</th>
            <th class="align-middle">Nota</th>
            <th>Penalizar</th>
        </tr>
        </thead>
        <tbody>
        {% for calificacion in calificaciones %}
            <tr>
                <td>{{ calificacion.estudianteCurso.estudiantePlanEstudio.estudiante.carnet }}</td>
                <td>{{ calificacion.estudianteCurso.estudiantePlanEstudio.estudiante.persona.nombre }}</td>
                <td>
                    <ul style="padding-left:15px;font-size:14px;margin-bottom:0px;">
                        {% for calificacionPenalizacion in calificacion.penalizaciones %}
                            <li>{{ calificacionPenalizacion.penalizacion.nombre }}&nbsp;
                                <button onclick="removePenalizacion({{ calificacionPenalizacion.id }})" class="btn btn-danger active btn-sm" type="button"
                                        style="height:20px;margin-right:0px;padding-top:0px;"><i class="fa fa-minus"></i></button>
                                <br></li>
                        {% endfor %}
                    </ul>
                </td>
                <td><span class="badge badge-dark tada animated" style="font-size:15px;width:50px;height:25px;"
                          data-toggle="tooltip">{{ calificacion.nota }}</span></td>
                <td>
                    <div class="btn-group" role="group">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i
                                        class="fa fa-plus" style="font-size:16px;"></i>&nbsp;
                            </button>
                            <div class="dropdown-menu" role="menu">
                                {% for penalizacion in penalizaciones %}
                                    <a class="dropdown-item" role="presentation"
                                       onclick="addPenalizacion({{ penalizacion.id }},{{ calificacion.id }}); return false;"
                                       href="#">{{ penalizacion.nombre }} </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% else %}
    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
            <th>Carnet</th>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.estudianteCurso.estudiantePlanEstudio.estudiante.carnet }}</td>
                <td>{{ estudiante.estudianteCurso.estudiantePlanEstudio.estudiante.persona.nombre }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}