
<div class="modal-dialog" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Estudiante: {{ calificacionPadre.estudianteCurso.estudiantePlanEstudio.estudiante.persona.nombreCompleto  }}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <input id="evaluacionPadre" type="hidden" value="{{ calificacionPadre.evaluacion.id }}" />
                <input id="estudianteCurso" type="hidden" value="{{ calificacionPadre.estudianteCurso.id }}" />

                <table class="table table-striped table-bordered table-sm" id="notasGrupo">
                    <thead>
                    <tr>
                        <th>Criterio</th>
                        <th class="align-middle">Nota</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for calificacion in criterios %}
                        <tr>
                            <td>{{ calificacion.evaluacion.nombre }}&nbsp;</td>
                            <td><input type="number" lang="en"  min="0.0" max="10.0" step="0.01" value="{{ calificacion.nota }}" style="width:100%;" onchange="calcularNotaGrupo()" ></td>
                            <td style="display:none;">{{ calificacion.evaluacion.ponderacion}}</td>
                            <td style="display:none;">{{ calificacion.evaluacion.id}}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="table-info">
                        <td><strong>Nota</strong></td>
                        <td><span class="badge badge-info tada animated" id="totalGroup" style="font-size:19px;width:50px;height:29px;" data-toggle="tooltip" >{{ calificacionPadre.nota }}</span><br></td>
                    </tr>
                    </tfoot>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" onclick="updateCalculadaIndividual()" type="submit">Guardar</button>
            </div>
            <div class="alert alert-danger" id="alert_template" style="display: none;">
                <button type="button" class="close">×</button>
            </div>
    </div>
</div>