<div class="form-group">
    <label for="fechaCalificar">Fecha&nbsp;</label>
    <input id="fechaCalificar" name="fechaCalificar" class="form-control-sm" type="date" value="{{ fecha? fecha|date('Y-m-d') : null }}"
           onchange="onSelectItem($('#jqxTree').jqxTree('getSelectedItem'));">
</div>
<div class="col">
    <div class="table-responsive table-bordered">
        <table class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                <th>Carnet</th>
                <th>Nombre</th>
                <th class="align-middle">Nota</th>
                <th>Permiso</th>
            </tr>
            </thead>
            <tbody>
            {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.estudiantePlanEstudio.estudiante.carnet }}</td>
                    <td> {{ estudiante.estudiantePlanEstudio.estudiante.persona.nombreCompleto }}</td>
                    <td><input type="number" disabled style="width:100%;" step="0.01" min="0" max="10"></td>
                    <td><span class="float-right switch switch-sm"><input type="checkbox" id="switch-sm3" class="switch"><label
                                    for="switch-sm3"><br></label></span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>