<input id="idEvaluacion" type="hidden" value="{{ evaluacion.id }}"/>
<div class="col">
    <div class="form-group">
        <button onclick="update()" class="btn btn-primary form-control" type="button">Guardar</button>
    </div>
</div>
<div class="col">
    <div class="table-responsive table-bordered">
        <table id="tblUnica" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                <th>Carnet</th>
                <th>Nombre</th>
                <th class="align-middle">Nota</th>
            </tr>
            </thead>
            <tbody>
            {% for calificacion in calificaciones %}
                <tr>
                    <td>{{ calificacion.estudianteCurso.estudiantePlanEstudio.estudiante.carnet }}</td>
                    <td> {{ calificacion.estudianteCurso.estudiantePlanEstudio.estudiante.persona.nombreCompleto }}</td>
                    <td><input maxlength="5" type="number" lang="en" max="10.00" min="0.00" step="0.01" value="{{ calificacion.nota }}"
                               style="width:100%;"></td>
                    <td style="display:none;">{{ calificacion.estudianteCurso.id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
