{% extends 'base.html.twig' %}

{% block title %}Registro de notas{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/myestilos/botonFlotante.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><span>Desempeño Académico</span></li>
    <li class="breadcrumb-item"><a><span>Registro de notas</span></a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="margin-bottom:20px;hyphens:manual;">Registro de notas&nbsp;</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <select name="curso" id="curso" class="form-control">
                    <option value="">Seleccione un curso</option>
                    {% for curso in cursos %}
                        <option value="{{ curso.id }}">{{ curso.curso.codigo }} - {{ curso.curso.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <select name="programa" id="programa" class="form-control"></select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <select id="ciclo" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="row" style="min-height: 500px">
        <div class="col-md-4 col-lg-3" style="padding-top:15px;">
            <div id="jqxTree" style="border-color:#ffffff;"></div>
        </div>

        <div class="col-md-8 col-lg-9" style="padding-top:15px;">
            <div id="notas" class="notas"></div>
        </div>
    </div>
    <div style="margin:80px;"></div>
    <div class="modal fade" id="myModal"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/aos.js') }}"></script>

    <script src="{{ asset('vendor/jqwidgets/jqxcore.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxbuttons.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxscrollbar.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxpanel.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxtree.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxdata.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxdatatable.js') }}"></script>

    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/bs-animation.js') }}"></script>

    <script src="{{ asset('js/arbolNotas.js') }}"></script>
    <script src="{{ asset('js/evaluaciones.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('select').select2({width: '100%'});
        })
    </script>
    <script>
        function foreach(root, selector, callback) {
            if (typeof selector == 'string') {
                var all = root.querySelectorAll(selector);
                for (var each = 0; each < all.length; each++) {
                    callback(all[each]);
                }
            } else {
                for (var each = 0; each < selector.length; each++) {
                    foreach(root, selector[each], callback);
                }
            }
        }

        function walk(table) {
            var table = document.getElementById(table);
            var data = [];
            if (table) {
                foreach(table, 'tr', function (row) {
                    var record = [];
                    foreach(row, 'td', function (cell) {
                        if (cell.children.length > 0) {
                            record.push(cell.children[0].value);
                        } else {
                            record.push(cell.innerText);
                        }

                    });
                    if (record.length > 0) {
                        data.push(record);
                    }

                });
            }
            return data;
        }

        //Obteniendo la unidad de integracion
        $('#programa').change(function () {
            getArbol();
        });

        $('#ciclo').change(function () {
            getArbol();
            $('#jqxTree').on('select', function (event) {
                var args = event.args;
                var item = $('#jqxTree').jqxTree('getItem', args.element);
            });
        });
    </script>
{% endblock %}