{% extends 'base.html.twig' %}

{% block title %}Editando Ficha {{fichaId}}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/switches.css') }}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item active">
    {{fichaId}}
  </li>
  <li class="breadcrumb-item active">
    Editar
  </li>
{% endblock %}

{% block content %}
  <div>
    <table class="table table-bordered">
      <tbody>
          <tr>
            <th scope="row">Número de expediente</th>
            <td>{{ expediente.getCodigoExpediente() }}</td>
            <th scope="row">Paciente</th>
            <td>{{ expediente.getPersona().getNombreCompleto() }}</td>
            <th scope="row">Edad</th>
            <td>{{ edad }}</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div>
    {% include 'clinico/flow/pasos.html.twig' %}
  </div>

  {{ form_start(form) }}

  {% if flow.getCurrentStepNumber() == 5 %}
  {% for e in form %}
      {% if e is same as(form.PesoAlNacer) %}
      <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
        <td>{{ form_widget(form.PesoAlNacer_units) }}
        </td></tr><tr>{{form_errors(e)}} {{form_help(e)}}</tr></table></div>

      {% elseif e is same as(form.Duracion) %}
          <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
            <td>{{ form_widget(form.Duracion_units) }}
            </td></tr><tr>{{form_errors(e)}} {{form_help(e)}}</tr></table></div>

      {% elseif e is same as(form.EdadLecheCompleta) %}
            <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
              <td>{{ form_widget(form.EdadLecheCompleta_units) }}
              </td></tr><tr> <td>{{form_errors(e)}} {{form_help(e)}}</td> </tr></table></div>

      {% elseif e is same as(form.EdadFormula) %}
            <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
              <td>{{ form_widget(form.EdadFormula_units) }}
              </td></tr><tr> <td>{{form_errors(e)}} {{form_help(e)}}</td> </tr></table></div>

      {% elseif e is same as(form.EdadAlimentosSolidos) %}
          <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
            <td>{{ form_widget(form.EdadAlimentosSolidos_units) }}
          </td></tr><tr> <td>{{form_errors(e)}} {{form_help(e)}}</td> </tr></table></div>

      {% elseif e is same as(form.EdadEnQueGateo)  %}
          <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
          <td>{{ form_widget(form.EdadEnQueGateo_units) }}
          </td></tr><tr> <td>{{form_errors(e)}} {{form_help(e)}}</td> </tr></table></div>

     {% elseif  e is same as(form.EdadEnQueCamino) %}
          <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
          <td>{{ form_widget(form.EdadEnQueCamino_units) }}
          </td></tr><tr> <td>{{form_errors(e)}} {{form_help(e)}}</td> </tr></table></div>

      {% elseif e is same as(form.EdadEnQueHablo) %}
         <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
         <td>{{ form_widget(form.EdadEnQueHablo_units) }}
         </td></tr><tr> <td>{{form_errors(e)}} {{form_help(e)}}</td> </tr></table></div>

      {% else %}
        {{ form_row(e) }}
      {% endif %}
   {% endfor %}

   {% elseif flow.getCurrentStepNumber() == 6 %}

       <table style="width:100%" class="table">
      {% set tabla = 60  %}
      {% for e in form %}
       {% for c in e %}
        <tr>
          {% if loop.index == 1 %}
          <td rowspan="{{loop.length}}">{{form_label(e)}}</td>
          {% endif %}
          <td style="width:40%" >{{form_widget(c)}}</td>
          <td style="width:40%">
            {{ form_widget(form["TA" ~ tabla]) }}
            {% set tabla = tabla + 1 %}
          </td>
        </tr>
       {% endfor %}

    {% endfor %}
    </table>

{% elseif flow.getCurrentStepNumber() == 9 %}

{% for e in form %}
  {% if e == form.EdadTraumatismoDentario %}
    <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
      <td>{{ form_widget(form.EdadTraumatismoDentario_units) }}
      </td></tr><tr> <td>{{form_errors(e)}} {{form_help(e)}}</td> </tr></table></div>
  {% else %}
    {{ form_row(e) }}
  {% endif %}
{% endfor %}

{% elseif flow.getCurrentStepNumber() == 11 %}

{% for e in form %}
  {% if e is same as(form.PesoActual)  %}
    <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
      <td>{{ form_widget(form.PesoActual_units) }}
      </td></tr><tr> <td>{{form_errors(e)}} {{form_help(e)}}</td> </tr></table></div>

  {% elseif e is same as(form.TallaActual) %}
    <div style="padding-bottom:20px"><table width="100%"><tr><td width="17%">{{ e.vars.label }}</td><td width="30%">{{form_widget(e)}}</td>
      <td>{{ form_widget(form.TallaActual_units) }}
      </td></tr><tr> <td>{{form_errors(e)}} {{form_help(e)}}</td> </tr></table></div>


  {% else %}
    {{ form_row(e) }}
  {% endif %}
{% endfor %}

  {% endif %}





    {{ form_rest(form) }}

    {% include 'clinico/flow/botones.html.twig' with {
      craue_formflow_button_class_next: 'btn btn-primary btn-block',
      craue_formflow_button_class_back: 'btn btn-info btn-block ',
      craue_formflow_button_class_last: 'btn btn-success btn-block ',
      craue_formflow_button_label_next: 'Siguiente',
      craue_formflow_button_label_back: 'Atrás',
      craue_formflow_button_label_finish: 'Guardar cambios',

	  } %}

  {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/ficha.js') }}"></script>
  <script>
      $(document).ready(function () {
          $('.form-check').addClass('switch');
          $('.form-check-label').addClass('visita_odonto');
      })
  </script>
<script>
var prefijo = 'datosPedType_';
dict = {
    "DificultadesNeonatales_39" : "ExpliqueDifNeoNat",
    "AlimentacionMaterna_49" : "Duracion",
    "LecheCompleta_51" : "EdadLecheCompleta",
    "Formula_53" : "EdadFormula",
    "AlimentosSolidos_55" : "EdadAlimentosSolidos",
    "SistemaNervioso_60" : "60",
    "SistemaNervioso_61" : "61",
    "SistemaCardiovascular_62" : "62",
    "SistemaCardiovascular_63" : "63",
    "SistemaHematopoyetico_64" : "64",
    "SistemaHematopoyetico_65" : "65",
    "SistemaHematopoyetico_66" : "66",
    "SistemaRespiratorio_67" : "67",
    "SistemaGastrointestinal_68" : "68",
    "SistemaGastrointestinal_69" : "69",
    "SistemaGastrointestinal_70" : "70",
    "SistemaEndocrino_71" : "71",
    "SistemaEndocrino_72" : "72",
    "SistemaGenitourinario_73" : "73",
    "PielYMucosa_74" : "74",
    "PielYMucosa_75" : "75",
    "PielYMucosa_76" : "76",
    "TrastornosSensoriales_77" : "77",
    "Alergias_78" : "78",
    "Alergias_79" : "79",
    "Alergias_80" : "80",
    "Alergias_81" : "81",
    "HaAsistidoAConsultaEnLosUltimos6Meses_102" : "PorCualMotivo",
    "SeEncuentraBajoTratamiento_104" : "MotivoDeTratamiento",
    "IntervencionesQuirurgicas_114" : "MotivoDeIntervencion",
    "HaSidoHospitalizado_116" : "MotivoHospitalizacion",
    // "EsquemaDeVacunacion_130" : "EsquemaIncompleto",
    "TraumatismosDentarios_133" : ["TipoTraumatismo", "EdadTraumatismoDentario","TratamientoRecibido"],
    "PrefiereAlimentosBlandos_164" : "CualesAlimentosBlandos",
    "Biberon_182" : ["SeDuermeConelB", "ContenidoDelBiberon"],
    "TomaLeche_187" : ["CuantosVasos", "ConQueTomaSuLeche"],
    "DesviacionATM_438" : ["Apertura", "Cierre", "Ruidos", "Saltos"],
    "LineaMediaSuperior_503" : ["LineaMediaSuperiorLado", "LineaMediaSuperiorOpts"],
    "LineaMediaInferior_505" : ["LineaMediaInferiorLado", "LineaMediaInferiorOpts"],
    "Hobby_705" : "Hobby_exp",
    "Deportes_707" : "Deportes_exp",
    "Mascotas_709" : "Mascotas_exp",
    "ProgramasTV_711" : "ProgramasTV_exp",
    "Musica_713" : "Musica_exp",
    "Fobias_715" : "Fobias_exp",
    "Recompensas_717" : "Recompensas_exp",
    "Castigo_719" : "Castigo_exp",
    "OtrasActividades_721" : "OtrasActividades_exp",
    "DiastemasCheck_507" : "Diastemas",
    "PerdidasPrematuraCheck_513" : "PerdidasPrematura"

  }

function setEstado(boton, texto){
  ocultador = $('#'+prefijo+boton);
  if(ocultador[0]){
    if(isNaN(texto)) ocultado = $('#'+prefijo+texto).parent().parent();
    else ocultado = $('#'+prefijo+"TA"+texto);
    if(!ocultador[0].checked) ocultado.hide();
    else ocultado.show();
  }
}

function ocultarDinamico(boton, texto){
  if(Array.isArray(texto)){
    $('#'+prefijo+boton).on("click", function() {
      texto.forEach((item, i) => {
        setEstado(boton, item);
      });
    });
  }else{
    $('#'+prefijo+boton).on("click", function() {
      setEstado(boton, texto);
    });
  }
}

$(function(){
  for (const [boton, texto] of Object.entries(dict)){
    if(Array.isArray(texto)) texto.forEach((item, i) => {setEstado(boton, item);});
    else setEstado(boton, texto);

    ocultarDinamico(boton, texto);
  }
});

//ESPECIALES
//"EsquemaDeVacunacion_130" : "EsquemaIncompleto",
function ocultar1(){

  ocultador = $('#'+prefijo+'EsquemaDeVacunacion_129');
  botonOriginal = $('#'+prefijo+'EsquemaDeVacunacion_130');

  if(ocultador[0]){
    ocultador.on("click", function(){
      ocultado = $('#'+prefijo+'EsquemaIncompleto').parent().parent();
      if(ocultador[0].checked) {ocultado.hide();}
      else {ocultado.show();}
      botonOriginal[0].checked = !ocultador[0].checked;
    });

    botonOriginal.on("click", function(){
      ocultado = $('#'+prefijo+'EsquemaIncompleto').parent().parent();
      if(!ocultador[0].checked) {ocultado.hide();}
      else {ocultado.show();}
      ocultador[0].checked = !botonOriginal[0].checked;
    });
  }
}

function ocultarInverso(){
  ocultador1 = $('#'+prefijo+'SeCepillaSolo_139');
  ocultado1 = $('#'+prefijo+'QuienLoCepilla').parent().parent();
  if(ocultador1[0].checked) ocultado1.hide();
  if(ocultador1[0]){
    ocultador1.on("click", function(){
      if(ocultador[0].checked) {ocultado1.hide();}
      else {ocultado1.show();}
    });
  }
}

$(function(){
  ocultar1();
  ocultarInverso();
});

</script>

{% endblock %}
