{% extends 'base.html.twig' %}

{% block title %}Ficha{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item active">
    Datos clinicos
  </li>
{% endblock %}

{% block content %}
  {{ include('clinico/fichas/table.html.twig') }}

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Datos de consulta<br></h3>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Motivo consulta</th>
            <th scope="col">Historia de enfermedad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ficha.getMotivoConsulta}}</td>
            <td>{{ficha.getHistoriaEnfermedad}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Historial odontologico<br></h3>
      </div>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th scope="row">Embarazada</th>
          <td>{{ficha.getEmbarazada? 'Si':'No'}}</td>
        </tr>
          <tr>
            <th scope="row">Visita al odontologo</th>
            <td>{{ficha.getVisitaOdontologo ? 'Si':'No'}}</td>
          </tr>
          <tr>
            <th scope="row">Reacciones adversas</th>
            <td>{{ficha.getReaccionesAdversas ? 'Si':'No'}}</td>
          </tr>
          {% if ficha.getReaccionesAdversas %}
            <tr>
              <th scope="row">Tipo de reaccion</th>
              <td>{{ficha.getTipoReaccion}}</td>
            </tr>
          {% endif %}
          <tr>
            <th scope="row">Trauma dentoalveolar</th>
            <td>{{ficha.getTraumaDentoalveolar ? 'Si':'No'}}</td>
          </tr>
          {% if ficha.getTraumaDentoalveolar %}
            <tr>
              <th scope="row">Pieza de trauma</th>
              <td>{{ficha.getPieza}}</td>
            </tr>
          {% endif %}
          <tr>
            <th scope="row">Frecuencia de cepillado</th>
            <td>{{ficha.getFrecuenciaCepillado.getNombre}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Aditamientos higiene bucal</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not aditamientos %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for adi in aditamientos %}
            <tr>
              <th scope="row">{{adi.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Evaluacion sistemica</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
        {% if not evaluaciones %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for eva in evaluaciones %}
            <tr>
              <th scope="row">{{eva.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Habitos bucales</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not habitos %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for hab in habitos %}
            <tr>
              <th scope="row">{{hab.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Padecimientos bucales</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not padecimientos %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for pad in padecimientos %}
            <tr>
              <th scope="row">{{pad.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Enfermedades</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not enfermedades %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for enf in enfermedades %}
            <tr>
              <th scope="row">{{enf.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Consumo de medicamentos</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not medicamentos %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for med in medicamentos %}
            <tr>
              <th scope="row">{{med.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Alergia a productos</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not alergias %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for al in alergias %}
            <tr>
              <th scope="row">{{al.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Operaciones o traumatismos</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not traumatismos %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for tra in traumatismos %}
            <tr>
              <th scope="row">{{tra.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Consumo de sustancias</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not sustancias %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for sus in sustancias %}
            <tr>
              <th scope="row">{{sus.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if isMujer %}
    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">En mujeres</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
            <tr>
              <th scope="row">Semanas embarazo</th>
              <td>{{clinicos.getSemanasEmbarazo|default("No registrado")}}</td>
            </tr>
            <tr>
              <th scope="row">No. Embarazos</th>
              <td>{{clinicos.getNumeroEmbarazos|default("No registrado")}}</td>
            </tr>
            <tr>
              <th scope="row">No. Abortos</th>
              <td>{{fclinicos.getNumeroAbortos|default("No registrado")}}</td>
            </tr>
            <tr>
              <th scope="row">FUR</th>
              <td>{{clinicos.getFur|default("No registrado")}}</td>
            </tr>
          </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Condiciones en mujeres</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not mujeres %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for muj in mujeres %}
            <tr>
              <th scope="row">{{muj.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% endif %}

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Historial enfermedades</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not historial %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for his in historial %}
            <tr>
              <th scope="row">{{his.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Enfermedades en familiares</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not familiares %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for fam in familiares %}
            <tr>
              <th scope="row">{{fam.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Molestias</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% if not molestias %}
            <tr>
              <th scope="row">No posee</th>
            </tr>
          {% endif %}
          {% for mol in molestias %}
            <tr>
              <th scope="row">{{mol.getAtributo.getNombre}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Vivienda</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Material</th>
            <td>{{ficha.getMaterialCasa.getNombre|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Cuartos</th>
            <td>{{clinicos.getCuartos|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Habitantes</th>
            <td>{{clinicos.getHabitantes|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">PersonasxCuarto</th>
            <td>{{clinicos.getPersonas|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Servicios</th>
            <td></td>
          </tr>
           {% if not servicios %}
              <th scope="row">No posee</th>
          {% endif %}
          {% for ser in servicios %}
            <tr>
              <th></th>
              <td scope="row">{{ser.getAtributo.getNombre}}</td>
            </tr>
          {% endfor %}
          <tr>

        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Alimentacion</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Leche</th>
            <td>{{clinicos.getLeche|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Huevo</th>
            <td>{{clinicos.getHuevo|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Carne</th>
            <td>{{clinicos.getCarne|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Frutas</th>
            <td>{{clinicos.getFrutas|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Verduras</th>
            <td>{{clinicos.getVerduras|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Legumbres</th>
            <td>{{clinicos.getLegumbres|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Cereales</th>
            <td>{{clinicos.getCereales|default("No registrado")}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Higiene</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Baños (semanal)</th>
            <td>{{clinicos.getBano|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Cambios de ropa (semanal)</th>
            <td>{{clinicos.getRopa|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Cepillados (diario)</th>
            <td>{{clinicos.getCepillo|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Hilo dental (diario)</th>
            <td>{{clinicos.getHilo|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Enjuague bucal (diario)</th>
            <td>{{clinicos.getEnjuague|default("No registrado")}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Lesiones</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Dolor de boca</th>
            <td>{{ficha.getLesion.getNombre|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Tipo de lesion</th>
            <td>{{ficha.getTipoLesion.getNombre|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Consistencia</th>
            <td>{{ficha.getConsistenciaLesion.getNombre|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Localizacion</th>
            <td>{{clinicos.getLocalizacionLesion|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Color</th>
            <td>{{clinicos.getColorLesion|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Tamaño</th>
            <td>{{clinicos.getTamanoLesion|default("No registrado")}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Exploracion fisica</h3>
      </div>
        <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Pulso</th>
            <td>{{clinico.getPulso|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Frec. Respiratoria</th>
            <td>{{clinico.getFrecuenciaRespiratoria|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Frec. Cardiaca</th>
            <td>{{clinico.getFrecuenciaCardiaca|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Presion arterial</th>
            <td>{{clinico.getPresionArterial|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Peso</th>
            <td>{{clinico.getPeso|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Estatura</th>
            <td>{{clinico.getEstatura|default("No registrado")}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h3 class="text-center">Otros</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Orientacion sexual</th>
            <td>{{ficha.getOrientacionSexual.getNombre|default("No registrado")}}</td>
          </tr>
          <tr>
            <th scope="row">Transfusiones</th>
            <td>{{ficha.getTransfusiones.getNombre|default("No registrado")}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

{% endblock %}


{% block after_main %}
{% if editable%}
  <a class="btn btn-info active float" role="button" href="{{ path('ficha_editar', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}"
  style="z-index:10;"><i class="fa fa-pencil-alt my-float"></i></a>
  {% endif %}
{% endblock %}

