{% extends 'base.html.twig' %}

{% block title %}Ficha{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item active">
    Datos clinicos
  </li>
{% endblock %}

{% block content %}
  {{ include('clinico/fichas/table.html.twig') }}

<div class="row">

{% for categoria in categorias %}

  <strong>  </strong><br>
  <div class="col-md-6 col-sm-6">
    <div class="col-12" style="padding-top: 5%;">
      <h3 class="text-center">{{categoria.getNombreCat() }}<br></h3>
    </div>
    <table class="table table-bordered">
      <tbody>
      {% for pregunta in preguntas %}
        {%if pregunta.getCategoria() == categoria %}
         <tr>
           <th scope="col">{{pregunta.getNombrePreg()}}</th>
         </tr>
           <td>
            {% for opcion in opciones %}
              {%if opcion.getPregunta() == pregunta %}
                  {% for respuesta in respuestas %}
                      {% if respuesta.getOpcionesPregunta() == opcion %}
                        {% if respuesta.getOpcionesPregunta().getPreguntaCompleja() <= 120 %}
                        &#10003;{{ opcion.getDescripcion() }} {{respuesta.getOpcionesPregunta().getNombreOpcion()}}<br>
                        {% elseif respuesta.getDescripcion() is not same as(null) %}
                        <br>
                        <strong>{{ opcion.getNombreOpcion() }}</strong>
                        <p style="padding-left:1em;"> {{respuesta.getDescripcion()}} {{respuesta.getUnidades()}}</p>
                        {% endif %}
                      {% endif %}
                  {% endfor %}
              {% endif %}
            {% endfor %}
            </td>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
    {% endfor %}

</div>


{% endblock %}


{% block after_main %}
{% if editable %}
  <a class="btn btn-info active float" role="button" href="{{ path('ficha_editar', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}"
  style="z-index:10;"><i class="fa fa-pencil-alt my-float"></i></a>
  {% endif %}
{% endblock %}
