{% extends 'base.html.twig' %}

{% block title %}Fichas{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item ">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item ">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item active">
    Fichas
  </li>
{% endblock %}

{% block content %}

  <table class="table table-bordered">
  <tbody>
      <tr>
        <th scope="row">Expediente</th>
        <td>{{ codigo_expediente }}</td>
        <th scope="row">Paciente</th>
        <td>{{ persona.getNombreCompleto() }}</td>
        <th scope="row">Edad</th>
        <td>{{ edad }}</td>
      </tr>
  </tbody>
</table>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">#Ficha</th>
        <th scope="col">Estudiante</th>
        <th scope="col">Edad al atenderse</th>
        <th scope="col">Fecha atencion</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for ficha in fichas %}
        <tr>
          <th scope="row">{{ ficha[0].id }}</th>
          <td>{{ ficha[1] }}</td>
          <td>{{ ficha[2] }}</td>
          <td>{{ ficha[0].getFechaControl|date('Y-m-d') }}</td>
          <td>
                <div class="btn-group">
                  <a class="btn btn-primary" role="button" href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': ficha[0].id}) }}">Ver</a>
                  <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" type="button"></button>
                  <div class="dropdown-menu dropdown-menu-left" role="menu">
                    <a class="dropdown-item" role="presentation" href="{{ path('ficha_ped_editar', {'expedienteId': expedienteId, 'fichaId': ficha[0].id}) }}">Editar</a>
                    <a class="dropdown-item" role="presentation" href="{{ path('seguimiento_conductual', {'expedienteId': expedienteId, 'fichaId': ficha[0].id}) }}">Seguimiento Conductual</a>
                    <a class="dropdown-item" role="presentation" href="{{ path('odontograma_icdas', {'expedienteId': expedienteId, 'fichaId': ficha[0].id}) }}">Odontograma</a>
                    <a class="dropdown-item" role="presentation" href="{{ path('tratamiento_plan', {'expedienteId': expedienteId, 'fichaId': ficha[0].id}) }}">Tratamientos</a>
                    <a class="dropdown-item" role="presentation" href="{{ path('riesgos_cariogenicos', {'expedienteId': expedienteId, 'fichaId': ficha[0].id}) }}">Riesgo</a>
                  </div>
                </div>
              </td>
        </tr>
        <tr></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block after_main %}
  <a class="btn btn-info btn-block float" role="button" href="{{ path('ficha_nueva', {'expedienteId': expedienteId}) }}" style="z-index:10;"><i class="fa fa-plus my-float"></i></a>
{% endblock %}
