{% extends 'base.html.twig' %}

{% block title %}Nueva ficha{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/switches.css') }}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item active">
    Nueva
  </li>
{% endblock %}

{% block content %}
  <div>
    <table class="table table-bordered">
      <tbody>
          <tr>
            <th scope="row">Número de expediente</th>
            <td>{{ expedienteId }}</td>
            <th scope="row">Paciente</th>
            <td>{{ expediente.getPersona().getNombreCompleto() }}</td>
            <th scope="row">Edad</th>
            <td>{{ edad }}</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div>
    {% include 'clinico/flow/pasos.html.twig' %}
  </div>
  {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_rest(form) }}

    {% include 'clinico/flow/botones.html.twig' with {
      craue_formflow_button_class_next: 'btn btn-primary btn-block',
      craue_formflow_button_class_back: 'btn btn-info btn-block ',
      craue_formflow_button_class_last: 'btn btn-success btn-block ',
      craue_formflow_button_label_next: 'Siguiente',
      craue_formflow_button_label_back: 'Atrás',
      craue_formflow_button_label_finish: 'Guardar',

	  } %}

  {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/ficha.js') }}"></script>
    <script>
      $(document).ready(function () {
          $('.form-check').addClass('switch');
          $('.form-check-label').addClass('visita_odonto');
      })
    </script>
{% endblock %}
