{% extends 'base.html.twig' %}

{% block title %}Ficha{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item active">
    {{fichaId}}
  </li>
{% endblock %}

{% block content %}
  {{ include('clinico/fichas/table.html.twig') }}

  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4" style="padding:15px;">
      <div class="card" style="background-color:rgb(238,244,247);">
        <div class="card-body" style="height:200px;">
          <h4 class="card-title" style="font-size:20px;">Datos clinicos</h4>
          <p class="text-muted card-text">Historia odontologica&nbsp;<br>Habitos bucales<br></p>
          <a class="btn btn-primary btn-block" role="button" href="{{ path('ficha_ped_expandida', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4" style="padding:15px;">
      <div class="card" style="background-color:rgb(238,244,247);">
        <div class="card-body" style="height:200px;">
          <h4 class="card-title" style="font-size:20px;">Odontograma</h4>
          <p class="text-muted card-text">Diagnóstico de caries (ICDAS)<br><br></p>
          <a class="btn btn-primary btn-block" role="button" href="{{ path('odontograma_icdas', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4" style="padding:15px;">
      <div class="card" style="background-color:rgb(238,244,247);">
        <div class="card-body" style="height:200px;">
          <h4 class="card-title" style="font-size:20px;">Examen Radiográfico</h4>
          <p class="text-muted card-text">Lesiones Radiolucidas<br><br></p>
          <a class="btn btn-primary btn-block" role="button" href="{{ path('odontograma_lesiones', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4" style="padding:15px;">
      <div class="card" style="background-color:rgb(238,244,247);">
        <div class="card-body" style="height:200px;">
          <h4 class="card-title">Riesgo cariogénico<br></h4>
          <p class="text-muted card-text">Placa Bacteriana<br>Indice CPO/D - ceo/D&nbsp;<br>Ingesta de azúcar<br></p>
          <a class="btn btn-primary btn-block" role="button" href="{{ path('riesgos_cariogenicos', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4" style="padding:15px;">
      <div class="card" style="background-color:rgb(238,244,247);">
        <div class="card-body" style="height:200px;">
          <h4 class="card-title" style="font-size:20px;">Tratamiento preventivo</h4>
          <p class="text-muted card-text">Plan de Tratamientos&nbsp;<br>Control de lnfección<br><br></p>
          <a class="btn btn-primary btn-block" role="button" href="{{ path('tratamiento_plan', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4" style="padding:15px;">
      <div class="card" style="background-color:rgb(238,244,247);">
        <div class="card-body" style="height:200px;">
          <h4 class="card-title" style="width:211px;font-size:20px;">Tratamientos efectuados<br></h4>
          <p class="text-muted card-text" style="margin-bottom:23px;">Placa Bacteriana<br>Indice CPO/D - ceo/D&nbsp;<br>Ingesta de azúcar<br></p>
          <a class="btn btn-primary btn-block" role="button" href="{{ path('tratamiento_control', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4" style="padding:15px;">
      <div class="card" style="background-color:rgb(238,244,247);">
        <div class="card-body" style="height:200px;">
          <h4 class="card-title" style="width:211px;font-size:20px;">Reportes individuales<br></h4>
          <p class="text-muted card-text" style="margin-bottom:23px;">Índices y criterios<br>Necesidades de tratamiento&nbsp;<br>Severidad de caries<br></p>
          <a class="btn btn-primary btn-block" role="button" href="{{ path('reportes', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Ver</a>
        </div>
      </div>
    </div>
    {% if editable %}
    <div class="col-12 col-sm-6 col-lg-4" style="padding:15px;">
      <div class="card" style="background-color:rgb(246, 218, 218);">
        <div class="card-body" style="height:200px;">
          <h4 class="card-title" style="width:211px;font-size:20px;">Finalizar Ficha<br></h4>
          <p class="text-muted card-text" style="margin-bottom:23px;">Clausurar esta ficha <br> Esta accion no puede revertirse</p>
          <a class="btn btn-danger btn-block" role="button" data-toggle="modal" data-target="#confirmation-modal">Cerrar</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') and openable %}
    <div class="col-12 col-sm-6 col-lg-4" style="padding:15px;">
      <div class="card" style="background-color:rgb(218, 246, 218);">
        <div class="card-body" style="height:200px;">
          <h4 class="card-title" style="width:211px;font-size:20px;">Abrir Ficha<br></h4>
          <p class="text-muted card-text" style="margin-bottom:23px;">Habilitar nuevamente esta ficha</p>
          <a class="btn btn-success btn-block" role="button" href="{{ path('ficha_abrir', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Abrir</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Modal  -->
  <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="    margin: 1rem auto;">
      <div class="modal-content" style="width: 100%;">

        <!-- Modal header -->
        <div class="modal-header">
          <button type="button" class="close" style="margin: 0;padding: 0;" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="modal-title-label">Confirmación</h4>
          <div id="tooth-title-img"></div>
        </div>
        <!-- /Modal header -->

        <!-- Modal body -->
        <div class="modal-body">
          <div class="container-fluid">

            ¿Realmente desea cerrar la ficha? Esta acción no puede deshacerse.

          </div>
        </div>
        <!-- /Modal body -->

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-danger" role="button" href="{{ path('ficha_cerrar', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">Cerrar ficha</a>
        </div>
        <!-- /Modal footer -->

      </div>
    </div>
  </div>
  <!-- /Modal  -->

{% endblock %}
