<div id="ficha_wrap">
  <table id="tbl_expediente" class="table table-bordered">
  <tbody>
      <tr>
        <th scope="row">Expediente</th>
        <td>{{ fichaInfo.codigo_expediente }}</td>
        <th scope="row">Paciente</th>
        <td>{{ fichaInfo.persona }}</td>
        <th scope="row">Edad</th>
        <td>{{ fichaInfo.edad }}</td>
        <th scope="row">Curso</th>
        <td>{{ fichaInfo.curso }}</td>
      </tr>
      <tr>
        <th scope="row">Ficha</th>
        <td>{{ fichaId }}</td>
        <th scope="row">Estudiante</th>
        <td>{{ fichaInfo.estudiante }}</td>
        <th scope="row">Fecha registro</th>
        <td>{{ fichaInfo.fecha_control| date('Y-m-d') }}</td>
        <th scope="row">Ciclo</th>
        <td>{{ fichaInfo.ciclo }}</td>
      </tr>
  </tbody>
</table>
</div>
