{% extends 'base.html.twig' %}

{% block title %}Cargar Nómina{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/myestilos/botonFlotante.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiantes_parametros') }}">Estudiantes</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="#">Cargar Nómina</a></li>
{% endblock %}

{% block content %}
    <h2>Cargar Nómina de Estudiantes</h2>
    <br>

    <a href="{{ asset('file/nomina_formato.csv') }}"><i class="fa fa-download fa-fw"></i> Descargar formato</a>
    <br><br>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary"><i class="fa fa-upload fa-fw"></i>Cargar</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bs-custom-file-input.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}