{% extends 'base.html.twig' %}

{% block title %}Estudiantes{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/myestilos/botonFlotante.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiantes_parametros') }}">Parámetros</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="#">Nomina General</a></li>
{% endblock %}
{% block content %}
    <div class="col-md-12 offset-md-0" style="margin-top:25px;margin-left:-6px;">
        <h1>Nomina General de Estudiantes&nbsp;<br></h1>
        <h5 class="text-muted">Numero de estudiantes: {{ estudiantesPlan|length  }}</h5>
    </div>

    <div class="row">
        <div class="col" style="margin-top:15px;margin-bottom:15px;">
            <div class="table-responsive ">
                <table id="estudiantesTable" class="table table-striped table-bordered table-hover table-sm">
                    <caption class="text-body"><br></caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Carnet</th>
                        <th>Nombre</th>
                        <th>Ingreso</th>
                        <th>Estado</th>
                        <th>CUM de Ingreso</th>
                        <th style="text-align: center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for estudianteP in estudiantesPlan %}
                        <tr>
                            <td></td>
                            <td>{{ estudianteP.estudiante.carnet }}</td>
                            <td>{{ estudianteP.estudiante.persona.nombreCompleto }}</td>
                            <td>{{ estudianteP.estudiante.creado|date('d-M-Y') }}</td>
                            <td>{{ estudianteP.estudianteEstado.nombre }}</td>
                            <td>{{ estudianteP.cum }}</td>
                            <td style="text-align: center">
                                <div class="btn-group" role="group">
                                    {#<button class="btn btn-info darBaja" type="button" >#}
                                        {#<i class="fa fa-user-circle"></i></button>#}
                                    <a class="btn btn-primary darBaja" title="Editar Estudiante" href="{{ path('estudiante_edit',{'id':estudianteP.id}) }}">
                                        <i class="fa fa-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <a class="btn btn-info animated float" role="button" href="#newEstudiante" data-toggle="modal"
               style="z-index:10;"><i class="fa fa-plus my-float"></i></a>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="newEstudiante">
        <div class="modal-dialog" role="document" style="max-width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo Alumno</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <form action="{{ path('create_estudiante') }}" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <div class="col-sm-12">
                                        <div class="input-group" style="margin-top:16px;">
                                            <div class="input-group-prepend"><span class="input-group-text"
                                                 style="padding-right:22px;padding-left:15px;">Nombre</span>
                                            </div>
                                            <input class="form-control" required type="text" name="nombre_est" id="nombre"></div>
                                        <div class="input-group" style="margin-top:20px;">
                                            <div class="input-group-prepend"><span
                                                        class="input-group-text" style="padding-right:22px;padding-left:15px;">Apellido</span></div>
                                            <input class="form-control" required type="text" name="apellido_est" id="apellido">
                                        </div>
                                        <div class="input-group" style="margin-top:20px;">
                                            <div class="input-group-prepend"><span
                                                        class="input-group-text" style="padding-right:22px;padding-left:15px;">DUI</span></div>
                                            <input class="form-control" data-mask="99999999-9" type="text" name="dui_est" id="dui">
                                        </div>
                                        <div class="input-group" style="margin-top:20px;">
                                            <div class="input-group-prepend" style=""><span
                                                        class="input-group-text" style="padding-right:22px;padding-left:15px;">NIT</span></div>
                                            <input class="form-control" data-mask="9999-999999-999-9" type="text" name="nit_est" id="nit">
                                        </div>
                                        <div class="input-group" style="margin-top:20px;">
                                            <div class="input-group-prepend"><span
                                                        class="input-group-text" style="padding-right:22px;padding-left:15px;">Nacimiento</span></div>
                                            <input class="form-control" type="date" name="nacimiento_est" id="nacimiento">
                                        </div>

                                    </div>
                                </div>

                                <div class="col">
                                    <div class="col-sm-12">
                                        <div class="input-group" style="margin-top:16px;">
                                            <div class="input-group-prepend"><span class="input-group-text"
                                                style="padding-right:22px;padding-left:15px;">Carnet</span>
                                            </div>
                                            <input class="form-control" required data-mask="AA99999" name="carnet" type="text" id="carnet"></div>
                                        <div class="input-group" style="margin-top:20px;">
                                            <div class="input-group-prepend"><span
                                                        class="input-group-text">CUM</span></div>
                                            <input class="form-control" name="cum" type="text" data-mask="9.99" step="any" id="procentaje">
                                        </div>
                                        <select class="form-control" name="estado" style="margin-top:20px;">
                                            {% for estado in estados %}
                                                <option value="{{ estado.id }}"  selected="">{{ estado.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        <select class="form-control" name="curso" style="margin-top:20px;">
                                            {% for curso in cursos %}
                                                <option value="{{ curso.id }}" selected="">{{ curso.curso.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                        </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" type="submit">Guardar</button></div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
    {#<script>#}
        {#$(":input").inputmask();#}
    {#</script>#}
    <script src="{{ asset('js/jquery.mask.js') }}"></script>
    <script>
        $(document).ready(function() {
            var t =   $('#estudiantesTable').DataTable();
            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();


        } );
    </script>

{% endblock %}