{% extends 'base.html.twig' %}
{% block title %}Editar Estudiante{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiantes_list') }}">Nomina General</a></li>
{% endblock %}
{% block content %}
    <h1>Editar Estudiante</h1>
<form action="{{ path('estudiante_edit',{'id':estudiante.id}) }}" method="post">
    <div class="form-group">
        <div class="row">
            <div class="col">
                <div class="col-sm-12">
                    <div class="input-group" style="margin-top:16px;">
                        <div class="input-group-prepend"><span class="input-group-text"
                                                               style="padding-right:22px;padding-left:15px;">Nombre</span>
                        </div>
                        <input class="form-control" type="text" name="nombre_est" id="nombre" value="{{ estudiante.estudiante.persona.nombre}}"></div>
                    <div class="input-group" style="margin-top:20px;">
                        <div class="input-group-prepend"><span
                                    class="input-group-text" style="padding-right:22px;padding-left:15px;">Apellido</span></div>
                        <input class="form-control" type="text" name="apellido_est" id="apellido" value="{{ estudiante.estudiante.persona.apellido }}">
                    </div>
                    <div class="input-group" style="margin-top:20px;">
                        <div class="input-group-prepend"><span
                                    class="input-group-text" style="padding-right:22px;padding-left:15px;">DUI</span></div>
                        <input class="form-control" type="text" data-mask="99999999-9" name="dui_est" id="dui" value="{{ estudiante.estudiante.persona.dui }}">
                    </div>
                    <div class="input-group" style="margin-top:20px;">
                        <div class="input-group-prepend" style=""><span
                                    class="input-group-text" style="padding-right:22px;padding-left:15px;">NIT</span></div>
                        <input class="form-control" type="text" data-mask="9999-999999-999-9" name="nit_est" id="nit" value="{{ estudiante.estudiante.persona.nit }}">
                    </div>
                    <div class="input-group" style="margin-top:20px;">
                        <div class="input-group-prepend"><span
                                    class="input-group-text" style="padding-right:22px;padding-left:15px;">Nacimiento</span></div>
                        <input class="form-control" type="date" name="nacimiento_est" id="nacimiento" value="{{ estudiante.estudiante.persona.nacimiento|date("Y-m-d") }}">
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="col-sm-12">
                    <div class="input-group" style="margin-top:16px;">
                        <div class="input-group-prepend"><span class="input-group-text"
                                                               style="padding-right:22px;padding-left:15px;">Carnet</span>
                        </div>
                        <input  disabled="disabled" class="form-control" name="carnet" type="text" id="carnet" value="{{ estudiante.estudiante.carnet }}"></div>
                    <div class="input-group" style="margin-top:20px;">
                        <div class="input-group-prepend"><span
                                    class="input-group-text">CUM</span></div>
                        <input class="form-control" name="cum" type="text" data-mask="9.99" step="any" id="procentaje" value="{{ estudiante.cum }}">
                    </div>
                    <select class="form-control" name="estado" style="margin-top:20px;">
                        {% for estado in estados %}
                            <option value="{{ estado.id }}" {% if estudiante.estudianteEstado.id==estado.id%}selected="selected"{% endif %}>
                                {{ estado.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                    {#
                    <select class="form-control" name="curso" style="margin-top:20px;">
                        {% for curso in cursos %}
                            <option value="{{ curso.id }}" {% if estudiante.curso.id==curso.id %}selected="selected"{% endif %}>
                                {{ curso.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                   #}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"><a class="btn btn-light" href="{{ app.request.headers.get('referer') }}" data-dismiss="modal">Cerrar</a>
        <button class="btn btn-primary" type="submit">Guardar</button></div>
</form>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.mask.js') }}"></script>
{% endblock %}