{% extends 'base.html.twig' %}

{% block title %}Estudiantes{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiantes_parametros') }}">Nomina General</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiante_nomina') }}">Nomina Oficial</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="#">Gestión de Nómina Oficial</a></li>
{% endblock %}
{% block content %}
    <div class="col-md-12 offset-md-0" style="margin-top:25px;margin-left:-6px;">
     {% if estudiantes_periodos %}
        <a class="btn btn-info" href="{{ path('estudiante_estado',{"id":curso.id,"periodo":periodo.id}) }}" style="float: right">
            <i class="fa fa-graduation-cap"></i> Aprobar Todos</a>
     {% endif %}
        <h3>{{ curso.nombre }}&nbsp;<br></h3>
        <h5 class="text-muted">{% if periodo is defined %}{{ periodo.periodo.nombre }}{% endif %} &nbsp;| Numero de estudiantes: {{ estudiantes_periodos|length }}</h5>
    </div>
    {% if estudiantes_periodos %}
        <div class="row">

            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3" style="text-align: right">
                <h6 class="text-muted" style="margin-top: 10px">Filtro por Estados:</h6>
            </div>

            {#{{ dump(cursosDeCicloPerido[1]) }}#}
            {#{% if (key==0) %}selected {% endif %}#}
            <div class="col-3" style="float: left;"><select data-column="4"  class="filter-select form-control-sm" style="margin-top:5px;width:100%;">
                    <option value=""   >Estados del Curso</option>
                    {% for key,estado in estados %}
                        <option value="{{ estado.codigo }}" >{{ estado.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col" style="margin-top:15px;margin-bottom:15px;">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-sm" id="estudiantesTable">
                        <caption class="text-body"><br></caption>
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Ingreso</th>
                            <th>Estado</th>
                            <th>CUM de Ingreso</th>
                            <th style="text-align: center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for estudianteP in estudiantes_periodos %}
                            <tr>
                                <td style="text-align: center"></td>
                                <td><a href="{{ path('rotacion_individual',{'carnet':estudianteP.estudiantePlanEstudio.estudiante.carnet})}}">{{ estudianteP.estudiantePlanEstudio.estudiante.carnet }}</a></td>
                                <td>{{ estudianteP.estudiantePlanEstudio.estudiante.persona.nombreCompleto }}</td>
                                <td>{{ estudianteP.estudiantePlanEstudio.estudiante.creado|date('d-M-Y') }}</td>
                                <td>{{ estudianteP.estudianteEstado.nombre }}</td>
                                <td>{{ estudianteP.estudiantePlanEstudio.cum }}</td>
                                <td width="300px">
                                    <div class="btn-group" role="group">
                                        <form action="{{ path('estudiante_estado') }}" method="post">
                                            <input type="hidden" name="id_estudiante_curso" value="{{ estudianteP.id }}"/>
                                            <div class="btn-group" role="group">
                                                <select class="form-control" id="estado" name="id_estado">
                                                    {% for estado in estados %}
                                                        {% if estado.tipo=='curso' %}
                                                            <option value="{{ estado.id }}"
                                                                    {% if estado.id==estudianteP.estudianteEstado.id %}selected="selected" {% endif %}>
                                                                {{ estado.nombre }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-info" type="submit">
                                                    <i class="fa fa-angle-right"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    {% else %}
        <div class="col-md-12 offset-md-0" style="margin-top:25px;margin-left:-6px;">
            <h3 style="color: #6E0000">No existen estudiantes aptos para inscribir en el curso seleccionado</h3>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>

    <script>
        $(document).ready(function() {
            var t =   $('#estudiantesTable').DataTable({
                "oLanguage": {
                    "sInfoFiltered": "",
                    "sInfo": ""
                },
                "order": [[ 1, "asc" ]],
            });
            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();

            $('input.column_filter').on( 'keyup click', function () {
                console.log( $(this).parents('tr').attr('data-column'));
                filterColumn( $(this).parents('tr').attr('data-column') );
            } );


            $('.filter-select').on('change', function() {
                console.log(  $(this).attr('data-column') );
                console.log(this.value)
                $('#estudiantesTable').DataTable().column( $(this).attr('data-column') ).search(
                    this.value
                ).draw();

            })


        } );
    </script>

{% endblock %}