{% extends 'base.html.twig' %}

{% block title %}Estudiantes{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiantes_list') }}">Nomina General</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiante_nomina') }}">Nomina Oficial</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="#">Inscribir Estudiantes</a></li>
{% endblock %}
{% block content %}
    <div class="col-md-12 offset-md-0" style="margin-top:25px;margin-left:-6px;">
        {#<a class="btn btn-info" href="{{ path('estudiantes_inscribir',{"id":siguiente_curso.id}) }}" style="float: right">#}
            {#<i class="fa fa-address-card"></i> Inscribir a Todos en Siguiente Curso</a>#}
        {% if siguiente_curso %}
        <form action="{{ path('estudiantes_inscribir') }}" method="post" style="float: right">
            <input type="hidden" name="id_siguiente_curso" value="{{ siguiente_curso.id }}"/>
            <input type="hidden" name="id_curso_actual" value="{{ estudiante_curso.curso.id }}"/>
            <input type="hidden" name="id_periodo_actual" value="{{ estudiante_curso.periodoCiclo.id }}"/>
            <div class="btn-group" role="group">
                <button class="btn btn-info" type="submit">
                    <i class="fa fa-address-card"> </i> Inscribir Todos en Siguiente Curso</button>
            </div>
        </form>
        {% endif %}
        <h3>{{ curso.nombre }}&nbsp;<br></h3>
        <h6>Estudiantes aptos para ser inscritos en: {% if siguiente_curso %}{{ siguiente_curso.nombre }}{% endif %}&nbsp;<br></h6>
        <h5 class="text-muted">{% if estudiante_curso %}{{ estudiante_curso.periodoCiclo.periodo.nombre }} {% endif %}&nbsp;| Numero de estudiantes: {{ estudiantes_periodos|length  }}</h5>

    </div>

    <div class="row">
        <div class="col" style="margin-top:15px;margin-bottom:15px;">
            {% if estudiantes_periodos %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm" id="estudiantesTable">
                    <caption class="text-body"><br></caption>
                    <thead>
                    <tr>
                        <th>Carnet</th>
                        <th>Nombre</th>
                        <th>Ingreso</th>
                        <th>Estado de Estudiante</th>
                        <th>CUM de Ingreso</th>
                        <th style="text-align: center">Estado de Curso</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for estudianteP in estudiantes_periodos %}
                        {% if estudianteP.EstudianteEstado.codigo == 'aprobado' or estudianteP.EstudianteEstado.codigo == 'resolucion' %}
                            {% if estudianteP.estudiantePlanEstudio.EstudianteEstado.codigo == 'activo' %}
                                <tr>
                                    <td>{{ estudianteP.estudiantePlanEstudio.estudiante.carnet }}</td>
                                    <td>{{ estudianteP.estudiantePlanEstudio.estudiante.persona.nombreCompleto }}</td>
                                    <td>{{ estudianteP.estudiantePlanEstudio.estudiante.creado|date('d-M-Y') }}</td>
                                    <td>Activo</td>
                                    <td>{{ estudianteP.estudiantePlanEstudio.cum }}</td>
                                    <td>{{ estudianteP.EstudianteEstado.nombre }}</td>

                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            {% else %}
            <h3 style="color: #6E0000">No existen estudiantes aptos para inscribir en el curso seleccionado</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>

    <script>
        $(document).ready(function() {
            var t =   $('#estudiantesTable').DataTable();
            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();

        } );
    </script>

{% endblock %}