{% extends 'base.html.twig' %}

{% block title %}Estudiantes - New{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/myestilos/botonFlotante.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome-all.min.css') }}">
{% endblock %}
{% block content %}
    <div class="col-md-12 offset-md-0" style="margin-top:25px;margin-left:-6px;">
        <h1>Nomina Oficial a &nbsp;Rotar&nbsp;<br></h1>
        <h5 class="text-muted">Ciclo Par &nbsp;| Numero de estudiantes: 45</h5>
    </div>

    <h2 class="text-center">Perfil de Estudiantes</h2>
    <h3 class="text-left">Fernando Eduardo Bolanos Canjura&nbsp;<small>BC11023</small></h3>
    <h3 class="text-center"></h3>
    <div class="row">
        <div class="col-6 offset-0"><img src="" width="100%" style="width:304px;">
            
        </div>
        <div class="col-6">
            <form>
                <div class="form-group"><label for="apreciacion"><strong>Estado</strong></label><select class="form-control" disabled="" readonly="" id="apreciacion"><option value="12" selected="">Activo</option></select></div>
                <div class="form-group"><label for="apreciacion"><strong>Apreciacion</strong></label><select class="form-control" id="apreciacion"><option value="12" selected="">Excelente</option><option value="13">Muy Buena</option><option value="14">Buena</option></select></div>
                <div
                        class="form-group"><label for="apreciacion"><strong>Departamento</strong></label><select class="form-control" name="Cuscatlan" id="apreciacion"><option value="12" selected="">San Salvador</option><option value="13">La Libertad</option><option value="14">Cuscatlan</option></select></div>
                <div
                        class="form-group"><label for="apreciacion"><strong>Municipio</strong></label><select class="form-control" id="apreciacion"><option value="12" selected="">Apopa</option><option value="13">Santa Tecla</option><option value="14">Cojutepeque</option></select></div>
            </form><button class="btn btn-primary btn-block" type="button">Confirmar</button></div>
    </div>

{% endblock %}
