{% extends 'base.html.twig' %}

{% block title %}Estudiantes - Nómina{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiantes_parametros') }}">Nomina General</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiante_nomina') }}">Nomina Oficial</a></li>
{% endblock %}

{% block content %}

    <h2 class="text-center">Nómina de Estudiantes</h2>
    <div class="row">
        <div class="col-sm-6" style="margin-bottom: 2%">

            <form action="{{ path('estudiante_gestion') }}" method="post">
                <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                    <h3 class="text-center">Gestionar Nómina</h3>
                    <div class="form-group"><label for="curso"><strong>Curso</strong></label>
                        <select class="form-control" id="curso" name="id_curso">
                            {% for curso in cursos %}
                                <option value="{{ curso.id }}" selected="">{{ curso.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group"><label for="periodo_ciclo"><strong>Periodo Ciclo</strong></label>
                        <select class="form-control" id="periodo_ciclo" name="periodo_ciclo">
                        </select>
                    </div>
                    <button class="btn btn-info btn-block" type="submit">Confirmar</button>
                </fieldset>
            </form>
        </div>
        <br/><br/>
        <div class="col-sm-6" style="margin-bottom: 2%">
            <form action="{{ path('estudiante_inscripcion') }}" method="post">
                <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                    <h3 class="text-center">Inscribir Estudiantes</h3>
                    <div class="form-group"><label for="curso"><strong>Curso</strong></label>
                        <select class="form-control" id="curso" name="id_curso">
                            {% for curso in cursos %}
                                <option value="{{ curso.id }}" selected="">{{ curso.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group"><label for="periodo_ciclo"><strong>Periodo Ciclo</strong></label>
                        <select class="form-control" id="periodo_ciclo" name="periodo_ciclo">
                        </select>
                    </div>
                    <button class="btn btn-info btn-block" type="submit">Confirmar</button>
                </fieldset>
            </form>
        </div>
        <a href="{{ path('estudiantes_parametros') }}" class="btn btn-info btn-block" style=" margin: 1%" type="button">Gestionar Nómina General</a>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('select').select2();

            $('select[name="id_curso"]').change(function () {

                var cursoSelector = $(this);
                if (cursoSelector.val() == '') {
                    return;
                }
                var ciclosSelect = cursoSelector.closest('form').find("#periodo_ciclo");
                ciclosSelect.html('');
                $.ajax({
                    url: '/academico/ciclos/' + cursoSelector.val(),
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        curso: cursoSelector.val()
                    },
                    success: function (neighborhoods) {
                        $.each(neighborhoods, function (key, neighborhood) {
                            ciclosSelect.append('<option value="' + neighborhood.id + '">' + neighborhood.name + '</option>');
                        });
                        ciclosSelect.trigger('change');
                    }
                });
            });

            $('select[name="id_curso"]').trigger('change');
        })
    </script>
{% endblock %}