{% extends 'base.html.twig' %}

{% block title %}Estudiantes - Nómina{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiantes_parametros') }}">Nomina General</a></li>
{% endblock %}
{% block content %}

    <h2 class="text-center">Nómina General de Estudiantes</h2>
    <div class="row">
        <div class="col-sm-3" style="margin-bottom: 2%">

        </div>
        <div class="col-sm-6" style="margin-bottom: 2%">

            <form action="{{ path('estudiantes_list') }}" method="post">
                <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                    <h3 class="text-center">Parámetros</h3>
                    <div class="form-group"><label for="curso"><strong>Estados</strong></label>
                        <select class="form-control" id="estado" name="id_estado">
                            {% for estado in estados %}
                                <option value="{{ estado.id }}">{{ estado.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group"><label for="periodo_ciclo"><strong>Plan de Estudio</strong></label>
                        <select class="form-control" id="plan_estudio" name="id_plan_estudio">
                            {% for planes_estudio in planes_estudios %}
                                <option value="{{ planes_estudio.id }}">{{ planes_estudio.carrera.nombre }} - {{ planes_estudio.anio }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-info btn-block" type="submit">Gestionar Nómina General</button>
                </fieldset>
            </form>
        </div>
        <br/><br/>
        <div class="col-sm-3" style="margin-bottom: 2%">

        </div>

    </div>

{% endblock %}
