{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block container %}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            {% if error %}
                <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="login-panel card">
                <div class="card-header">
                    <h3 class="card-title text-center">Inicio de sesión</h3>
                </div>
                <div class="card-body text-center">
                    <form class="form-" role="form" method="post" action="
                    {% if local %}
                        {{ path('login_local') }}
                    {% else %}
                        {{ path('login') }}
                    {% endif %}">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Usuario" name="_username" type="text" autofocus
                                       value="{{ last_username }}" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contraseña" name="_password" type="password" required>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button type="submit" class="btn btn-lg btn-success btn-block">Iniciar sesión {% if local %}local{% endif %}</button>
                            </div>
                        </fieldset>
                    </form>
                    {% if not local %}
                        <a href="{{ path('login_local') }}">Inicio de sesión local</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
