.alert ul {
    margin-bottom: 0 !important;
}

.app-logo {
    margin-top: -0.625em;
    width: 50px;
    height: 50px;
    background: url(../img/foues.png) no-repeat;
    background-size: contain;
}

img.avatar {
    max-height: 200px;
}

.container {
    padding-top: 1.5em;
}

.back-arrow {
    margin-right: 3em;
}

.box {
    background-color: #e9ecef !important;
}

.box > i {
    color: #8768ac !important;
}

.features-boxed {
    color: #313437;
}

.features-boxed p {
    color: #7d8285;
}

.features-boxed a h2 {
    font-weight: bold;
    margin-bottom: 40px;
    color: inherit;
}

@media (max-width: 767px) {
    .features-boxed h2 {
        margin-bottom: 25px;
        font-size: 24px;
    }
}

.features-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.features-boxed .intro p {
    margin-bottom: 0;
}

.features-boxed .features {
    padding: 25px 0;
}

.features-boxed .item {
    text-align: center;
}

.features-boxed .item .box {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
}

.features-boxed .item .icon {
    font-size: 60px;
    color: #1485ee;
    margin-top: 20px;
    margin-bottom: 35px;
}

.features-boxed .item .name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 0;
    color: inherit;
}

.features-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.nav-tabs {
    margin-bottom: 1rem;
}

.nav-item {
    font-size: 1.15em;
}

.float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:15px;
  right:15px;
  background-color:rgb(143,101,168);
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow:2px 2px 3px #999;
}

footer {
    margin: 1em 0;
}

.my-float {
  margin-top:17px;
}

.btn:focus {
  box-shadow:inherit;
}

.eval_sis{
    margin-left: 0;
    display: block;
}
.eval_sis label{
    width: 400px;
    margin-top: 5px;
}
.visita_odonto{
    width: 400px;
}

[required]{
    border-color: rgb(33, 93, 147);
    background-color: rgba(228, 241, 255, 0.69);
}

.custom-file-label:lang(es)::after {
    content: "Elegir";
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
}