.filterPad{
  padding-top: 1%;
  width: 100%;
}

.dataTables_filter{
  padding-left: 1%;
  padding-right: 1%;
  width: 95%;
}

.dataTables_filter label{
  padding-left: 0%;
  float: left;
  width: 100%;
}

.input-group-append {
  padding-left: 1%;
}
