#odontograma {
  margin:0 auto;
}

/* Odontogram */
.tooth-row {
  height:70px;
  display:table;
  margin:0 auto;
}

.tooth{
  float:left;
  width: 40px;
  height: 62.5px;
  margin:7px;
  background-image:url(../img/odontograma/diente.png);
  background-size:40px 40px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.BC{
  float: right;
  width: 90px;
  height: 85px;
  margin: 7px;
  background-image:url(../img/odontograma/mouth.png);
  background-size:64px 64px;
  background-repeat: no-repeat;
  background-position: bottom;
  cursor:pointer;
}

.tooth:hover  {
  cursor:pointer;
  background-image:url(../img/odontograma/diente-over.png) !important;
}

.tooth:hover span {
  color:blue;
}

.tooth span {
  display:block;
  text-align:center;
  color:#787878;
  font-family:Arial;
}

div.separador {
  height:30px;
  display:block;
}

.tooth.d51, .tooth.d11, .tooth.d41, .tooth.d81 {
  margin-right:20px;
}

.tooth.d61, .tooth.d21, .tooth.d31, .tooth.d71 {
  margin-left:20px;
}

/* Modal */
.modal-dialog {
  max-width:80%!important;
  margin:1.75rem auto;
}

/* Surfaces */
map.diente-disabled area, area.diente-disabled{
  cursor:not-allowed;
}

area:not(.diente-disabled){
  cursor:pointer;
}

/* Modal title */
.tooth-title{
  width:40px;
  height:40px;
  float:right;
  margin:0 10px 4px 0;
  background-size:40px 40px;
  background-image:url(../img/odontograma/diente.png);
}


/* Tooth states' images */
.tooth-title.diente-amarillo, .tooth.diente-amarillo {
  background-image:url(../img/dientes-icdas/diente-amarillo.png);
}

.tooth-title.diente-naranja, .tooth.diente-naranja {
  background-image:url(../img/dientes-icdas/diente-naranja.png);
}

.tooth-title.diente-rojo, .tooth.diente-rojo {
  background-image:url(../img/dientes-icdas/diente-rojo.png);
}

.tooth-title.diente-perdido-caries, .tooth.diente-perdido-caries {
  background-image:url(../img/dientes-icdas/diente-perdido-caries.png);
}

.tooth-title.diente-perdido-otros, .tooth.diente-perdido-otros {
  background-image:url(../img/dientes-icdas/diente-perdido-otros.png);
}

.tooth-title.diente-obturado-sano, .tooth.diente-obturado-sano {
  background-image:url(../img/dientes-icdas/diente-obturado-sano.png);
}

.tooth-title.diente-obturado-sano, .tooth.diente-obturado-sano {
  background-image:url(../img/dientes-icdas/diente-obturado-sano.png);
}

.tooth-title.diente-obturado-caries, .tooth.diente-obturado-caries {
  background-image:url(../img/dientes-icdas/diente-obturado-caries.png);
}

.tooth-title.obturacion-perdida, .tooth.obturacion-perdida {
  background-image:url(../img/dientes-icdas/obturacion-perdida.png);
}

.tooth-title.diente-marcado, .tooth.diente-marcado {
  background-image:url(../img/dientes-icdas/diente-marcado.png);
}

.tooth-title.diente-sano, .tooth.diente-sano {
  background-image:url(../img/dientes-icdas/diente-sano.png);
}

.tooth[data-surface~="distal"][data-surface~="lingual"][data-surface~="mesial"][data-surface~="oclusal"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/dlmov.png);
}

.tooth[data-surface~="distal"][data-surface~="lingual"][data-surface~="mesial"][data-surface~="oclusal"]{
  background-image:url(../img/superficies-icdas/dlmo.png);
}

.tooth[data-surface~="distal"][data-surface~="lingual"][data-surface~="mesial"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/dlmv.png);
}

.tooth[data-surface~="distal"][data-surface~="lingual"][data-surface~="oclusal"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/dlov.png);
}

.tooth[data-surface~="distal"][data-surface~="mesial"][data-surface~="oclusal"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/dmov.png);
}

.tooth[data-surface~="lingual"][data-surface~="mesial"][data-surface~="oclusal"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/lmov.png);
}

.tooth[data-surface~="distal"][data-surface~="lingual"][data-surface~="mesial"]{
  background-image:url(../img/superficies-icdas/dlm.png);
}

.tooth[data-surface~="distal"][data-surface~="lingual"][data-surface~="oclusal"]{
  background-image:url(../img/superficies-icdas/dlo.png);
}

.tooth[data-surface~="distal"][data-surface~="lingual"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/dlv.png);
}

.tooth[data-surface~="distal"][data-surface~="mesial"][data-surface~="oclusal"]{
  background-image:url(../img/superficies-icdas/dmo.png);
}

.tooth[data-surface~="distal"][data-surface~="mesial"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/dmv.png);
}

.tooth[data-surface~="distal"][data-surface~="oclusal"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/dov.png);
}

.tooth[data-surface~="lingual"][data-surface~="mesial"][data-surface~="oclusal"]{
  background-image:url(../img/superficies-icdas/lmo.png);
}

.tooth[data-surface~="lingual"][data-surface~="mesial"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/lmv.png);
}

.tooth[data-surface~="lingual"][data-surface~="oclusal"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/lov.png);
}

.tooth[data-surface~="mesial"][data-surface~="oclusal"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/mov.png);
}

.tooth[data-surface~="distal"][data-surface~="lingual"]{
  background-image:url(../img/superficies-icdas/dl.png);
}

.tooth[data-surface~="distal"][data-surface~="mesial"]{
  background-image:url(../img/superficies-icdas/dm.png);
}

.tooth[data-surface~="distal"][data-surface~="oclusal"]{
  background-image:url(../img/superficies-icdas/do.png);
}

.tooth[data-surface~="distal"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/dv.png);
}

.tooth[data-surface~="lingual"][data-surface~="mesial"]{
  background-image:url(../img/superficies-icdas/lm.png);
}

.tooth[data-surface~="lingual"][data-surface~="oclusal"]{
  background-image:url(../img/superficies-icdas/lo.png);
}

.tooth[data-surface~="lingual"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/lv.png);
}

.tooth[data-surface~="mesial"][data-surface~="oclusal"]{
  background-image:url(../img/superficies-icdas/mo.png);
}

.tooth[data-surface~="mesial"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/mv.png);
}

.tooth[data-surface~="oclusal"][data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/ov.png);
}

.tooth[data-surface~="distal"]{
  background-image:url(../img/superficies-icdas/d.png);
}

.tooth[data-surface~="lingual"]{
  background-image:url(../img/superficies-icdas/l.png);
}

.tooth[data-surface~="mesial"]{
  background-image:url(../img/superficies-icdas/m.png);
}

.tooth[data-surface~="oclusal"]{
  background-image:url(../img/superficies-icdas/o.png);
}

.tooth[data-surface~="vestibular"]{
  background-image:url(../img/superficies-icdas/v.png);
}
