#odontograma {
  margin:0 auto;
}

/* Odontogram */
.tooth-row {
  height:70px;
  display:table;
  margin:0 auto;
}

.tooth{
  float:left;
  width: 40px;
  height: 62.5px;
  margin:7px;
  background-image:url(../img/odontograma/diente.png);
  background-size:40px 40px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.tooth:hover  {
  cursor:pointer;
  background-image:url(../img/odontograma/diente-over.png) !important;
}

.tooth:hover span {
  color:blue;
}

.tooth span {
  display:block;
  text-align:center;
  color:#787878;
  font-family:Arial;
}

div.separador {
  height:30px;
  display:block;
}

.tooth.d51, .tooth.d11, .tooth.d41, .tooth.d81 {
  margin-right:20px;
}

.tooth.d61, .tooth.d21, .tooth.d31, .tooth.d71 {
  margin-left:20px;
}

/* Modal */
.modal-dialog {
  max-width:80%!important;
  margin:1.75rem auto;
}


/* Modal title */
.tooth-title{
  width:40px;
  height:40px;
  float:right;
  margin:0 10px 4px 0;
  background-size:40px 40px;
  background-image:url(../img/odontograma/diente.png);
}

.tooth-title.diente-marcado, .tooth.diente-marcado {
  background-image:url(../img/dientes-icdas/diente-obturado-sano.png);
}


#injuries .injurie > select.selected{
  background-color: rgb(218, 232, 216);
}

#injuries .injurie > select.selected:disabled{
  background-color: rgb(174, 251, 163);
}
