{% block craue_flow_stepList_class %}
        {%- if loop.index == flow.getCurrentStepNumber() -%}
                {{ ' class="nav-link active" role="tab"' }}
        {%- elseif flow.isStepSkipped(loop.index) -%}
                {{ ' class="nav-link" role="tab"' }}
        {%- elseif flow.isStepDone(loop.index) -%}
                {{ ' class="nav-link" role="tab"' }}
        {%- else -%}
                {{ ' class="nav-link" role="tab"' }}
        {%- endif -%}

{% endblock %}

{% block craue_flow_stepLabel %}
        {{- stepLabel | trans -}}
{% endblock %}


