{% use 'clinico/flow/bloques.html.twig' %}

{%- if flow.getStepLabels() is not empty -%}
        <ul class="nav nav-pills nav-justified" style="background-color:#e9ecef;margin-bottom:30px;">
                {% for stepLabel in flow.getStepLabels() %}
                        <li class="nav-item">
                                <a{{ block('craue_flow_stepList_class') }}>
                                                {{- block('craue_flow_stepLabel') -}}
                                </a>
                        </li>
                {% endfor %}
        </ul>
{%- endif -%}
