{% extends 'base_print.twig' %}

{% block content %}

    <div style="width: 100%; margin-bottom: 90px">
        <div style="width: 200px;float: left">
            <img src="img/logo_ues.png" width="100px">
        </div>
        <div style="text-align: center; width: 500px">
            <h5 class="text-center">UNIVERSIDAD DE EL SALVADOR</h5>

            <h5 class="text-center" style="margin-top: -20px">FACULTAD DE ODONTOLOGÍA</h5>
            <h5 class="text-center" style="margin-top: -10px">REPORTES DE DIRECCIÓN DE CLÍNICAS</h5>
            <p style="font-size: 10px; margin-top: -20px">{{ "now"|date("d/m/Y g:ia") }}</p>
        </div>
        <div style="width: 200px;float: right; margin-top: -95px; margin-right: -110px">
            <img src="img/foues.jpg" width="80px">
        </div>
    </div>

    <hr/>
    <div class="row">
        <div style="margin-bottom: 2%; width: 232px; float: left">
            <fieldset style="border: solid 1px #7a43b6; font-size: 10px">
                <h4>Mujeres embarazdas atendidas</h4>
                <table class="table"  style="border: solid 1px #eeeeee; width: 100%">
                    <thead>
                    <tr>
                        <th>Rongo</th>
                        <th>Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for embarazada in embarazadas  %}
                        <tr>
                            <td>{{ embarazada.rango }}</td>
                            <td>{{ embarazada.atenciones }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>

        <br/><br/>
        <div style="margin-bottom: 5px; width: 232px; float: left;margin-top: -38px; margin-left: 10px">
            <fieldset style="border: solid 1px #7a43b6; font-size: 10px">
                <h4>Personas atendidas por rangos de edad y sexo</h4>
                <table class="table" style="border: solid 1px #eeeeee; width: 100%">
                    <thead>
                    <tr>
                        <th>Rango de Edad</th>
                        <th>M</th>
                        <th>F</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for atendido in atendidas  %}
                        <tr>
                            <td>{{ atendido.rango }}</td>
                            <td>{{ atendido.Masculino }}</td>
                            <td>{{ atendido.Femenino }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
        <div style="margin-bottom: 2%; width: 220px; float: right; margin-top: -38px">
            <fieldset style="border: solid 1px #7a43b6; font-size: 10px">
                <h4>Población atendida por primera vez</h4>
                <table class="table"  style="border: solid 1px #eeeeee; width: 100%">
                    <thead>
                    <tr>
                        <th>Rongo</th>
                        <th>Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in primera_vez  %}
                        <tr>
                            <td>{{ item.rango }}</td>
                            <td>{{ item.atenciones }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
        <br/><br/><br/><br/><br/>
        <div style="margin-bottom: 2%; width: 706px;float: left; margin-top: -25px">
            <fieldset style="border: solid 1px #7a43b6; font-size: 10px">
                <h3>Tratamientos ejecutados</h3>
                <table class="table" style="border: solid 1px #eee; width: 100%;  ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Tratamientos</th>
                        <th>Area</th>
                        <th style="text-align: center">EXTRAMURAL</th>
                        <th style="text-align: center">INTRAMURAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tratamiento in tratamientos  %}
                        <tr>
                            <td>{{ tratamiento.id_tratamiento }}</td>
                            <td>{{ tratamiento.tratamiento }}</td>
                            <td>{{ tratamiento.area }}</td>
                            <td style="text-align: center">{{ tratamiento.EXTRAMURAL }}</td>
                            <td style="text-align: center">{{ tratamiento.INTRAMURAL }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>

    </div>

{% endblock %}
