{% extends 'base.html.twig' %}

{% block title %}Estudiantes - Nómina{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('reportes_index') }}">Reportes</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('parametros_direccion') }}">Parámetros</a></li>
    <li class="breadcrumb-item" aria-current="page">Dirección de Clínicas</li>
{% endblock %}
{% block content %}
    <h2 class="text-center">Reportes de la Dirección de Clínicas</h2>
    <form action="{{ path('reportes_est') }}" method="post">

            <div class="form-group">
                <input class="form-control" value="{{ fecha_inicio }}" type="hidden" name="fecha_inicio" />
            </div>
            <div class="form-group">
                <input class="form-control" value="{{ fecha_fin }}" type="hidden" name="fecha_fin" />
            </div>
            <button class="btn btn-info btn-block" type="submit">Imprimir Reporte</button>
    </form>
    <br/>
    <div class="row">
        <div class="col-sm-4" style="margin-bottom: 2%">
            <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                <h6>Cantidad de mujeres embarazadas atendidas</h6>
                <table class="table table-responsive-sm">
                    <thead>
                    <tr>
                        <th>Rango</th>
                        <th>Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for embarazada in embarazadas  %}
                        <tr>
                            <td>{{ embarazada.rango }}</td>
                            <td>{{ embarazada.atenciones }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>

        <div class="col-sm-4" style="margin-bottom: 2%">
            <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                <h6>Personas atendidas por rangos de edad y sexo</h6>
                <table class="table table-responsive-sm">
                    <thead>
                    <th>Rango de Edad</th>
                    <th>M</th>
                    <th>F</th>
                    </thead>
                    <tbody>
                    {% for atendido in atendidas  %}
                        <tr>
                            <td>{{ atendido.rango }}</td>
                            <td>{{ atendido.Masculino }}</td>
                            <td>{{ atendido.Femenino }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
        <div class="col-sm-4" style="margin-bottom: 2%">
            <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                <h6>Personas atendidas por primera vez</h6>
                <table class="table table-responsive-sm">
                    <thead>
                    <tr>
                        <th>Rango</th>
                        <th>Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in primera_vez  %}
                        <tr>
                            <td>{{ item.rango }}</td>
                            <td>{{ item.atenciones }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
        <div class="col-sm-12" style="margin-bottom: 2%">
            <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                <h3>Tratamientos ejecutados</h3>
                <table class="table table-responsive-sm">
                    <thead>
                    <th>#</th>
                    <th>Tratamientos</th>
                    <th>Area</th>
                    <th style="text-align: center">EXTRAMURAL</th>
                    <th style="text-align: center">INTRAMURAL</th>

                    </thead>
                    <tbody>
                    {% for tratamiento in tratamientos  %}
                        <tr>
                            <td>{{ tratamiento.id_tratamiento }}</td>
                            <td>{{ tratamiento.tratamiento }}</td>
                            <td>{{ tratamiento.area }}</td>
                            <td style="text-align: center">{{ tratamiento.EXTRAMURAL }}</td>
                            <td style="text-align: center">{{ tratamiento.INTRAMURAL }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>


    </div>

{% endblock %}
