{% extends 'base.html.twig' %}

{% block title %}Estudiantes - Nómina{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('reportes_index') }}">Reportes</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('extramural_index') }}">Extramural</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('parametros_ingresos') }}">Parámetros</a></li>
    <li class="breadcrumb-item" aria-current="page">Ingresos Económicos</li>
{% endblock %}
{% block content %}
    <h2 class="text-center">Reporte de Ingresos Económicos por Tratamientos</h2>
    <form action="{{ path('reporte_ingresos_print') }}" method="post">

            <div class="form-group">
                <input class="form-control" value="{{ fecha_inicio }}" type="hidden" name="fecha_inicio" />
            </div>
            <div class="form-group">
                <input class="form-control" value="{{ fecha_fin }}" type="hidden" name="fecha_fin" />
            </div>
            <button class="btn btn-info btn-block" type="submit">Imprimir Reporte</button>
    </form>
    <br/>
    <div class="row">

        <div class="col-sm-12" style="margin-bottom: 2%">
            <fieldset style="border: solid 1px #7a43b6; padding: 3%">
                {#<h3>Tratamientos ejecutados</h3>#}
                <table class="table table-responsive-sm" >
                    <thead>
                    <th>#</th>
                    <th>TRATAMIENTOS</th>
                    <th style="text-align: center">CANTIDAD</th>
                    <th style="text-align: center">ARANCEL</th>
                    <th style="text-align: center">INGRESOS</th>

                    </thead>
                    <tbody>
                    {% for ingreso in ingresos  %}
                        <tr>
                            <td>{{ ingreso.id_tratamiento }}</td>
                            <td>{{ ingreso.tratamiento }}</td>
                            <td style="text-align: center">{{ ingreso.tratamientos }}</td>
                            <td style="text-align: center">$ {{ ingreso.arancel }}</td>
                            <td style="text-align: center">$ {{ ingreso.ingresos }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>


    </div>

{% endblock %}
