{% extends 'base.html.twig' %}

{% block title %}Reportes | Procedencia{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('reportes_index') }}">Reportes</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('extramural_index') }}">Extramural</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('parametros_procedencia') }}">Parámetros</a></li>
    <li class="breadcrumb-item" aria-current="page">Tratamientos por Procedencia</li>
{% endblock %}
{% block content %}
    <h2 class="text-center">Reporte de Tratamientos Ejecutados por Procedencia</h2>
    <form action="{{ path('reporte_procedencia_print') }}" method="post">

            <div class="form-group">
                <input class="form-control" value="{{ fecha_inicio }}" type="hidden" name="fecha_inicio" />
            </div>
            <div class="form-group">
                <input class="form-control" value="{{ fecha_fin }}" type="hidden" name="fecha_fin" />
            </div>
            <button class="btn btn-info btn-block" type="submit">Imprimir Reporte</button>
    </form>
    <br/>
    <div class="row">

        <div class="col-sm-12" style="margin-bottom: 2%">
            <fieldset style="border: solid 1px #7a43b6; padding: 3%">
                {#<h3>Tratamientos ejecutados</h3>#}
                <table class="table table-responsive-sm" >
                    <thead>
                    <th>PROCEDENCIA</th>
                    <th>ÁREA CLÍNICA</th>
                    <th style="text-align: center">CÓDIGO TRATAMIENTO</th>
                    <th>TRATAMIENTO</th>
                    <th style="text-align: center">CANTIDAD</th>

                    </thead>
                    <tbody>
                    {% for procedencia in procedencias  %}
                        <tr>
                            <td>{{ procedencia.procedencia }}</td>
                            <td>{{ procedencia.area_clinica }}</td>
                            <td style="text-align: center">{{ procedencia.id_tratamiento }}</td>
                            <td>{{ procedencia.tratamiento }}</td>
                            <td style="text-align: center">{{ procedencia.ejecutados }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>


    </div>

{% endblock %}
