{% extends 'base_print.twig' %}

{% block content %}

    <div style="width: 100%; margin-bottom: 110px">
        <div style="width: 200px;float: left">
            <img src="img/logo_ues.png" width="100px">
        </div>
        <div style="text-align: center; width: 500px">
            <h5 class="text-center">UNIVERSIDAD DE EL SALVADOR</h5>

            <h5 class="text-center" style="margin-top: -20px">FACULTAD DE ODONTOLOGÍA</h5>
            <h5 class="text-center" style="margin-top: -10px">REPORTE DE INGRESOS ECONÓMICOS POR TRATAMIENTOS</h5>
            <p style="font-size: 10px; margin-top: -15px; margin-left: 205px">{{ "now"|date("d/m/Y g:ia") }}</p>
        </div>
        <div style="width: 200px;float: right; margin-top: -110px; margin-right: -110px">
            <img src="img/foues.jpg" width="80px">
        </div>
    </div>

    <hr/>
    <div class="row">
        <br/>
        <div style="margin-bottom: 2%; width: 706px;float: left; margin-top: -25px">
            <fieldset style="border: solid 1px #7a43b6; font-size: 10px">
                <table class="table" style="border: solid 1px #eee; width: 100%;  ">
                    <thead style="border-bottom: solid 2px #eee">
                    <tr>
                        <th>#</th>
                        <th>TRATAMIENTOS</th>
                        <th style="text-align: center">CANTIDAD</th>
                        <th style="text-align: center">ARANCEL</th>
                        <th style="text-align: center">INGRESOS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingreso in ingresos  %}
                        <tr>
                            <td>{{ ingreso.id_tratamiento }}</td>
                            <td>{{ ingreso.tratamiento }}</td>
                            <td style="text-align: center">{{ ingreso.tratamientos }}</td>
                            <td style="text-align: center">$ {{ ingreso.arancel }}</td>
                            <td style="text-align: center">$ {{ ingreso.ingresos }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>

    </div>

{% endblock %}
