{% extends 'base.html.twig' %}

{% block title %}Reportes | Almacen{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('reportes_index') }}">Reportes</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('extramural_index') }}">Extramural</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('parametros_almacen') }}">Parámetros</a></li>
    <li class="breadcrumb-item" aria-current="page">Consumo de Materiales</li>
{% endblock %}
{% block content %}
    <h2 class="text-center">Consumo de Materiales por Almacen y Fecha</h2>
    <form action="{{ path('reporte_almacen_print') }}" method="post">
            <div class="form-group">
                <input class="form-control" value="{{ fecha_inicio }}" type="hidden" name="fecha_inicio" />
            </div>
            <div class="form-group">
                <input class="form-control" value="{{ fecha_fin }}" type="hidden" name="fecha_fin" />
            </div>
            <div class="form-group">
                <input class="form-control" value="{{ almacen }}" type="hidden" name="almacen" />
            </div>
            <button class="btn btn-info btn-block" type="submit">Imprimir Reporte</button>
    </form>
    <br/>
    <div class="row">

        <div class="col-sm-12" style="margin-bottom: 2%">
            <fieldset style="border: solid 1px #7a43b6; padding: 3%">
                <table class="table table-responsive-sm" >
                    <thead>
                    <th>FECHA</th>
                    <th>INSTITUCIÓN</th>
                    <th style="text-align: center">ALMACEN</th>
                    <th>MATERIAL</th>
                    <th style="text-align: center">PRESENTACIÓN</th>
                    <th style="text-align: center">UNIDAD DE MEDIDA</th>
                    <th style="text-align: center">CANTIDAD</th>

                    </thead>
                    <tbody>
                    {% for almacen in almacenes  %}
                        <tr>
                            <td>{{ almacen.fecha }}</td>
                            <td>{{ almacen.institucion }}</td>
                            <td style="text-align: center">{{ almacen.almacen }}</td>
                            <td>{{ almacen.material }}</td>
                            <td style="text-align: center">{{ almacen.unidad_medida }}</td>
                            <td style="text-align: center">{{ almacen.subunidad }}</td>
                            <td style="text-align: center">{{ almacen.cantidad }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>


    </div>

{% endblock %}