{% extends 'base.html.twig' %}

{% block title %}Reportes | Extramural{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('reportes_index') }}">Reportes</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('extramural_index') }}">Extramural</a></li>
{% endblock %}

{% block content %}
    <h3>Reportes
        <small>| Extramural</small>
    </h3>
    <div class="features-boxed">
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <a href="{{ path('parametros_ingresos') }}" class="text-dark">
                    <div class="box">
                        <i class="fa fa-file-pdf icon"></i>
                        <h2 class="name">Ingresos Económicos por Tratamientos</h2>
                        <p class="description"></p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <a href="{{ path('parametros_procedencia') }}" class="text-dark">
                    <div class="box">
                        <i class="fa fa-file-pdf icon"></i>
                        <h2 class="name">Tratamientos Ejecutados por Procedencia</h2>
                        <p class="description"></p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <a href="{{ path('parametros_almacen') }}" class="text-dark">
                    <div class="box">
                        <i class="fa fa-file-pdf icon"></i>
                        <h2 class="name">Consumo de Materiales por Fecha y Almacen.</h2>
                        <p class="description"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}