{% extends 'base.html.twig' %}

{% block title %}Reportes{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('reportes_index') }}">Reportes</a></li>
{% endblock %}

{% block content %}
    <h3>Reportes
        <small>| &blacktriangleright;</small>
    </h3>
    <div class="features-boxed">
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <a href="{{ path('parametros_direccion') }}" class="text-dark">
                    <div class="box">
                        <i class="fa fa-file-medical icon"></i>
                        <h2 class="name">Dirección de Clínicas</h2>
                        <p class="description"></p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <a href="{{ path('extramural_index') }}" class="text-dark">
                    <div class="box">
                        <i class="fa fa-file-medical-alt icon"></i>
                        <h2 class="name">Extramural</h2>
                        <p class="description"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}