{% extends 'base.html.twig' %}

{% block title %}Reportes - Dirección{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('reportes_index') }}">Reportes</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('extramural_index') }}">Extramural</a></li>
    <li class="breadcrumb-item" aria-current="page">Parámetros</li>
{% endblock %}
{% block content %}

    <h3 class="text-center">Reporte de Ingresos Económicos por Tratamientos</h3>
    <br/>
    <div class="row">
        <div class="col-sm-3" style="margin-bottom: 2%">

        </div>
        <div class="col-sm-6" style="margin-bottom: 2%">

            <form action="{{ path('reporte_ingresos_view') }}" method="post">
                <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                    <h3 class="text-center">Parámetros</h3>
                    <div class="form-group"><label for="fecha_inicio"><strong>Fecha Inicio</strong></label>
                        <input class="form-control" type="date" name="fecha_inicio" />
                    </div>
                    <div class="form-group"><label for="fecha_fin"><strong>Fecha Fin</strong></label>
                        <input class="form-control" type="date" name="fecha_fin" />
                    </div>
                    <button class="btn btn-info btn-block" type="submit">Generar Reporte</button>
                </fieldset>
            </form>
        </div>
        <br/><br/>
        <div class="col-sm-3" style="margin-bottom: 2%">

        </div>

    </div>

{% endblock %}
