{% extends 'base.html.twig' %}

{% block title %}Odontograma ICDAS{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/odontograma.css') }}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item active">
    ICDAS
  </li>
{% endblock %}

{% block content %}

  {{ include('clinico/fichas/table.html.twig') }}

  <!-- Content -->
  <div class="row">
    <div class="col">

      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
              <div class="row">

                <!-- Odontogram -->
                <div id="odontograma">

                  {% for toothrow in odontogram %}
                    <div class="tooth-row">

                      {% for tooth in toothrow %}
                        <div class="tooth d{{tooth.number}} {{tooth.class}}" data-state="{{tooth.states}}" data-surface="{{tooth.surfaces}}" data-need="{{tooth.needs}}" data-id="{{ tooth.ids }}">
                          <span>{{tooth.number}}</span>
                        </div>
                      {% endfor %}
                    </div>

                    {% if loop.index == loop.length / 2 %}
                      <div class="separador"></div>
                    {% endif %}
                  {% endfor %}

                </div>
                <!-- /Odontogram -->

                <!-- Modal  -->
                <div class="modal fade" id="tooth-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" width="1200">
                  <div class="modal-dialog" role="document" style="    margin: 1rem auto;max-width: 95%!important;max-width: 100%;">
                    <div class="modal-content" style="    width: 100%;">

                      <!-- Modal header -->
                      <div class="modal-header">
                        <button type="button" class="close" style="margin: 0;padding: 0;" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="modal-title-label">Evaluación dental</h4>
                        <div id="tooth-title-img"></div>
                      </div>
                      <!-- /Modal header -->

                      <!-- Modal body -->
                      <div class="modal-body">
                        <div class="container-fluid">

                          <!-- Needs' table -->
                          <div class="row">
                            <div class="col-md-12">
                              <div class="table-responsive table-bordered">

                                <!-- Table -->
                                <table id="needsTable" class="table table-striped table-bordered table-hover table-sm">
                                  <thead>
                                    <tr>
                                      <th>Superficie</th>
                                      <th>Estado</th>
                                      <th>Necesidad de tratamiento</th>
                                      {% if allowEdit == 1 %}
                                          <th>Acciones</th>
                                      {% endif %}
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                </table>
                                <!-- /Table -->

                              </div>
                            </div>
                          </div>
                          <!-- /Needs' table -->

                          <br><br>

                          <!-- Select surface -->
                          <div class="row" id="div-select-surface">

                            <!-- Full-tooth states -->
                            <div class="col-md-6">

                              <div class="box-header with-border">
                                <h3 class="box-title">Selección de pieza y superficie</h3>
                              </div>

                              <div class="form-group">
                                <div id="selectCompletes" class="btn-group-sm" role="group" aria-label="Diente completo" data-toggle="buttons">

                                  <label class="btn btn-primary btn-block d-none">
                                    <input id="completes_1" value="1" type="radio" name="options">
                                    <span>Para forzar toggle</span>
                                  </label>

                                  <!-- Default -->
                                  <label class="btn btn-primary btn-block">
                                    <input id="completes_100" value="100" type="radio" name="options">
                                    <span>Códigos de superficie</span>
                                  </label>
                                  <!-- Default -->

                                  <!-- Default -->
                                  <label class="btn btn-primary btn-block">
                                    <input id="completes_101" value="101" type="radio" name="options" data-type="full">
                                    <span>Otros códigos de pieza completa</span>
                                  </label>
                                  <!-- Default -->

                                  <!-- Full-tooth states -->
                                  {% for complete_state in complete_states %}
                                    <label class="btn btn-primary btn-block">
                                      <input id="completes_{{complete_state.codigo}}" value="{{complete_state.codigo}}" type="radio" name="options" data-type="full">
                                      <span>{{complete_state.codigo}}-{{complete_state.nombre}}</span>
                                    </label>
                                  {% endfor %}
                                  <!-- /Full-tooth states -->

                                </div>
                              </div>

                            </div>
                            <!-- /Full-tooth states -->

                            <!-- Surface selector -->
                            <div class="col-md-6" style="height: 360px;">
                              <div id="elegido">

                                <img style="z-index:0; position:absolute; top:0px; left:0px;" src="{{asset('img/odontograma/diente-limpio.png')}}" alt="Odontograma">
                                <img style="z-index:1; position:absolute; top:0px; left:0px;" id="surface-img" usemap="#odontomap">

                                <map name="odontomap">
                                  <area id="oclusal" alt="oclusal" data-image="oclusal" shape="rect" coords="54,55,267,267">
                                  <area id="mesial" alt="mesial" data-image="mesial" shape="poly" coords="270,266,308,302,315,288,315,32,307,16,269,53,272,59">
                                  <area id="distal" alt="distal" data-image="distal" shape="poly" coords="12,304,50,267,50,264,48,58,51,54,12,18,6,31,6,289">
                                  <area id="vestibular" alt="vestibular" data-image="vestibular" shape="poly" coords="52,51,57,48,261,48,267,50,304,12,286,4,32,4,14,14">
                                  <area id="lingual" alt="lingual" data-image="lingual" shape="poly" coords="52,270,56,273,263,273,268,271,306,305,291,315,32,315,15,307">
                                </map>

                              </div>
                            </div>
                            <!-- Surface selector -->

                            <!-- Surface message -->
                            <div id="div-msg" class="col-md-4 offset-md-6 alert alert-secondary"></div>
                            <!-- /Surface message -->

                          </div>
                          <!-- /Select surface -->

                          <!-- Select state -->
                          <div class="row" id="div-select-state">

                            <div class="col-md-12">
                              <div class="box-header with-border">
                                <h3 class="box-title">Selección de estado</h3>
                              </div>
                            </div>

                            <!-- Restorations -->
                            <div id="div_state_restoration" class="col-md-12">
                              <div class="form-group">

                                <label>Código restauración</label>
                                <select id="restoration" class="form-control" disabled="disabled">
                                  <option value="10">Seleccionar...</option>
                                  {% for restoration in restorations %}
                                    <option data-code="{{ restoration.nombre }}" value="{{restoration.codigo}}">{{restoration.nombre}}-{{restoration.descripcion}}</option>
                                  {% endfor %}
                                </select>

                              </div>
                            </div>
                            <!-- /Restorations -->

                            <!-- Cavities -->
                            <div id="div_state_cavity" class="col-md-12">
                              <div class="form-group">

                                <label>Código caries</label>
                                <select id="cavity" class="form-control" disabled="disabled">
                                  <option value="10">Seleccionar...</option>
                                  {% for cavity in cavities %}
                                    <option data-code="{{ cavity.nombre }}" value="{{cavity.codigo}}">{{cavity.nombre}}-{{cavity.descripcion}}</option>
                                  {% endfor %}
                                </select>

                              </div>
                            </div>
                            <!-- /Cavities -->

                            <div id="div_state_full" class="col-md-12">
                              <div class="form-group">
                                {% for fullmouth_state in fullmouth_states %}
                                  <label class="btn btn-primary btn-block">
                                    <input id="bc_{{fullmouth_state.codigo}}" value="{{fullmouth_state.codigo}}" type="radio" name="options">
                                    <span>{{fullmouth_state.nombre}}</span>
                                  </label>
                                {% endfor %}
                              </div>
                            </div>

                          </div>
                          <!-- /Select state -->

                          <br><br>

                          <!-- Select need -->
                          <div class="row" id="div-select-need">
                            <div class="col-md-12">

                              <!-- Needs' header -->
                              <div class="box-header with-border">
                                <h3 id="needs-title" class="box-title">Selección de tratamiento</h3>
                              </div>
                              <!-- /Needs' header -->

                              <div class="row">
                                <div class="col-md-3 offset-md-4">
                                  <input id="searchInput" type="search" style="width:100%; height:5vh;" name="" value="">
                                </div>
                                <div class="col-md-1">
                                  <button id="searchBtn" type="button" name="button" class="btn btn-info active"><i class="fa fa-search"></i></button>
                                </div>
                              </div>

                              <div class="row">

                                <div class="col-md-12">
                                  <!-- Needs' body -->
                                  <div id="options-needs" class="form-group list-group">
                                  </div>
                                  <!-- /Needs' body -->

                                  <button id="addNeedBtn" class="btn btn-primary btn-block" type="button">Agregar evaluación</button>

                                </div>
                              </div>
                            </div>

                            <div id="div-error" class="col-md-10 offset-md-1">
                            </div>
                          </div>
                          <!-- /Select need -->

                        </div>
                      </div>
                      <!-- /Modal body -->

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        {% if allowEdit == 1 %}
                            <button id="saveBtn" type="button" class="btn btn-primary">Guardar</button>
                        {% endif %}
                      </div>
                      <!-- /Modal footer -->

                    </div>
                  </div>
                </div>
                <!-- /Modal  -->

                <input id="allowEdit" type="hidden" value="{{allowEdit}}">
                <input id="fichaId" type="hidden" value="{{fichaId}}">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Content -->

  <!-- Treatments in DOM to get them as JSON object -->
  <div id="div-treatments" class="d-none">
    {% for treatment in treatments %}
    <div class="treatment" treatment-id="{{treatment.id}}" treatment-name="{{treatment.nombre}}"></div>
    {% endfor %}
  </div>
  <!-- /Treatments in DOM to get them as JSON object -->
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/odontograma.js') }}"></script>
{% endblock %}
