{% extends 'base.html.twig' %}

{% block title %}Odontograma ICDAS{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/odontograma_lesiones.css') }}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item active">
    Lesiones
  </li>
{% endblock %}

{% block content %}

  {{ include('clinico/fichas/table.html.twig') }}

  <!-- Content -->
  <div class="row">
    <div class="col">

      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
              <div class="row">

                <!-- Odontogram -->
                <div id="odontograma">

                  {% for toothrow in odontogram %}
                    <div class="tooth-row">

                      {% for tooth in toothrow %}
                        <div class="tooth d{{tooth.number}} {% if tooth.injuries != "" %}diente-marcado{% endif %}" data-injury="{{ tooth.injuries }}" data-id="{{ tooth.ids }}">
                          <span>{{tooth.number}}</span>
                        </div>
                      {% endfor %}
                    </div>

                    {% if loop.index == loop.length / 2 %}
                      <div class="separador"></div>
                    {% endif %}
                  {% endfor %}

                </div>
                <!-- /Odontogram -->

                <!-- Modal  -->
                <div class="modal fade" id="tooth-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" width="1200">
                  <div class="modal-dialog" role="document" style="    margin: 1rem auto;max-width: 95%!important;max-width: 100%;">
                    <div class="modal-content" style="    width: 100%;">

                      <!-- Modal header -->
                      <div class="modal-header">
                        <button type="button" class="close" style="margin: 0;padding: 0;" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="modal-title-label">Lesiones</h4>
                        <div id="tooth-title-img"></div>
                      </div>
                      <!-- /Modal header -->

                      <!-- Modal body -->
                      <div class="modal-body">
                        <div class="container-fluid">

                          <!-- Select state -->
                          <div id="injuries" class="row">

                            {% for type in injuries %}

                            <div class="col-md-6">
                              <div class="form-group injurie">
                                <label>{{type.nombre}}</label>
                                <select id="lesion_tipo_{{type.id}}" class="form-control select_lesion" disabled="disabled">
                                  <option value="0">Seleccionar...</option>
                                  {% for injury in type.members %}
                                    <option value="{{injury.id}}">{{injury.nombre}}</option>
                                  {% endfor %}
                                </select>

                              </div>
                            </div>

                            {% endfor %}

                          </div>
                          <!-- /Select state -->

                          <br><br>

                        </div>
                      </div>
                      <!-- /Modal body -->

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        {% if allowEdit == 1 %}
                          <button id="saveBtn" type="button" class="btn btn-primary">Guardar</button>
                        {% endif %}
                      </div>
                      <!-- /Modal footer -->

                    </div>
                  </div>
                </div>
                <!-- /Modal  -->

                <input id="allowEdit" type="hidden" value="{{allowEdit}}">
                <input id="fichaId" type="hidden" value="{{fichaId}}">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Content -->
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/odontograma_lesiones.js') }}"></script>
{% endblock %}
