{% extends 'base.html.twig' %}

{% block title %}Almacenes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Almacén</li>
{% endblock %}

{% block content %}
    <h1>Almacenes</h1>
    <div class="features-boxed">
        <div class="row justify-content-center features">
            {% for almacen in almacenes %}
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a href="{{ path('almacen_show',{almacen:almacen.id}) }}" class="text-dark">
                        <div class="box">
                            <i class="fa fa-box-open icon"></i>
                            <h2 class="name">{{ almacen.nombre }}</h2>
                            <p class="description">{{ almacen.institucion }}</p>
                            <p class="description">{{ almacen.descripcion }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}