{% extends 'base.html.twig' %}

{% block title %}Almacenes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_index') }}">Almacén</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ almacen.codigo }}</li>
{% endblock %}

{% block content %}
    <h3>{{ almacen.nombre }}
        <small>| {{ almacen.institucion }}</small>
    </h3>
    <div class="features-boxed">
        <div class="row justify-content-center features">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ASISTENTE') %}
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a href="{{ path('almacen_existencia', {almacen:almacen.id}) }}" class="text-dark">
                        <div class="box">
                            <i class="fa fa-boxes icon"></i>
                            <h2 class="name">Existencias</h2>
                            <p class="description">{{ almacen.descripcion }}</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a href="{{ path('almacen_movimiento', {almacen:almacen.id}) }}" class="text-dark">
                        <div class="box">
                            <i class="fa fa-list icon"></i>
                            <h2 class="name">Movimientos</h2>
                            <p class="description">{{ almacen.descripcion }}</p>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ESTUDIANTE') %}
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a href="{{ path('almacen_vale_index', {almacen:almacen.id}) }}" class="text-dark">
                        <div class="box">
                            <i class="fa fa-clipboard-list icon"></i>
                            <h2 class="name">Vales</h2>
                            <p class="description">{{ almacen.descripcion }}</p>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}