{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
    <a href="{{ admin.generateUrl('admin.rol_permiso.list', {id: object.id}) }}" class="btn btn-sm btn-default view_link" title="Mostrar permisos del rol">
        <i class="fa fa-list"></i> Permisos
    </a>
{% endif %}