{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
    <a href="{{ admin.generateUrl('admin.usuario_rol.list', {id: object.id}) }}" class="btn btn-sm btn-default view_link" title="Mostrar roles del usuario">
        <i class="fa fa-list"></i> Roles
    </a>
{% endif %}