{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
    <a href="{{ path('admin_app_administracion_menu_administracion_submenu_list', {id: object.id}) }}" class="btn btn-sm btn-default view_link" title="Mostrar registros">
        <i class="fa fa-list"></i> Submenus
    </a>
    <a href="{{ path('admin_app_administracion_menu_administracion_menupermiso_list', {id: object.id}) }}" class="btn btn-sm btn-default view_link" title="Mostrar permisos">
        <i class="fa fa-list"></i> Permisos
    </a>
{% endif %}