{% extends 'base.html.twig' %}

{% block title %}Control de tratamientos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dtlist.css') }}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item">
    Control
  </li>
{% endblock %}

{% block content %}

  {{ include('clinico/fichas/table.html.twig') }}

  <div class="row">
    <div class="col-12">
      <h2>Control de tratamiento efectuado<br></h2>
    </div>
    <div class="col">
      <form>
        <div class="form-row">
          <div class="col">
            <div class="table-responsive table-bordered">
              <table id="tratamientos" class="table table-striped table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Diente</th>
                    <th>Superficie</th>
                    <th>Tratamiento</th>
                    <th>Estado</th>
                    {% if editable %}
                    <th style="width: 15%;">Acciones</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for t in tratamientos %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ t.getPiezaDental() }}</td>
                    <td>{{ t.getSuperficieDental() | capitalize }}</td>
                    <td>{{ t.getTratamiento().getNombre() }}</td>
                    <td>
                      {% if t.getRealizado() == 0 %}
                        <p id="estado{{t.id}}">Pendiente</p>
                      {% else %}
                        <p id="estado{{t.id}}">Realizado</p>
                      {% endif %}
                    </td>

                    <td style="text-align:left;">
                      {% if t.getRealizado() == 0 %}
                        <a id="eval{{t.id}}" class="btn btn-warning active btn-sm" onclick="cambiarEfectuado({{t.id}})"><i class="material-icons">clear</i></a>
                        <a style="display: none;" id="hist{{t.id}}" class="btn btn-info btn-sm" href="{{ path('retratamiento_listar', { 'expedienteId': expedienteId, 'fichaId': fichaId, 'tratamientoId': t.id }) }}"
                        data-toggle="tooltip" data-placement="right" title="Ver historial"><i class="material-icons">history</i></a>
                      {% else %}
                        {% if t.getRetratamiento == 0%}
                        <a id="eval{{t.id}}" class="btn btn-success active btn-sm" onclick="cambiarEfectuado({{t.id}})"><i class="material-icons">done</i></a>
                        {% endif %}
                        <a id="hist{{t.id}}" class="btn btn-info btn-sm" href="{{ path('retratamiento_listar', { 'expedienteId': expedienteId, 'fichaId': fichaId, 'tratamientoId': t.id }) }}"
                        data-toggle="tooltip" data-placement="right" title="Ver historial"><i class="material-icons">history</i></a>
                      {% endif %}
                    </td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <input id="fichaId" type="hidden" value="{{fichaId}}">
  <input id="expedienteId" type="hidden" value="{{expedienteId}}">
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/plan_efectuado.js') }}"></script>
{% endblock %}
