{% extends 'base.html.twig' %}

{% block title %}Historial de retratamientos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dtlist.css') }}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item">
    Tratamiento
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('retratamiento_listar', {'expedienteId': expedienteId, 'fichaId': fichaId, 'tratamientoId': tratamientoId}) }}">{{tratamientoId}}</a>
  </li>
{% endblock %}

{% block content %}

  {{ include('clinico/fichas/table.html.twig') }}
  <div class="col-12">
      <h2>Historial para tratamiento {{tratamientoId}}<br></h2>
    </div>
  <table class="table table-bordered">
  <tbody>
      <tr>
        <th scope="row">Pieza</th>
        <td>{{ evaluacion_dental.getPiezaDental() }}</td>
        <th scope="row">Superficie</th>
        <td>{{ evaluacion_dental.getSuperficieDental()|capitalize }}</td>
        <th scope="row">Tratamiento</th>
        <td>{{ evaluacion_dental.getTratamiento().getNombre() }}</td>
      </tr>
  </tbody>
  </table>
  <h2>Tratamientos<br></h2>
  <div class="table-responsive table-bordered">
    <table id="tratamientos" class="table table-striped table-bordered table-hover table-sm">
      <thead>
        <tr>
         <th>Tipo</th>
         <th>Realizado por</th>
         <th>Fecha</th>
         <th style="width: 15%;">Acciones</th>
        </tr>
       </thead>
       <tbody>
         <tr id="trat{{tratamientos[0].id}}">
         <td>Primer tratamiento</td>
         <td>{{ usuarios[0].getNombreCompleto()  }} </td>
         <td>{{ tratamientos[0].getCreado()|date('d/m/Y') }}</td>
         <td style="text-align:center;">No acciones permitidas</td>
         </tr>
         {% for t in tratamientos[1:] %}
          <tr id="trat{{t.id}}">
          <td>Retratamiento</td>
          <td>{{ usuarios[loop.index].getNombreCompleto() }}</td>
          <td>{{ t.getCreado()|date('d/m/Y') }}</td>
          {% if editables[loop.index] %}
          <td style="text-align:center;"><a id="borrar{{t.id}}" class="btn btn-danger active btn-sm" onclick="removeRetratamiento({{t.id}})"><i class="material-icons">clear</i></a></td>
          {% else %}
          <td style="text-align:center;">No acciones permitidas</td>
          {% endif %}
          </tr>
         {% endfor %}                
        </tbody>
    </table>
  </div>


  <!-- Modal  -->
  <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="    margin: 1rem auto;">
      <div class="modal-content" style="width: 100%;">

        <!-- Modal header -->
        <div class="modal-header">
          <button type="button" class="close" style="margin: 0;padding: 0;" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="modal-title-label">Confirmación</h4>
          <div id="tooth-title-img"></div>
        </div>
        <!-- /Modal header -->

        <!-- Modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            ¿Realmente desea agregar un retratamiento?
          </div>
        </div>
        <!-- /Modal body -->

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-default" onclick="agregarRetratamiento({{tratamientoId}})" data-dismiss="modal">Agregar</button>
        </div>
        <!-- /Modal footer -->

      </div>
    </div>
  </div>
  <!-- /Modal  -->

<input id="fichaId" type="hidden" value="{{fichaId}}">
<input id="expedienteId" type="hidden" value="{{expedienteId}}">
{% endblock %}

{% block after_main %}
  <a class="btn btn-info btn-block float" role="button" data-toggle="modal" data-target="#confirmation-modal" style="z-index:10;"><i class="fa fa-plus my-float"></i></a>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/plan_historial.js') }}"></script>
{% endblock %}
