{% extends 'base.html.twig' %}

{% block title %}Plan de tratamientos{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item active">
    Plan
  </li>
{% endblock %}


{% block content %}
  {{ include('clinico/fichas/table.html.twig') }}

  <div class="row">
  <div class="col-sm-12 col-md-12"><h2>Tratamientos asignados<br></h2></div>
   {% for tipo in tratamientos_tipos %}
    <div class="col-sm-12 col-md-6">
      <div class="col-12" style="padding-top: 5%;">
        <h4 class="text-center">{{tipo}}</h3>
      </div>
      <table class="table table-bordered">
        <thead>
        <th scope="row">Pieza</th>
        <th scope="row">Tratamiento</th>
        <th scope="row">Superficie</th>
        <th scope="row">Prioritario</th>
        </thead>
        <tbody>
          {% for t in tratamientos[tipo] %}
            <tr>
              <td>{{t['pieza']}}</td>
              <td>{{t['tratamiento']}}</td>
              <td>{{t['superficie'] | capitalize}}</td>
              <td style="text-align:cente;r">
                  {% if t['prioridad'] == 0 %}
                    {% if editable %}
                    <a id="eval{{t['id']}}" class="btn btn-danger active btn-sm" onclick="cambiarEstado({{t['id']}})"><i class="material-icons">clear</i></a>
                    {% else %}
                    <h6>No</h6>
                    {% endif %}
                  {% else %}
                    {% if editable %}
                    <a id="eval{{t['id']}}" class="btn btn-success active btn-sm" onclick="cambiarEstado({{t['id']}})"><i class="material-icons">done</i></a>
                    {% else %}
                    <h6>Si</h6>
                    {% endif %}
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
  <input id="fichaId" type="hidden" value="{{fichaId}}">
  <input id="expedienteId" type="hidden" value="{{expedienteId}}">



{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/plan_preventivo.js') }}"></script>
{% endblock %}


