{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('perfil') }}">Perfil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2 text-center">
            <img src="//placehold.it/160" class="avatar m-x-auto img-fluid img-circle" alt="avatar">
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#" data-target="#profile" data-toggle="tab" class="nav-link active">Nuevo perfil</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-12">
                            {{ include('administracion/perfil/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
