{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Perfil</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2 text-center">
            <img src="//placehold.it/160" class="avatar m-x-auto img-fluid img-circle" alt="avatar">
            <label class="control-label">
                <input type="file" id="avatar" class="d-none custom-file-input">
                {#<span class="btn btn-link">Cambiar</span>#}
            </label>
        </div>
        <div class="col-md-10">
            <h4 class="text-center">{{ persona.nombreCompleto }}</h4>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#" data-target="#profile" data-toggle="tab" class="nav-link active">Perfil</a>
                </li>
                <li class="nav-item">
                    <a href="#" data-target="#contact" data-toggle="tab" class="nav-link">Contacto</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover table-striped">
                                <tbody>
                                <tr>
                                    <th>Nombre</th>
                                    <td>{{ persona.nombre }}</td>
                                </tr>
                                <tr>
                                    <th>Apellido</th>
                                    <td>{{ persona.apellido }}</td>
                                </tr>
                                <tr>
                                    <th>DUI</th>
                                    <td>{{ persona.dui }}</td>
                                </tr>
                                <tr>
                                    <th>NIT</th>
                                    <td>{{ persona.nit }}</td>
                                </tr>
                                <tr>
                                    <th>Nacimiento</th>
                                    <td>{{ persona.nacimiento? persona.nacimiento|date('Y-m-d') : '' }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <a href="{{ path('perfil_edit') }}">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
