{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.base.css') }}">
{% endblock %}

{% block title %}Calificaciones{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">Desempeño Académico</li>
    <li class="breadcrumb-item" aria-current="page">Calificaciones</li>
{% endblock %}

{% block content %}
    <h2 class="text-center">Calificaciones</h2>

    <table class="table table-sm">
        <tbody>
        <tr>
            <th>Carnet</th>
            <td>{{ estudiante.carnet }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ estudiante.persona }}</td>
        </tr>
        <tr>
            <th>Plan de estudio</th>
            <td>{{ plan_estudio }}</td>
        </tr>
        <tr>
            <th>Ciclo</th>
            <td>
                <select id="ciclo" name="ciclo" title="Ciclo" class="form-control">
                    {% for ciclo in ciclos %}
                        <option value="{{ ciclo.id }}">{{ ciclo }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Curso</th>
            <td><select id="curso" name="curso" title="Curso" class="form-control"></select></td>
        </tr>
        <tr>
            <th>Programa</th>
            <td><select id="programa" name="programa" title="Programa" class="form-control"></select></td>
        </tr>
        <tr>
            <th>Ponderación (%)</th>
            <td><input id="ponderacion" title="Ponderación" autocomplete="off" readonly class="form-control-plaintext form-control-sm"></td>
        </tr>
        <tr>
            <th>Calificación</th>
            <td><input id="promedio" title="Calificación" autocomplete="off" readonly class="form-control-plaintext form-control-sm"></td>
        </tr>
        <tr class="table-info">
            <th>Calificación final</th>
            <td><input id="nota" title="Calificación final" autocomplete="off" readonly class="form-control-plaintext form-control-sm"></td>
        </tr>
        </tbody>
    </table>
    <div id="treegrid"></div>
    <hr>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendor/jqwidgets/jqxcore.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxdata.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxbuttons.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxscrollbar.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxdatatable.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxtreegrid.js') }}"></script>

    <script src="{{ asset('js/calificacion.js') }}"></script>
{% endblock %}
