{% extends 'base.html.twig' %}

{% block title %}Consolidado de notas{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('estudiantes_parametros') }}">Académico</a></li>
    <li class="breadcrumb-item" aria-current="page">Consolidado</li>
    <li class="breadcrumb-item active" aria-current="page">Parámetros</li>
{% endblock %}

{% block content %}

    <h2 class="text-center">Consolidado de Notas por Ciclo</h2>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form action="{{ path('estudiantes_list') }}" method="post">
                <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                    <h3 class="text-center">Parámetros</h3>
                    <div class="form-group">
                        <label for="ciclo"><strong>Ciclo</strong></label>
                        <select id="ciclo" name="ciclo" title="Ciclo" class="form-control">
                            {% for ciclo in ciclos %}
                                <option value="{{ ciclo.id }}">{{ ciclo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group"><label for="curso"><strong>Curso</strong></label>
                        <select class="form-control" id="curso" name="curso"></select>
                    </div>
                    <a href="#" id="generar_consolidado" class="btn btn-info btn-block">Generar Informe</a>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var cicloSelect = $('#ciclo');
            var cursoSelect = $('#curso');
            var generarButton = $('#generar_consolidado');

            $('select').select2();

            cicloSelect.change(function (event) {
                var ciclo = cicloSelect.val();

                if (!ciclo) {
                    return;
                }

                cursoSelect.empty();
                var url = '/academico/consolidado/cursos/ciclo/' + ciclo;
                $.get(url, function (data) {
                    $.each(data, function (index, curso) {
                        cursoSelect.append(
                            $('<option/>')
                                .val(curso.id)
                                .text(curso.codigo + ' - ' + curso.nombre)
                        )
                    });
                    cursoSelect.trigger('change');
                }, 'json').fail(function (xhr, status, error) {
                    console.error(error)
                });
            });

            generarButton.click(function (event) {
                var ciclo = cicloSelect.val();
                var curso = cursoSelect.val();

                if (!ciclo || !curso) {
                    return;
                }

                var url = '/academico/consolidado/curso/' + curso + '/ciclo/' + ciclo;
                window.open(url, '_blank');
            });

            cicloSelect.trigger('change');
        });

    </script>
{% endblock %}