{% extends 'base.html.twig' %}

{% block title %}Consolidado de notas{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="#">Consolidado</a></li>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttons.dataTables.min.css') }}">
{% endblock %}
{% block content %}

    <div class="encabezado">
        <h4>{{ plan_estudio }}</h4>
        <h4 id="title">{{ curso }}</h4>
        <h4 id="subtitle">Consolidado de notas | {{ ciclo }}</h4>
    </div>

    <div class="row">
        <div class="col" style="margin-top:15px;margin-bottom:15px;">
            <div class="table-responsive">
                <table id="consolidadoTable" class="table table-striped table-bordered table-hover table-sm">
                    <caption class="text-body"><br></caption>
                    <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2">Carnet</th>
                        <th rowspan="2">Nombre</th>
                        {% for unidad_integracion in unidades_integracion %}
                            <th colspan="2">{{ unidad_integracion.nombre }}</th>
                        {% endfor %}
                        <th rowspan="2" style="text-align: center">Nota Final</th>
                    </tr>
                    <tr>
                        {% for unidad_integracion in unidades_integracion %}
                            <th>Nota</th>
                            <th>{{ unidad_integracion.ponderacion }}%</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for estudiante in estudiantes %}
                        <tr>
                            <td></td>
                            <td>{{ estudiante.carnet }}</td>
                            <td>{{ estudiante.nombre }}</td>
                            {% for unidad_integracion in unidades_integracion %}
                                {% set promedio = '' %}
                                {% set nota = '' %}
                                {% if estudiante.notas[unidad_integracion.id] is defined %}
                                    {% set promedio = estudiante.notas[unidad_integracion.id].promedio %}
                                    {% set nota = estudiante.notas[unidad_integracion.id].nota %}
                                {% endif %}
                                <td>{{ promedio|number_format(2) }}</td>
                                <td>{{ nota|number_format(2) }}</td>
                            {% endfor %}
                            <td style="text-align: center">{{ estudiante.final|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('js/jszip.min.js') }}"></script>
    <script src="{{ asset('js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('js/buttons.print.min.js') }}"></script>

    <script>

        $(document).ready(function () {
            var title = $('#title').text();
            var subtitle = $('#subtitle').text();
            var t = $('#consolidadoTable').DataTable({
                dom: 'Bfrtpi',
                buttons: [
                    {extend: 'excel', title: title, message: subtitle},
                    {extend: 'pdf', title: title, message: subtitle},
                    {extend: 'print', text: 'Imprimir', title: title, message: subtitle},
                ]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>

{% endblock %}
