{% extends 'base.html.twig' %}

{% block title %}Estudiantes{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="#">Registro Académico</a></li>

{% endblock %}
{% block content %}
    <div class="col-md-12 offset-md-0" style="margin-top:25px;margin-left:-6px;">
        <a class="btn btn-info" href="{{ path('estudiante_estado',{"id":1}) }}" style="float: right">
            <i class="fa fa-user"></i> Ver Perfil</a>
        <h4>Nombre: {{ estudiante.persona }}<br></h4>
        <h5 class="text-muted">Carné: {{ estudiante.carnet }} &nbsp;| Plan de Estudios: {{ plan_estudio }}</h5>
    </div>

    <div class="row">
        <div class="col" style="margin-top:15px;margin-bottom:15px;">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <caption class="text-body"><br></caption>
                    <thead>
                    <tr>
                        <th>Ciclo</th>
                        <th>Codigo</th>
                        <th>Curso</th>
                        <th>Estado</th>
                        <th>Nota</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for estudiante_curso in estudiante_cursos %}
                        <tr>
                            <td>{{ estudiante_curso.periodoCiclo }}</td>
                            <td>{{ estudiante_curso.curso.codigo }}</td>
                            <td>{{ estudiante_curso.curso }}</td>
                            <td>{{ estudiante_curso.estudianteEstado }}</td>
                            <td>{{ estudiante_curso.nota|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
