{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
    <a href="{{ admin.generateUrl('admin.articulo_presentacion.list', {id: object.id}) }}" class="btn btn-sm btn-default view_link" title="Mostrar presentaciones">
        <i class="fa fa-archive"></i> Presentaciones
    </a>
{% endif %}