<div class="row swing animated">
    <div class="col" style="margin-top:40px;">
        <h4 class="text-center text-info"
            style="margin-bottom:26px;">CESA</h4>
        <div class="row">
            <div class="col">
                <div class="form-group"><label
                            style="margin-right:25px;">Rango de fechas</label>
                    <input
                            class="form-control-sm form-control"
                            type="text" readonly=""
                            id="cesa{{ i+1 }}" name="cesa{{ i+1 }}"
                            value="{{ resumen.inicio_cesa|date("d/m/Y") }} - {{ resumen.fin_cesa|date("d/m/Y") }}"
                    >
                </div>
            </div>
        </div>
        <h4 class="text-center text-info"
            style="margin-bottom:26px;">CSNS</h4>
        <div class="form-group"><label
                    style="margin-right:25px;">Rango de fechas</label>
            <input
                    class="form-control-sm form-control" type="text"
                    readonly="" id="csns{{ i+1 }}" name="csns{{ i+1 }}"
                    value="{{ resumen.inicio_csns|date("d/m/Y") }} - {{ resumen.fin_csns|date("d/m/Y") }}"
            >
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h4 class="text-center text-info" style="margin-bottom:6px;margin-top:16px;">HNR</h4>
                    <label style="margin-right:25px;">Rango de fechas</label>
                    <input type="text" readonly class="form-control-sm form-control" id="hnr{{ i+1 }}" name="hnr{{ i+1 }}"
                           value="{{ resumen.inicio_hnr|date("d/m/Y") }} - {{ resumen.fin_hnr|date("d/m/Y") }}"
                    />
                </div>
            </div>
        </div>


        <h4 class="text-center text-info" style="margin-top:16px;"
            style="margin-bottom:26px;">ULC y CLC</h4>
        <div class="row">
            <div class="col">
                <div class="form-group"><label
                            style="margin-right:32px;padding-left:48px;">ULC</label><input
                            class="form-control" type="date" name="ulc{{ i+1 }}" value="{{ resumen.inicio_ulc|date("Y-m-d") }}">
                </div>
            </div>
            <div class="col"><label
                        style="margin-right:25px;margin-left:33px;">CLC</label><input
                        class="form-control" type="date" name="clc{{ i+1 }}" value="{{ resumen.inicio_clc|date("Y-m-d") }}"></div>
        </div>
        <br><br><br><br><br><br><br><br><br>
    </div>
</div>