{% extends 'base.html.twig' %}
{% block title %}Resumen{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Rotacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('calendarizacion') }}">Calendarizacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('calendarizacionResumen') }}">Resumen</a></li>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        {% if resumen is defined %}
            <h1 class="text-secondary">Resumen de Rotación <br/></h1>
            {% for resumen in resumen %}
                <div class="card" style="margin-top:28px;margin-bottom:34px;">
                    <div class="card-body">
                        <h4 class="text-uppercase text-center text-primary card-title">Grupo {{ resumen.grupo }}</h4>
                        <div class="card border-primary">
                            <div class="card-header" style="padding-top:5px;padding-bottom:0px;">
                                <h5>Rotacion {{ resumen.rotacion }}</h5>
                            </div>
                                {% if resumen.rotacion!='7' %}
                                    <div class="card-body" style="margin-bottom:-25px;">
                                        <h4 class="card-subtitle">CESA</h4>
                                        <p class="card-text">Fecha Inicio : Lunes {{ resumen.inicio_cesa|date("m/d/Y") }}
                                                             &nbsp;&nbsp;&nbsp;&nbsp;Fecha Fin: Viernes {{ resumen.fin_cesa|date("m/d/Y")}}<br/></p>
                                    </div>
                                    <div class="card-body" style="margin-bottom:-25px;">
                                        <h4 class="card-subtitle">CSNS</h4>
                                        <p class="card-text">Fecha Inicio : Lunes {{ resumen.inicio_csns|date("m/d/Y") }}
                                                             &nbsp;&nbsp;&nbsp;&nbsp;Fecha Fin: Viernes {{ resumen.fin_csns|date("m/d/Y")}}<br/></p>
                                    </div>
                                    <div class="card-body" style="margin-bottom:-25px;">
                                        <h4 class="card-subtitle">HNR</h4>
                                        <p class="card-text">Fecha Inicio : Lunes {{ resumen.inicio_hnr|date("m/d/Y") }}
                                                             &nbsp;&nbsp;&nbsp;&nbsp;Fecha Fin: Viernes {{ resumen.fin_hnr|date("m/d/Y")}}<br/></p>
                                    </div>
                                    <div class="card-body" style="margin-bottom:-25px;">
                                        <h4 class="card-subtitle">ULC</h4>
                                        <p class="card-text">Fecha Inicio : Lunes {{ resumen.inicio_ulc|date("m/d/Y") }}
                                    </div>
                                    <div class="card-body" style="margin-bottom:-25px;">
                                        <h4 class="card-subtitle">CLC</h4>
                                        <p class="card-text">Fecha Inicio : Lunes {{ resumen.inicio_clc|date("m/d/Y") }}<br/>
                                    </div>
                                    <br/>
                                    {% endif %}
                                {% if resumen.rotacion=='7'%}
                                    <div class="card-body" style="margin-bottom:-25px;">
                                        <h4 class="card-subtitle">PPE</h4>
                                        <p class="card-text">Fecha Inicio : Lunes {{ resumen.inicio_ppe|date("m/d/Y") }}
                                                             &nbsp;&nbsp;&nbsp;&nbsp;Fecha Fin: Viernes {{ resumen.fin_ppe|date("m/d/Y")}}<br/></p>
                                    </div>
                                    <br/>
                                {% endif%}

                        </div>
                    </div>
                </div>
        {% endfor %}
        {% else %}
            <br/>
            <h1>Calendarizacion Oficial del Ciclo No Establecida</h1>
        {% endif %}
    </div>
{% endblock %}