{% extends 'base.html.twig' %}
{% block title %} Calendarizacion {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/daterangepicker.css') }}">
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Rotacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Calendarizacion</a></li>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 offset-md-0" style="margin-top:25px;">
                        <h1>Parametros de Rotacion</h1>
                        <h5 class="text-muted">Ciclo Par &nbsp;| &nbsp;Numero de estudiantes : 45</h5>
                    </div>
                </div>
                <div class="row" style="margin-top:24px;">
                    <div class="col">
                        <div>
                            <ul class="nav nav-pills nav-fill" style="background-color:#f7f7f7;">
                                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="pill"
                                                        href="#tab-1">Grupo 1</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-2">Grupo
                                        2</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill"
                                                        href="#tab-3">Fin</a></li>
                            </ul>
                            <form action="" method="post">
                                <div class="tab-content">
                                        <div class="tab-pane fade show active" role="tabpanel" id="tab-1">
                                            <div class="row">
                                                <div class="col" style="margin-top:40px;">
                                                    <div>
                                                        <ul class="nav nav-pills nav-justified"
                                                            style="background-color:#e9e9e9;">
                                                            <li class="nav-item"><a class="nav-link active" role="tab"
                                                                                    data-toggle="pill" href="#tab-4">Rotación
                                                                    1</a></li>
                                                            <li class="nav-item"><a class="nav-link" role="tab"
                                                                                    data-toggle="pill" href="#tab-5">Rotación
                                                                    2</a></li>
                                                            <li class="nav-item"><a class="nav-link" role="tab"
                                                                                    data-toggle="pill" href="#tab-6">Rotación
                                                                    3</a></li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            {% set i=0 %}
                                                            {% if resumen is defined %}
                                                                {% for resumen in resumen %}
                                                                {% if i<=2 %}
                                                                    <div class="tab-pane {% if i==0 %}fade show active {% endif %}" role="tabpanel" id="tab-{{ i+4 }}">
                                                                        {% include 'rotacion/calendarizacion_inputs_dinamicos.html.twig' %}
                                                                    </div>
                                                                {% endif %}
                                                                    {% set i=i+1 %}
                                                                {% endfor %}
                                                            {% else %}
                                                                {% for i in 0..2 %}
                                                                    <div class="tab-pane fade {% if i==0 %}show active swing animated{% endif %}" role="tabpanel" id="tab-{{ i+4 }}">
                                                                        {% include 'rotacion/calendarizacion_inputs_estaticos.html.twig' %}
                                                                    </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" role="tabpanel" id="tab-2">
                                            <div class="row">
                                                <div class="col" style="margin-top:40px;">
                                                    <div>
                                                        <ul class="nav nav-pills nav-justified"
                                                            style="background-color:#e9e9e9;">
                                                            <li class="nav-item"><a class="nav-link active" role="tab"
                                                                                    data-toggle="pill" href="#tab-7">Rotación
                                                                    1</a></li>
                                                            <li class="nav-item"><a class="nav-link" role="tab"
                                                                                    data-toggle="pill" href="#tab-8">Rotación
                                                                    2</a></li>
                                                            <li class="nav-item"><a class="nav-link" role="tab"
                                                                                    data-toggle="pill" href="#tab-9">Rotación
                                                                    3</a></li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            {% set i=0 %}
                                                            {% if resumen is defined %}
                                                                {% for resumen in resumen %}
                                                                    {% if i>2 and i<=5 %}
                                                                <div class="tab-pane fade {% if i==3 %}show active swing animated{% endif %}" role="tabpanel" id="tab-{{ i+4 }}">
                                                                    {% include 'rotacion/calendarizacion_inputs_dinamicos.html.twig' %}
                                                                </div>
                                                                    {% endif %}
                                                                    {% set i=i+1 %}
                                                                {% endfor %}
                                                             {% else %}
                                                                 {% for i in 3..5 %}
                                                                         <div class="tab-pane fade {% if i==3 %}show active swing animated{% endif %}" role="tabpanel" id="tab-{{ i+4 }}">
                                                                             {% include 'rotacion/calendarizacion_inputs_estaticos.html.twig' %}
                                                                         </div>
                                                                 {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" role="tabpanel" id="tab-3">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <h4 class="text-center text-info" style="margin-bottom:6px;margin-top:16px;">PPE</h4>
                                                        <label style="margin-right:25px;">Rango de fechas</label>
                                                        {% if resumen is defined%}
                                                            <input type="text" readonly class="form-control-sm form-control" id="ppe1" name="ppe1"
                                                                   value="{{ resumen[6].inicio_ppe|date("d/m/Y") }} - {{ resumen[6].fin_ppe|date("d/m/Y") }}"/>
                                                        {% else %}
                                                        <input type="text" readonly class="form-control-sm form-control" id="ppe1" name="ppe1"
                                                                   value="{{ "now"|date("d/m/Y") }} - {{ "now"|date_modify("+30 day")|date("d/m/Y") }}"
                                                         />
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12" style="margin-top:40px;">
                                                    <button class="btn btn-primary btn-block btn-lg" id="btn-aceptar" type="submit">Aceptar</button>
                                                </div>
                                                <div style="margin:46px;"></div>
                                            </div>
                                            <br><br><br><br><br><br>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock %}
{% block javascripts %}
    <script src="{{ asset('js/rotacion/calendarizacion.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.js') }}"></script>
{% endblock %}