{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">


    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/myestilos/botonFlotante.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">

{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Rotacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('calendarizacion') }}">Calendarizacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('rotacion_preliminar') }}">Rotación Preliminar </a></li>
    <li class="breadcrumb-item" aria-current="page"> Cupos por institución  </li>
{% endblock %}

{% block content %}


    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-12 offset-md-0">

                {#{{ dump( intitu) }}#}
                <h1>Resumen de cupos por institución  </h1>
                {#<h5 class="text-muted">Ciclo Par &nbsp;| Numero de estudiantes: {{ rotacioEstudianteLocal|length  }}</h5>#}
<br/>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><select id="insti" data-column="1" class="filter-select form-control-sm" style="margin:5px;width:100%;">
                    <option value="" selected  >Institución</option>
                    {% for  key,programa in  intitu %}
                        <option value="{{ key}}" >{{key|upper }}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
        <br/>
        <div class="row">

            <div class="col">

            <table id="preliminarTabla" class="table table-striped table-hover table-sm table-bordered">
            <thead>
            <tr>
                <td>#</td>
                <th align="center">Programa</th>
                <th align="center">Grupo</th>
                <th>institución</th>
                <th>Cupos  </th>
                <th>Inscritos</th>
                <th align="center" >Espacios</th>


            </tr>
            </thead>
            <tbody>

            {#{{ dump(cuposPrograma) }}#}
            {% for curso in cuposPrograma %}
                <tr>

                        <td  align="center" class=" "></td>
                        <td  align="center" class=" ">{{ curso.programa}} </td>
                        <td  align="center" class=" ">
                        {% if (curso.nombreRotacion == 1) or (curso.nombreRotacion == 2) or (curso.nombreRotacion == 3)   %}
                           A{{ curso.nombreRotacion}}
                        {% else %}
                           B{{ curso.nombreRotacion}}
                        {% endif %}
                        </td>
                        <td  >{{ curso.nombre_institucion}} </td>
                        <td  align="center" class=" ">{{ curso.cupos_max}} </td>
                        <td  align="center" class=" ">{{ curso.activos}} </td>
                        <td  align="center" class="table-primary">{{ curso.cupos_max - curso.activos }} </td>



                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>  </div>
        <br/>
        <br/>
        <div class="row">




        </div>

    </div>

{% endblock %}


{% block javascripts %}

    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
    <script>

        $(document).ready(function() {
            var t =   $('#preliminarTabla').DataTable({
                "oLanguage": {
                    "sInfoFiltered": "",
                    
                },
                "order": [[ 3, "desc" ]],
                "responsive": true
            });

            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
            // $('input.global_filter').on( 'keyup click', function () {
            //     filterGlobal();
            // } );

            $('input.column_filter').on( 'keyup click', function () {
                console.log( $(this).parents('tr').attr('data-column'));
                filterColumn( $(this).parents('tr').attr('data-column') );
            } );


            $('.filter-select').on('change', function() {
                console.log(  $(this).attr('data-column') );
                console.log(this.value)
                $('#preliminarTabla').DataTable().column( $(this).attr('data-column') ).search(
                    this.value
                ).draw();

            })



        } );
    </script>

{% endblock %}
