{% extends 'base.html.twig' %}
{% block title %} Parametrizacion{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Rotacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('parametrizacion') }}">Parametrizacion</a></li>

{% endblock %}
{% block content %}
    {% set twig_programa %}{% endset %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 offset-md-0" style="margin-top:25px;">
                            <h1>Reuniones Especiales y Cupos</h1>
                        </div>
                    </div>
                    <div class="row" style="margin-top:24px;">
                        <div class="col">
                            <div>
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="pill" href="#tab-2">ESPECIALES</a></li>
                                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-3">CSNS</a></li>
                                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-4">PPE</a></li>
                                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-5">HNR</a></li>
                                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-6">OTROS</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" role="tabpanel" id="tab-2">
                                        <div class="row">
                                            <div class="col" style="margin-top:40px;">
                                                <h4 class="text-center" style="margin-bottom:20px;">Programa Preventivo Escolar</h4>
                                                <hr style="margin-top:25px;margin-bottom:25px;">
                                                <div class="row">
                                                    <div class="col">
                                                        <h4 class="text-center text-primary">Reuniones especiales&nbsp;</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <form action="{{ path('parametrizacionEspecial') }}" method="POST">
                                                            <div class="form-group"><label style="margin-right:7px;">Fecha:&nbsp;</label><input  name="fecha" class="form-control-sm" type="date" style="width:80%;" value={{ "now"|date('Y-m-d') }}></div>
                                                            <div class="form-group"><label>Motivo:&nbsp;</label><input name="motivo" class="form-control-sm" type="text" autocomplete="off" style="width:80%;"></div>
                                                            <div class="form-group">
                                                                <label for="gupo">Grupo :</label>
                                                                <select class="form-control-sm" id="grupo" style="width:80%;" name="grupo">
                                                                    <option>A</option>
                                                                    <option>B</option>
                                                                </select>
                                                            </div>
                                                            <button class="btn btn-primary btn-block btn-sm" type="submit" style="margin-bottom:20px;">Agregar</button>
                                                        </form>
                                                    </div>
                                                    <div
                                                            class="col-md-8" style="margin-bottom:90px;">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-hover table-sm">
                                                                <thead>
                                                                <tr>
                                                                    <th>Fecha</th>
                                                                    <th>Motivo</th>
                                                                    <th>Grupo</th>
                                                                    <th>Accion</th>
                                                                </tr>
                                                                </thead>
                                                                {% for e in  especiales %}
                                                                <tr>
                                                                    <td>{{ e.fecha |date("d/m/y")}}</td>
                                                                    <td>{{ e.descripcion }}</td>
                                                                    <td>{{ e.grupo.nombre }}</td>
                                                                    <td><a class="btn btn-danger active btn" href="{{ path('parametrizacionEspecial',{'id':e.id}) }}" style="height:32px;"><i class="fa fa-minus-circle"></i></a></td>
                                                                </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="tab-3">
                                        <div class="row">
                                            <div class="col" style="margin-top:40px;">
                                                <fieldset>
                                                    <legend>CSNS - Clinica Sistema Nacional Salud</legend>
                                                    <h5>Cupos de Clinicas</h5>
                                                    {% include 'rotacion/parametrizacion_fragmet.html.twig'
                                                        with {'twig_programa':'csns'}
                                                    %}
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="tab-4">
                                        <div class="row">
                                            <div class="col" style="margin-top:40px;">
                                                <fieldset>
                                                    <legend>PPE - Programa Preventivo Escolar</legend>
                                                    <h5>Cupos de Centros Escolares</h5>
                                                    {% include 'rotacion/parametrizacion_fragmet.html.twig'
                                                        with {'twig_programa':'ppe'}
                                                    %}
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="tab-5">
                                        <div class="row">
                                            <div class="col" style="margin-top:40px;">
                                                <fieldset>
                                                    <legend>HNR - Hospital Nacional Rosales</legend>
                                                    <h5>Cupos de Clinicas</h5>
                                                    {% include 'rotacion/parametrizacion_fragmet.html.twig'
                                                        with {'twig_programa':'hnr'}
                                                    %}
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="tab-6">
                                        <div class="row">
                                            <div class="col" style="margin-top:40px;">
                                                <fieldset>
                                                    <legend>CESA/ULC/CLC</legend>
                                                    <h5>Cupos de Instituciones</h5>
                                                    {% include 'rotacion/parametrizacion_fragmet_otros.html.twig'
                                                        with {'twig_programa':'cesa','twig_programa2':'ulc','twig_programa3':'clc'}
                                                    %}
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}