{% extends 'base.html.twig' %}
{% block title %} Parametrizacion{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Rotacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('parametrizacion') }}">Parametrizacion</a></li>

{% endblock %}
{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 offset-md-0" style="margin-top:25px;">
                            <h1>Parametros de rotacion</h1>
                            <h5 class="text-muted">Ciclo Par &nbsp;| &nbsp;Numero de estudiantes : 45</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:24px;">
                        <div class="col">
                            <div>
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="pill" href="#tab-2">PPE</a></li>
                                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-3">CSNS</a></li>
                                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-5">FIN</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" role="tabpanel" id="tab-2">
                                        <div class="row">
                                            <div class="col" style="margin-top:40px;">
                                                <h4 class="text-center" style="margin-bottom:20px;">Programa Preventivo Escolar</h4>
                                                <div class="row">
                                                    <form  class="form-inline" action="{{ path('parametrizacion') }}" method="POST">
                                                        <div class="form-group">
                                                            <label for="fecha">Fecha&nbsp;Inicio:&nbsp;</label>
                                                            <input class="form-control-sm" name="inicio" type="date" id="fecha" {% if  ppe is defined%} value={{ ppe[0].fecha|date('Y-m-d')}} {% else %} value={{"now"|date("Y-m-d") }}{% endif %}>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="fecha">Fecha&nbsp;Fin:&nbsp;</label>
                                                            <input class="form-control-sm" name="fin" type="date" id="fecha" {% if  ppe is defined%} value={{ ppe[1].fecha|date('Y-m-d') }}{% else %} value={{"now"|date("Y-m-d") }} {% endif %}>
                                                        </div>
                                                        <div class="form-group">
                                                                <button class="btn btn-primary btn-block btn-sm" type="submit"> Establecer</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <hr style="margin-top:25px;margin-bottom:25px;">
                                                <div class="row">
                                                    <div class="col">
                                                        <h4 class="text-center text-primary">Reuniones especiales&nbsp;</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <form action="{{ path('parametrizacionEspecial') }}" method="POST">
                                                            <div class="form-group"><label style="margin-right:7px;">Fecha:&nbsp;</label><input  name="fecha" class="form-control-sm" type="date" style="width:80%;" value={{ "now"|date('Y-m-d') }}></div>
                                                            <div class="form-group"><label>Motivo:&nbsp;</label><input name="motivo" class="form-control-sm" type="text" autocomplete="off" style="width:80%;"></div>
                                                            <button class="btn btn-primary btn-block btn-sm" href="res" type="submit" style="margin-bottom:20px;">Agregar</button>
                                                        </form>
                                                    </div>
                                                    <div
                                                            class="col-md-8" style="margin-bottom:90px;">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-hover table-sm">
                                                                <thead>
                                                                <tr>
                                                                    <th>Fecha</th>
                                                                    <th>Motivo</th>
                                                                    <th>Accion</th>
                                                                </tr>
                                                                </thead>
                                                                {% for e in  especiales %}
                                                                <tr>
                                                                    <td>{{ e.fecha |date("d/m/y")}}</td>
                                                                    <td>{{ e.descripcion }}</td>
                                                                    <td><a class="btn btn-danger active btn" href="{{ path('parametrizacionEspecial',{'id':e.id}) }}" style="height:32px;"><i class="fa fa-minus-circle"></i></a></td>
                                                                </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="tab-3">
                                        <div class="row">
                                            <div class="col" style="margin-top:40px;">
                                                <fieldset>
                                                    <legend>CSNS - Clinica Sistema Nacional Salud</legend>
                                                    <h5>Cupos de clinicas</h5>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-hover table-sm">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Nombre&nbsp;</th>
                                                                        <th>Cupos</th>
                                                                        <th>Accion</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for i in instituciones %}
                                                                    <tr>
                                                                        <form action="{{ path('parametrizacionInstitucion') }}" method="post">
                                                                            <input class="form-control-sm" type="hidden" name="id_institucion" value="{{ i.id }}">
                                                                            <td class="align-content-center">{{ i.institucion.nombre }}&nbsp;</td>
                                                                            <td><input class="form-control-sm" type="number" name="cantidad" value="{{ i.cantidadEstudiante }}"></td>
                                                                            <td class="align-items-center"><button class="btn btn-info active btn" type="submit" style="height:32px;"><i class="fa fa-save"></i></button></td>
                                                                        </form>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="tab-5">
                                        <p style="margin-top:40px;margin-bottom:40px;">A continuacion se mostrara una vista previa de la rotacion , con la cual podra gestionar todos los cambios deseados&nbsp;</p>
                                        <a class="btn btn-primary btn-block" role="button" href="{{ path('calenResumen') }}"
                                                                                                                                                                                                                       style="margin-top:18px;">Finzalizar</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}