<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>Programa</th>
                    <th>Nombre&nbsp;</th>
                    <th>Cupos</th>
                    <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                {% for i in instituciones %}
                    {% if i.programa.codigo==twig_programa or i.programa.codigo==twig_programa2 or i.programa.codigo==twig_programa3 %}
                        <tr>
                            <form action="{{ path('parametrizacionInstitucion') }}" method="post">
                                <input class="form-control-sm" type="hidden" name="id_institucion" value="{{ i.id }}">
                                <td class="align-content-center">{{ i.programa.codigo|upper }}</td>
                                <td class="align-content-center">{{ i.institucion.nombre|upper }}&nbsp;</td>
                                <td><input class="form-control-sm" type="number" name="cantidad" value="{{ i.cantidadEstudiante }}" min="0"></td>
                                <td class="align-items-center"><button class="btn btn-info active btn" type="submit" style="height:32px;"><i class="fa fa-save"></i></button></td>
                            </form>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>