{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">

{% endblock %}
{#{% block breadcrumb %}#}
    {#<li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Rotacion</a></li>#}
    {#<li class="breadcrumb-item" aria-current="page"><a href="{{ path('calendarizacion') }}">Calendarizacion</a></li>#}
    {#<li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Resumen</a></li>#}
{#{% endblock %}#}

{% block content %}



                <div class="container" style="margin-top:10px;">


                    <div class="row" style="margin-top:15px;">
                        <div class="col">


                            {#<div class="row">#}
                                {#<a class="dropdown-item" href="{{ path('rotacion_preliminar') }}">Rotacion_preliminar</a>#}
                            {#</div>#}


                            {#<table class="table-bordered">#}

                                {#<thead>#}
                                {#<tr>#}
                                    {#<th>#</th>#}
                                    {#<th>Rotacion numero</th>#}
                                    {#<th>GrupoEstudiante Grupo</th>#}
                                    {#<th>EstudiantePlanEstudio cum</th>#}
                                    {#<th>Estudiante carnet</th>#}
                                    {#<th>ProgramaInstitucion cantidad_estudiante</th>#}
                                    {#<th>Programa codigo </th>#}
                                    {#<th>Institucion nombre</th>#}
                                {#</tr>#}
                                {#</thead>#}

                            {#{% for key, value in algoTable %}#}

                                {#<tr>#}
                                    {#<td>{{   key+1}} </td>#}
                                    {#<td>{{   value.Rotacion.numero}} </td>#}
                                    {#<td> {{   value.GrupoEstudiante.Grupo.nombre}} </td>#}
                                    {#<td>{{  value.GrupoEstudiante.EstudianteCurso.EstudiantePlanEstudio.cum}}</td>#}
                                    {#<td>{{   value.GrupoEstudiante.EstudianteCurso.EstudiantePlanEstudio.Estudiante.carnet }}</td>#}
                                    {#<td>{{   value.ProgramaInstitucion }}</td>#}
                                    {#<td>{{   value.ProgramaInstitucion.Programa.codigo  }}</td>#}
                                    {#<td>{{   value.ProgramaInstitucion.Institucion.nombre  }}</td>#}
                                {#{% for key, value in value %}#}
                                    {#{{ dump(value.EstudianteCurso.EstudiantePlanEstudio.cum ) }}#}

                            {#<li> {{ key  }} :#}
                                {#{{ value.EstudianteCurso.EstudiantePlanEstudio.Estudiante.carnet  }} :#}
                                {#{{ value.EstudianteCurso.EstudiantePlanEstudio.cum  }} :#}
                                {#{{ value.Grupo.nombre  }} :#}

                            {#</li>#}
                               {#{% endfor %}#}
                                {#</tr>#}
                            {#{% endfor %}#}

                            {#</table>#}
                            {#<br><br><br><br>#}

                            {#{{ dump(algoTable [0]) }}#}
                            <table id="preliminarTabla" class="table-bordered" >
                            {#<table id="preliminarTabla" class="table table-striped table-bordered" >#}
                                <thead>
                                <tr>
                                    <th>#</th>

                                    <th>Rotacion numero</th>
                                    <th>Grupo Estudiante Grupo</th>
                                    <th>Estudiante Plan Estudio cum</th>
                                    <th>Estudiante carnet</th>
                                    <th>Programa codigo </th>
                                    <th>Institucion nombre</th>
                                    <th>Materia</th>
                                    <th>cupo x grupo </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, value in algoTable %}

                                    <tr>
                                        <td></td>
                                        {% if value.Rotacion.numero ==    1  %}
                                        <td class="table-primary">{{   value.Rotacion.numero}} </td>
                                        {% elseif value.Rotacion.numero ==2 %}
                                        <td class="table-danger">{{   value.Rotacion.numero}} </td>
                                        {% elseif value.Rotacion.numero ==3 %}
                                        <td class="table-info">{{   value.Rotacion.numero}} </td>
                                        {% elseif value.Rotacion.numero ==4 %}
                                        <td class="table-secondary">{{   value.Rotacion.numero}} </td>
                                        {% elseif value.Rotacion.numero ==5 %}
                                        <td class="table-success">{{   value.Rotacion.numero}} </td>
                                        {% elseif value.Rotacion.numero ==7 %}
                                            <td class="table-dark">{{   value.Rotacion.numero}} </td>
                                        {% else %}
                                        <td class="table-light">{{   value.Rotacion.numero}} </td>
                                        {% endif %}
                                        <td> {{   value.GrupoEstudiante.Grupo.nombre}} </td>
                                        <td>{{   value.GrupoEstudiante.EstudianteCurso.EstudiantePlanEstudio.cum}}</td>
                                        <td>{{   value.GrupoEstudiante.EstudianteCurso.EstudiantePlanEstudio.Estudiante.carnet }}</td>
                                        <td>{{   value.ProgramaInstitucion.Programa.codigo  }}</td>
                                        <td>{{   value.ProgramaInstitucion.Institucion.nombre  }}</td>
                                        <td>{{   value.GrupoEstudiante.EstudianteCurso.Curso.codigo  }}</td>
                                        <td>{{   value.ProgramaInstitucion.getCantidadEstudiante }}</td>
                                        {#{% for key, value in value %}#}
                                        {#{{ dump(value.EstudianteCurso.EstudiantePlanEstudio.cum ) }}#}

                                        {#<li> {{ key  }} :#}
                                        {#{{ value.EstudianteCurso.EstudiantePlanEstudio.Estudiante.carnet  }} :#}
                                        {#{{ value.EstudianteCurso.EstudiantePlanEstudio.cum  }} :#}
                                        {#{{ value.Grupo.nombre  }} :#}

                                        {#</li>#}
                                        {#{% endfor %}#}
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                      </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col"><button class="btn btn-success btn-block" type="button" id="publicar">Publicar&nbsp;<i class="fa fa-paper-plane"></i></button></div>
                        <div class="col"><button class="btn btn-primary btn-block" type="button" id="acepRotar">Aceptar Rotación&nbsp;<i class="fa fa-star"></i></button></div>
                    </div>
                </div>
    <br/>
    <br/> <br/>
    <br/>


            {% endblock %}


{% block javascripts %}


    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>



    <script>
        // function filterGlobal () {
        //     $('#preliminarTabla').DataTable().search(
        //         $('#global_filter').val(),
        //         $('#global_regex').prop('checked'),
        //         $('#global_smart').prop('checked')
        //     ).draw();
        // }

        function filterColumn ( i ) {
            $('#preliminarTabla').DataTable().column( i ).search(
                $('#col'+i+'_filter').val()

            ).draw();
        }

        $(document).ready(function() {
            // $('#preliminarTabla').DataTable();
            var t = $('#preliminarTabla').DataTable( {
                "lengthMenu": [[ -1], ["All"]],

                "oSearch": {"sSearch": "PL15002" },
                "columnDefs": [ {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                } ],
                "order": [[ 1, 'asc' ]]
            } );

            // $('input.global_filter').on( 'keyup click', function () {
            //     filterGlobal();
            // } );

            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();

            $('input.column_filter').on( 'keyup click', function () {
                console.log( $(this).parents('tr').attr('data-column'));
                filterColumn( $(this).parents('tr').attr('data-column') );
            } );
        } );
    </script>

{% endblock %}
