{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">

{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Rotacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('calendarizacion') }}">Calendarizacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="#">Rotación Preliminar </a></li>
{% endblock %}

{% block content %}

    <style>
        .table{
            width: 100%!important;
            overflow-x: auto;
            display: table;
        }


        @media (max-width: 767.98px){
            .table-responsive-sm {
                display: block;}}

    </style>

                <div class="container" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-md-12 offset-md-0">

                            {#{{ dump( gruposRotables) }}#}
                            <h1>Planeacion de Rotación&nbsp;<em>⇄</em>&nbsp;<em>(Preliminar)</em><br></h1>
                            <h5 class="text-muted">Ciclo Par &nbsp;| Numero de estudiantes: {{ rotacioEstudianteLocal|length  }}</h5>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><select id="insti" data-column="4" class="filter-select form-control-sm" style="margin:5px;width:100%;">
                                <option value="" selected  >Institución</option>
                                {% for  key,programa in  programaXinstitucion %}
                                    <option value="{{programa.nombreInstitucion }}" >{{programa.nombreInstitucion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3"><select data-column="5" class="filter-select form-control-sm" style="margin:5px;width:100%;">
                                <option value=""   >Programa</option>
                                {% for  key,programa in  instituciones %}
                                    <option value="{{programa.codigoPrograma }}"   >{{ programa.codigoPrograma }} - {{programa.nombrePrograma }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col"><select data-column="1"  class="filter-select form-control-sm" style="margin:5px;width:100%;">
                                <option value=""   >Grupo</option>
                                {% for  key,programa in  gruposRotables %}
                                        <option value="{{programa.numero }}">{{ programa.Grupo.padre.nombre }} - {{programa.numero }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        {#{{ dump(cursosDeCicloPerido[1]) }}#}
                        {#{% if (key==0) %}selected {% endif %}#}
                        <div class="col"><select data-column="6"  class="filter-select form-control-sm" style="margin:5px;width:100%;">
                                <option value=""   >Curso</option>
                                {% for  key,programa in  cursosDeCicloPerido %}
                                        <option value="{{programa.codigo }}" >{{ programa.codigo }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col">





                            <table id="preliminarTabla" class="table table-striped table-hover table-sm table-bordered table-responsive-sm" >
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <th align="center">Grupo</th>
                                    <th>Carnet</th>
                                    <th>Nombre</th>
                                    <th>Institución</th>
                                    <th align="center" >Programa</th>
                                    <th>Curso</th>
                                    {#<th>Fecha Rot.</th>#}
                                    {% if rotaciones %}
                                    <th>Intercambiar</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>

{#{{ dump(rotacioEstudianteLocal[1]) }}#}
                                {% for estudiante in rotacioEstudianteLocal %}
                                    <tr>
                                        <td  align="center"></td>




                                        {% if estudiante.nombreGrupo ==    1  %}
                                            <td  align="center" class="table-primary">A{{   estudiante.nombreGrupo}} </td>
                                        {% elseif estudiante.nombreGrupo ==2 %}
                                            <td  align="center" class="table-danger">A{{   estudiante.nombreGrupo}} </td>
                                        {% elseif estudiante.nombreGrupo ==3 %}
                                            <td  align="center" class="table-info">A{{   estudiante.nombreGrupo}} </td>
                                        {% elseif estudiante.nombreGrupo ==4 %}
                                            <td  align="center" class="table-secondary">B{{   estudiante.nombreGrupo}} </td>
                                        {% elseif estudiante.nombreGrupo ==5 %}
                                            <td  align="center" class="table-success">B{{   estudiante.nombreGrupo}} </td>
                                        {% elseif estudiante.nombreGrupo ==7 %}
                                            <td  align="center" class="table-warning">C{{   estudiante.nombreGrupo}} </td>
                                        {% else %}
                                            <td  align="center" class="table-light">B{{   estudiante.nombreGrupo}} </td>
                                        {% endif %}


                                        <td><a  href="{{ path('rotacionEstudiante',{"carnet":  estudiante.carnet }) }}">{{ estudiante.carnet }}</a></td>
                                        <td>{{ estudiante.nombreCompleto }}</td>



                                        <td>{{ estudiante.nombreInstitucion }}</td>
                                        {#<td>{{ estudiante.codigoPrograma |upper}} | {{ estudiante.nombrePrograma }}</td>#}
                                        <td  align="center">{{ estudiante.codigoPrograma |upper}} </td>
                                        <td  align="center" >{{ estudiante.cursoCodigo |upper}} </td>
                                        {#<td>{{ estudiante.inicio }}  &nbsp; {{ estudiante.fin }} </td>#}
                                        {% if rotaciones %}
                                        <td><a class="btn btn-primary" role="button" href="{{ path('intercambio',
                                                {'grupoEstudiante': estudiante.idGrupoEstudiante,
                                                  'programaIsntitucion': estudiante.programaInstitucion,
                                                  'id_rotacion':estudiante.idRotacion,
                                                  'id_programa':estudiante.codigoPrograma}) }}">Intercambiar</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                      </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col"><a href="{{ path('email') }}" class="btn btn-success btn-block"  id="publicar">Publicar&nbsp;<i class="fa fa-paper-plane"></i></a></div>
                        {% if rotaciones %}
                        <div class="col"><a href="{{ path('aceptar') }}" class="btn btn-primary btn-block" id="acepRotar" >Aceptar Rotación&nbsp;<i class="fa fa-star"></i></a></div>
                        <div class="col" style=""><a href="{{ path('eliminar_rotacion') }}" class="btn btn-danger btn-block" id="acepEli" >Elimiminar&nbsp;<i class="fa fa-eraser"></i></a></div>


                        {% endif %}
                    </div>
                </div>
    <br/>
    <br/> <br/>
    <br/>


            {% endblock %}


{% block javascripts %}


    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>



    <script>

        $(document).ready(function() {
            var t =   $('#preliminarTabla').DataTable({
                "oLanguage": {
                    "sInfoFiltered": "",
                    "sInfo": ""
                },
                "order": [[ 1, "asc" ]],
            });
            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
            // $('input.global_filter').on( 'keyup click', function () {
            //     filterGlobal();
            // } );

            $('input.column_filter').on( 'keyup click', function () {
                console.log( $(this).parents('tr').attr('data-column'));
                filterColumn( $(this).parents('tr').attr('data-column') );
            } );


            $('.filter-select').on('change', function() {
                console.log(  $(this).attr('data-column') );
                console.log(this.value)
                $('#preliminarTabla').DataTable().column( $(this).attr('data-column') ).search(
                    this.value
                ).draw();

            })



        } );
    </script>

{% endblock %}
