{% extends 'base.html.twig' %}
{% block title %} Rotacion Individual {% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Rotacion</a></li>
{% endblock %}
{% block content %}
    <br>
    {% if rotaciones|length>0 %}
    <h3>{{ rotaciones[0].curso }}</h3>
        <br>
    <p>Tu rotacion oficial para el {{ rotaciones[0].nombre_periodo_ciclo}} es la siguiente:</p>
    </table>
        <table class="table">
            <thead>
            <tr>
                <th>Programa</th>
                <th>Institucion</th>
                <th>Rotacion </th>
                <th>Fechas </th>
            </tr>
            </thead>
            <tbody>
            {% for rotacion in rotaciones %}
            <tr>
                <td>{{ rotacion.programa }}</td>
                <td>{{ rotacion.institucion }}</td>
                <td>{{ rotacion.rotacion}}</td>
                <td>{{ rotacion.fechas}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No Tienes Asignada ninguna Rotacion para el Ciclo en Curso</h3>
    {% endif %}
{% endblock %}