{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">

{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Rotacion</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('rotacion_preliminar') }}">Rotacion Preliminar</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('/') }}">Intercambio</a></li>
{% endblock %}

{% block content %}



    {#{{ dump(estudianteSelecto) }}#}
    {#{{ dump(estudiante) }}#}

    <div class="container" style="margin-top:30px;">
        <div class="col-md-12 offset-md-0">
            <h1>Planeacion de Rotacion&nbsp;<em>⇄</em>&nbsp;<em>(Preliminar)</em><br></h1>
            <h5 class="text-muted"><strong>Preliminar</strong>&nbsp;| Ciclo Par &nbsp;| &nbsp;Numero de estudiantes : 45</h5>
        </div>
        <hr>
        <h5>{{ estudianteSelecto.nombreCompleto }} &nbsp;<small>{{ estudianteSelecto.carnet }}</small></h5>
        <div class="row">
            <div class="col-md-6" style="padding-top:8px;padding-left:15px;padding-bottom:8px;">
                <form class="form-inline">
                    <div class="form-group" style="width:100%;"><label for="grupo" style="margin-right:5px;"><strong>Programa:&nbsp;</strong></label><input class="form-control form-control-sm" type="text" value="{{ estudianteSelecto.nombrePrograma }}" readonly="" autocomplete="off" id="grupo" style="width:100%;"></div>
                </form>
            </div>
            <div class="col-md-6" style="padding-top:8px;padding-bottom:8px;">
                <form class="form-inline">
                    <div class="form-group" style="width:100%;"><label for="grupo"><strong>Grupo:&nbsp;</strong></label><input class="form-control form-control-sm" type="text" value="{{ estudianteSelecto.nombreGrupo }}" readonly="" autocomplete="off" id="grupo" style="width:100%;"></div>
                </form>
            </div>
            <div class="col-md-6" style="padding-top:8px;padding-bottom:8px;">
                <form class="form-inline">
                    <div class="form-group"><label for="grupo"><strong>Institucion:&nbsp;</strong></label><input class="form-control form-control-sm" type="text" value="{{ estudianteSelecto.nombreInstitucion }}" readonly="" autocomplete="off" id="grupo" style="width:100%;"></div>
                </form>
            </div>
        </div>
        <hr style="margin-bottom:25px;margin-top:25px;">
        <div class="row">
            <div class="col">
                <p>En la siguiente tabla se muestran los alumnos con los que se puede realizar el intercambio para el programa respectivo</p>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block float-right btn-movimiento" type="button" id="moverSinIntercambio">Mover sin intercambio</button>
            </div>
        </div>


{#tabla donde haremos el intercambio------------------------------------------------- #}
        <div class="row">
            {#<div class="col-md-4"><select id="insti" data-column="4" class="filter-select form-control-sm" style="margin:5px;width:100%;">#}
                    {#<option value="" selected  >Institución</option>#}
                    {#{% for  programa in  programaXinstitucion %}#}
                        {#<option value="{{programa.nombreInstitucion }}" >{{programa.nombreInstitucion }}</option>#}
                    {#{% endfor %}#}
                {#</select>#}
            {#</div>#}
            {#<div class="col-md-3"><select data-column="5" class="filter-select form-control-sm" style="margin:5px;width:100%;">#}
                    {#<option value=""   >Programa</option>#}
                    {#{% for  programa in  instituciones %}#}
                        {#<option value="{{programa.nombrePrograma }}" selected  >{{ programa.codigoPrograma }} - {{programa.nombrePrograma }}</option>#}
                    {#{% endfor %}#}
                {#</select>#}
            {#</div>#}
            {#<div class="col"><select data-column="3"  class="filter-select form-control-sm" style="margin:5px;width:100%;">
                    <option value=""   >Grupo</option>
                    {% for  programa in  gruposRotables %}
                        <option value="{{programa.numero }}" selected>{{ programa.Grupo.padre.nombre }} - {{programa.numero }}</option>
                    {% endfor %}
                </select>
            </div>
            #}
        </div>
        <div class="row" style="margin-top:15px;">
            <div class="col">
                <table id="preliminarTabla" class=" table-striped table-bordered" >
                    <thead>
                    <tr>
                        <td>#</td>
                        <th>Carnet</th>
                        <th>Nombre</th>
                        <th>grupo</th>
                        <th>Institución</th>
                        <th>Programa</th>
                        <th>Fecha Rot.</th>
                        <th>Intercambiar</th>
                    </tr>
                    </thead>
                    <tbody>

                    {#{{ dump(rotacioEstudianteLocal[1]) }}#}
                    {% for estudiante in rotacioEstudianteLocal %}
                        <tr>
                            <td></td>
                            <td>{{ estudiante.carnet }}</td>
                            <td>{{ estudiante.nombreCompleto }}</td>
                            <td>{{ estudiante.nombreGrupo }}</td>
                            <td>{{ estudiante.nombreInstitucion }}</td>
                            <td>{{ estudiante.nombrePrograma }}</td>
                            <td>{{ estudiante.inicio }} <br> {{ estudiante.fin }} </td>

                            <td>
                                <button class="btn btn-primary btn-intercambio" role="button"
                                   data-grupo="{{ estudiante.idGrupoEstudiante }}"
                                   data-nombre="{{ estudiante.nombreCompleto }}"
                                   data-carnet="{{ estudiante.carnet }}"
                                   data-programa="{{ estudiante.codigoPrograma|upper }}"
                                   data-institucion="{{ estudiante.nombreInstitucion }}">Seleccionar</button>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

<br/>
<br/>
<br/>
<br/>
<br/>

{#modal 1---------------------------------------------------------------------------- #}
        <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center modal-title">Intercambio de Estudiantes&nbsp;</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <div class="card text-primary border-primary">
                            <div class="card-body">
                                <h4 class="card-title">{{ estudianteSelecto.nombreCompleto}}</h4>
                                <h6 class="text-muted card-subtitle mb-2">{{ estudianteSelecto.carnet }}</h6>
                                <p class="card-text" style="height:5px;"><strong>Programa: </strong> {{ estudianteSelecto.codigoPrograma|upper }}<br></p>
                                <p class="card-text" style="height:5px;"><strong>Institucion: </strong>{{ estudianteSelecto.nombreInstitucion }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp;<br></p>
                                <p class="card-text" style="height:5px;"><strong>Ciclo: </strong> {{ estudianteSelecto.nombre_ciclo}}<br></p>
                            </div>
                        </div>
                        <hr>
                        <div class="card text-warning border-warning">
                            <div class="card-body">
                                {#<h4 class="card-title"><span class="intercambio-grupo"></span></h4>#}
                                <h4 class="card-title"><span class="intercambio-nombre"></span></h4>
                                <h6 class="text-muted card-subtitle mb-2"><span class="intercambio-carnet"></span></h6>
                                <p class="card-text" style="height:5px;"><strong>Programa: </strong><span class="intercambio-programa"></span><br></p>
                                <p class="card-text" style="height:5px;"><strong>Institucion: </strong><span class="intercambio-institucion"></span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp;&nbsp;<br></p>
                                <p class="card-text" style="height:5px;"><strong>Ciclo en curso :</strong>{{ estudianteSelecto.nombre_ciclo}}<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button>
                        <form  action="{{ path('p_intercambio') }}" method="POST"><input type="hidden" id="estudiante1" value="">
                            <input type="hidden" name="rotacion" value="{{ estudianteSelecto.idRotacion }}">
                            <input type="hidden" name="estudiante1" value="{{ estudianteSelecto.idGrupoEstudiante }}">
                            <input type="hidden" id="estudiante2" name="estudiante2" value="">
                            <button class="btn btn-primary" id="btn_intercambio" type="submit" >Intercambiar</button>
                        </form>
                        <!--<button class="btn btn-primary" type="button">Intercambiar</button>-->
                    </div>
                </div>
            </div>
        </div>

{#modal 2---------------------------------------------------------------------------- #}
<div class="modal fade" role="dialog" tabindex="-1" id="modalMovimiento">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center modal-title">Movimiento de Estudiante&nbsp;</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <form action="#" method="post">
                            <fieldset >
                                <div class="form-group" style="width:100%;"><label for="grupo" style="margin-right:5px;">
                                 <strong>Programa:&nbsp;</strong></label><input class="form-control form-control-sm" type="text" value="{{ estudianteSelecto.nombrePrograma }}" readonly="" autocomplete="off" id="grupo" style="width:100%;">
                                </div>
                                <div class="form-group"><label for="curso"><strong>Institucion</strong></label>
                                    <select class="form-control" id="id_nueva_institucion" name="nueva_institucion">
                                        {% for institucion in institucionesCupos %}
                                            <option value="{{ institucion.id_institucion }}" selected="true">{{ institucion.nombre_institucion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button>
                        <form  action="{{ path('p_movimiento') }}" method="POST"><input type="hidden" id="estudiante1" value="">
                            <input type="hidden" name="id_rotacion" value="{{ estudianteSelecto.idRotacion }}">
                            <input type="hidden" name="estudiante_grupo" value="{{ estudianteSelecto.idGrupoEstudiante }}">
                            <input type="hidden" id="nva_institucion" name="nva_institucion" value="">
                            <button class="btn btn-primary" id="btn_intercambio" type="submit" >Movimiento</button>
                        </form>
                        <!--<button class="btn btn-primary" type="button">Intercambiar</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}


{% block javascripts %}

    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>



    <script>

        $(document).ready(function() {
            var nueva_institucion=$("#id_nueva_institucion").val();
            $("#nva_institucion").val(nueva_institucion)

            $("#id_nueva_institucion").change(function () {
                var nueva_institucion=$("#id_nueva_institucion").val();
                $("#nva_institucion").val(nueva_institucion)

            });

            function movimiento(){
                $('.btn-movimiento').click(
                    function (event) {
                        $('#modalMovimiento').modal('show');
                    }
                );
            }
            movimiento();
            function intercambio(){
                $('.btn-intercambio').click(
                    function (event) {
                        var estudiante=$(event.target);
                        var nombre=estudiante.data('nombre');
                        var grupo=estudiante.data('grupo');
                        var carnet=estudiante.data('carnet');
                        var programa=estudiante.data('programa');
                        var institucion=estudiante.data('institucion');
                        var modal=$('#myModal');
                        modal.find('.intercambio-nombre').text(nombre);
                        modal.find('.intercambio-carnet').text(carnet);
                        modal.find('.intercambio-programa').text(programa);
                        modal.find('.intercambio-institucion').text(institucion);
                        $("#estudiante2").val(grupo);
                        //console.log(grupo);
                        $('#myModal').modal('show');
                    }
                );
            }

            intercambio();

            var t =   $('#preliminarTabla').DataTable();
            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();


            $('input.column_filter').on( 'keyup click', function () {
                console.log( $(this).parents('tr').attr('data-column'));
                filterColumn( $(this).parents('tr').attr('data-column') );
            } );


            $('.filter-select').on('change', function() {
                console.log(  $(this).attr('data-column') );
                console.log(this.value);
                $('#preliminarTabla').DataTable().column( $(this).attr('data-column') ).search(
                    this.value
                ).draw();

            });


        } );
    </script>

{% endblock %}
