{% extends 'base.html.twig' %}

{% block title %}Estudiantes - Nómina{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="#">Miga de pan</a></li>
{% endblock %}
{% block content %}
    <div class="col-md-12 offset-md-0" style="margin-top:25px;margin-left:-6px;">
        <h3>{{ alumno[0].curso }}</h3>
        <br>
        <h5 class="text-black">{{ alumno[0].nombre }}&nbsp;| {{ alumno[0].carnet }} </h5>
    </div>
    <hr/>
    <div class="row">

        <div class="col-sm-7" style="margin-bottom: 2%">
            <h3 class="text-center">{% if  alumno[0].rotacion<4 %}Rotacion Normal A {% else %} Rotacion Normal B{% endif %}</h3>
            <fieldset style="border: solid 1px #7a43b6; padding: 5%">
            <table id="estudiantesTable" class="table table-striped table-bordered table-hover table-sm">
                <caption class="text-body"><br></caption>
                <thead style="background: #c9ebbe">
                <tr>
                    <th>Programa</th>
                    <th>Institución</th>
                    <th>Fechas</th>
                </tr>
                </thead>
                <tbody>
                {% for a in alumno %}
                    <tr>
                        <td>{{ a.programa }}</td>
                        <td>{{ a.institucion }}</td>
                        <td>{{ a.fechas }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </fieldset>
        </div>
        <br/><br/>
        <div class="col-sm-5" style="margin-bottom: 2%">
            <h3 class="text-center">Fechas Especiales</h3>
            <fieldset style="border: solid 1px #7a43b6; padding: 5%">
                <table id="estudiantesTable" class="table table-striped table-bordered table-hover table-sm">
                    <caption class="text-body"><br></caption>
                    <thead style="background: #d7bde5">
                    <tr>
                        <th>Descripción</th>
                        <th>Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for especial in especiales %}
                    <tr>
                        <td>{{ especial.descripcion}}</td>
                        <td>{{ especial.fecha|date("d/m") }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>

    </div>

{% endblock %}
