<form method="post" action="{{ path('almacen_vale_delete', {'vale': vale.id, 'almacen': almacen.id}) }}" onsubmit="return confirm('¿Está seguro de eliminar este vale?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vale.id) }}">
    <button class="btn">Eliminar</button>
</form>
