{% extends 'base.html.twig' %}

{% block title %}Edit Vale{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_index') }}">Almacén</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_show',{almacen:almacen.id}) }}">{{ almacen.codigo }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_vale_index',{almacen:almacen.id}) }}">Vales</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ vale.id }}</li>
{% endblock %}
{% block content %}

    <style>
        .table {
            width: 100% !important;
            overflow-x: auto;
            display: block;
        }
    </style>


    <h1>Editar Vale</h1>
    <div class="row">
        <div class="col ">
            <div class="row">
                <div class="col">
                    <p>{{ vale.creado ? vale.creado|date('Y-m-d H:i:s') : '' }} | Vale Realizado por: {{ vale.usuario?vale.usuario:"sin usuario" }} </p>
                </div>
                <div class="col">
                    <button id="actualizar_vale" name="actualizar_vale" type="submit" class="btn btn-primary btn-descargar btn-block">Guardar</button>

                </div>
            </div>
        </div>
    </div>


    <div class="form-check">
        <input id="almacen" name="almacen" value="{{ almacen.id }}" type="hidden">
        {#<input id="sin_expediente_chck" name="sin_expediente_chck" class="form-check-input" id="formCheck-1" type="checkbox">#}
        {#<label class="form-check-label" for="formCheck-1"><em>Sin expediente&nbsp;</em></label>#}
    </div>
    <br>

    <div class="row">
    {% if no_expediente != "1" %}
        <div class="col-sm-6 float-right">
            <form>
                <div class="form-group">
                    <label>Numero de Expediente</label>

                    <div class="input-group">
                        <input id="codigo_expediente" name="codigo_expediente" class="form-control" type="text" value="{{ no_expediente }}">

                        <div class="input-group-append">
                            <button id="buscar_exp" name="buscar_exp" class="btn btn-info active">
                                <i class="fa fa-search"></i></button>
                        </div>
                    </div>


                    {#<div class="row">#}
                    {#<div class="col-10">#}
                    {#<input id="codigo_expediente" name="codigo_expediente" class="form-control" type="text" value="{{ no_expediente }}">#}
                    {#</div>#}
                    {#<div class="col">#}
                    {#<button id="buscar_exp" name="buscar_exp" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>#}
                    {#</div>#}
                    {#</div>#}

                </div>
            </form>
        </div>


        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span id="nombre_persona">{{ persona? persona.nombre:'-' }} {{ persona? persona.apellido:'-' }}</span></h4>
                    <p class="card-text"><span id="dui_persona">DUI:&nbsp;{{ persona? persona.dui:'-' }}</span></p>
                    <p class="card-text"><span id="nit_persona">NIT:&nbsp;{{ persona? persona.nit:'-' }}</span></p>
                </div>
            </div>
        </div>
        </div>
        <div class="form-group">
        <label>Ficha</label>
        <select id="fichas" name="fichas" class="form-control">
            {% for ficha in fichas %}
                {% if ficha.id == no_ficha %}
                    <option value="{{ ficha.id }}" selected>{{ ficha.id }}</option>
                {% else %}
                    <option value="{{ ficha.id }}">{{ ficha.id }}</option>
                {% endif %}
            {% endfor %}
        </select>

    {% else %}

        <div class="col-sm-6 float-right">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ datosSinFicha.nombre }}</h4>
                    <p class="card-text"><b>Edad:</b>&nbsp;<span id="dui_persona">{{ datosSinFicha.edad }}</span></p>
                    <p class="card-text"><b>Procedencia:</b>&nbsp;<span id="nit_persona">{{ datosSinFicha.procedencia }}</span></p>
                    <p class="card-text"><b>Referencia:</b>&nbsp;<span id="nit_persona">{{ datosSinFicha.referencia }}</span></p>
                    <input type="hidden" id="fichas" name="fichas" value="1">
                </div>
            </div>
        </div>

    {% endif %}
    </div>

    <br/>

    <div class="form-group">
        <label>Tratamiento</label>

        <div class="input-group">
            <select id="tratamientos" name="tratamientos" class="form-control">
                {% for tratamiento in tratamientos %}

                    <option value="{{ tratamiento.tratamiento.id }}"
                            data-pieza="{{ tratamiento.piezaDental }}"
                            data-fichatratamiento="{{ tratamiento.id }}"
                            data-tratamiento="{{ tratamiento.tratamiento.nombre }}">

                        {{ tratamiento.tratamiento.nombre }}</option>

                {% endfor %}
            </select>
            <div class="input-group-append">
                <button id="add_tratamiento2" name="add_tratamiento2" class="btn btn-sm btn-primary">
                    Agregar
                    <i class="fa fa-plus"> </i></button>
            </div>
        </div>


    </div>

    <table id="tratamientos_tabla" style="display: inline-table;" name="tratamientos_tabla"
           class="table table-condensed table-hover table-striped table-bordered table-responsive-sm">
        <thead>
        <tr>
            <th>Tratamientos</th>
            <th>Pieza</th>
            <th>Accion</th>
        </tr>
        </thead>
        <tbody>

        {% for tratamiento in valeTratamientos %}
            <tr id="{{ tratamiento.evaluacionDental.tratamiento.id }}" data-fichatratamiento="{{ tratamiento.evaluacionDental.id }}">

                <td>{{ tratamiento.evaluacionDental.tratamiento.nombre }}</td>
                <td>{{ tratamiento.evaluacionDental.piezaDental }}</td>
                <td>
                    <button id="{{ tratamiento.evaluacionDental.tratamiento.id }}" class="buttonDelete2 btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>Materiales</h4>
    <table id="materiales_tabla" name="materiales_tabla" class="table table-condensed table-hover table-striped table-bordered table-responsive-sm">
        <thead>
        <tr>
            <th style="width: 200px">Material</th>
            <th style="width: 30px">Cantidad</th>
            <th style="width: 200px">Material</th>
            <th style="width: 30px">Cantidad</th>
            <th style="width: 200px">Material</th>
            <th style="width: 30px">Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>

    {#<a href="{{ path('almacen_vale_index', {'almacen': almacen.id}) }}">Regresar</a>#}
    {{ include('almacen/vale/_delete_form.html.twig') }}
    <input type="hidden" value="{{ vale.id }}" id="vale_id" name="vale_id">
    <input type="hidden" value="{{ almacen.id }}" id="almacen_id" name="almacen_id">
    <input type="hidden" value="true" id="is_edit" name="is_edit">

    <br/>
    <br/>
    <br/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/vale.js') }}"></script>
    <script src="{{ asset('js/aprobarVale.js') }}"></script>
    <script src="{{ asset('js/editVale.js') }}"></script>
{% endblock %}

