{% extends 'base.html.twig' %}

{% block title %}Vale {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_index') }}">Almacén</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_show',{almacen:almacen.id}) }}">{{ almacen.codigo }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Vales</li>
{% endblock %}
{% block content %}

    {#<style>#}
    {#.table{#}
    {#width: 100%!important;#}
    {#overflow-x: auto;#}
    {#display: block;#}
    {#}#}
    {#</style>#}


    <h3>Vales
        <small>| {{ almacen.nombre }}</small>
    </h3>

    <a class="btn btn-info tada animated float" role="button" href="{{ path('almacen_vale_new',{'almacen': almacen.id} ) }}"
       style="z-index:10;"><i class="fa fa-plus my-float"></i></a>

    <table class="table table-hover table-striped table-bordered table-responsive-sm">
        <thead>
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Creado</th>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for vale in vales %}
            <tr>
                <td>{{ vale.id }}</td>
                <td>{{ vale.descripcion }}</td>
                <td>{{ vale.valeEstado }}</td>
                <td>{{ vale.creado ? vale.creado|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vale.usuario }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('almacen_vale_show', {'id': vale.id,'almacen':almacen.id}) }}" title="Ver vale"><i
                                class="fa fa-eye"></i></a>

                    {% if vale.valeEstado.codigo == "pendiente" %}
                        <a class="btn btn-primary" href="{{ path('almacen_vale_edit', {'id': vale.id,'almacen':almacen.id}) }}" title="Editar vale"><i
                                    class="fa fa-edit"></i></a>
                    {% else %}
                        <a style="pointer-events: none;background-color: #8a9096" class="btn btn-primary"
                           href="{{ path('almacen_vale_edit', {'id': vale.id,'almacen':almacen.id}) }}" title="Vale aprobado"><i
                                    class="fa fa-edit"></i></a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.table').dataTable();
        });
    </script>
{% endblock %}