{% extends 'base.html.twig' %}

{% block title %}Nuevo Vale{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_index') }}">Almacén</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_show',{almacen:almacen.id}) }}">{{ almacen.codigo }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_vale_index',{almacen:almacen.id}) }}">Vales</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
{% endblock %}
{% block content %}

    <style>
        .table {
            width: 100% !important;
            overflow-x: auto;
            display: block;
        }
    </style>

    <h1>Crear nuevo Vale</h1>
    <br/>
    <a href="#" id="guardar_vale" name="guardar_vale" class="btn btn-info tada animated float">
        <i class="fa fa-save my-float"></i></a>
    <div class="row">
        <div class="col ">
            <div class="row">
                <div class="col">
                    <p>{{ (vale.creado ? vale.creado : 'now')|date('Y-m-d H:i:s') }} | {{ usuario }}</p>
                </div>
            </div>
        </div>
    </div>

<br/>

    <div class="form-check">
        <input id="almacen" name="almacen" value="{{ almacen.id }}" type="hidden">
        <input id="sin_expediente_chck" name="sin_expediente_chck" class="form-check-input" id="formCheck-1" type="checkbox">
        <label class="form-check-label" for="formCheck-1"><em>Sin expediente&nbsp;</em></label>
    </div>

    {#<div class="btn-group-toggle" data-toggle="buttons">#}
        {#<label class="btn btn-secondary active">#}
            {#<input type="checkbox" checked autocomplete="off"> Checked#}
        {#</label>#}
    {#</div>#}

    <div class="row">
        <div id="divExpdiente" class="col-sm-6 float-right" style="margin-top: 30px;margin-bottom: 30px;">
            <label>Numero de Expediente</label>
            <div class="input-group">
                <input id="codigo_expediente" name="codigo_expediente" class="form-control" type="text" value="AA-2018-56">

                <div class="input-group-append">
                    <button id="buscar_exp" name="buscar_exp" class="btn btn-info active" type="button">
                        <i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="border: none;">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom:0px;"><span id="nombre_persona"></span></h4>
                    <p class="card-text" style="margin-bottom:0px;"> <span id="dui_persona"></span></p>
                    <p class="card-text" style="margin-bottom:0px;"> <span id="nit_persona"></span></p>


                    <p class="card-text" style="margin-bottom:0px;"> <span id="edad_persona"></span></p>
                    <p class="card-text" style="margin-bottom:0px;"> <span id="procedencia_persona"></span></p>
                    <p class="card-text" style="margin-bottom:0px;"> <span id="referencia_persona"></span></p>
                    <p class="card-text" style="margin-bottom:0px;"> <span id="editRefe"></span></p>


                </div>
            </div>
        </div>
    </div>


    <div id="informacion_llenar" style="display: none">
        <div id="divFicha" class="form-group">
            <label>Ficha</label>

            <select id="fichas" name="fichas" class="form-control">

            </select>
        </div>


        <div class="form-group">
            <label>Tratamiento</label>


                <div class="input-group">
                    <select id="tratamientos" name="tratamientos" class="form-control">
                    </select>
                    <div class="input-group-append">
                        <button id="add_tratamiento" name="add_tratamiento" class="btn btn-sm btn-primary">
                              Agregar
                             <i class="fa fa-plus"> </i> </button>
                    </div>
                </div>

        </div>

    <table id="tratamientos_tabla" style="display: inline-table;" name="tratamientos_tabla" class="table table-condensed table-hover table-striped table-bordered table-responsive-sm">
        <thead>
        <tr>
            <th>Tratamientos</th>
            <th>Pieza</th>
            <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr></tr>

        </tbody>
    </table>

    <h4>Materiales</h4>
    <table id="materiales_tabla" name="materiales_tablas" class="table table-condensed table-hover table-striped table-bordered table-responsive-sm">
        <thead>
        <tr>
            <th style="width: 200px">Material</th>
            <th style="width: 10px">Cantidad</th>
            <th style="width: 200px">Material</th>
            <th style="width: 30px">Cantidad</th>
            <th style="width: 200px">Material</th>
            <th style="width: 30px">Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>

        </tbody>
    </table>

    </div>
    {#<a href="{{ path('almacen_vale_index', {'almacen': almacen.id}) }}">Regresar</a>#}


    <br/>
    <br/>
    <br/>


    <div role="dialog" tabindex="-1" class="modal fade" id="myModal"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form  id="cerrarModal" >
                <div class="modal-header">
                    <h4 class="modal-title">Datos personales del paciente</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>Es necesario especificar los siguientes datos del paciente para proceder con el vale</p>

                        <div class="form-group">
                            <div class="input-group" style="margin-top:16px;">
                                <div class="input-group-prepend"><span class="input-group-text" style="padding-right:34px;padding-left:15px;">Nombre</span></div><input id="nombre_persona_ref" type="text" required class="form-control" /></div>
                            <div class="input-group" style="margin-top:20px;">
                                <div class="input-group-prepend"><span class="input-group-text" style="padding-right:59px;">Edad                     </span></div><input id="edad_persona_ref" type="number" required class="form-control" pattern="/[0-9]" inputmode="numeric" min="0" max="99" /></div>
                            <div class="input-group" style="margin-top:20px;">
                                <div class="input-group-prepend"><span class="input-group-text"  >Procedencia                                        </span></div><input id="procedencia_persona_ref" type="text" required   class="form-control"   /></div>
                            <div class="input-group" style="margin-top:20px;">
                                <div class="input-group-prepend"><span class="input-group-text" style="padding-right:25px;">Referencia               </span></div><input  id="referencia_persona_ref" type="text"  required   class="form-control" /></div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button  data-dismiss="modal" class="btn btn-light btn-block" type="button" data-dismiss="modal" onclick="location.reload();">Cancelar</button>
                    <button  class="btn btn-primary btn-block" type="submit">Guardar</button>
                </div>  </form>
            </div>
        </div>
    </div>
    <style>
        .modal-dialog {
            margin: 1rem auto;
            max-width: 95%!important;
        }
    </style>







{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/vale.js') }}"></script>
    {% endblock %}
