{% extends 'base.html.twig' %}

{% block title %}Vale{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_index') }}">Almacén</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_show',{almacen:almacen.id}) }}">{{ almacen.codigo }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_vale_index',{almacen:almacen.id}) }}">Vales</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ vale.id }}</li>
{% endblock %}
{% block content %}
    <h1>Vale de insumos</h1>
    <p>{{ vale.creado ? vale.creado|date('Y-m-d H:i:s') : '' }}<b> | Vale Realizado por: {{ vale.usuario?vale.usuario:"sin usuario" }}</b></p>

    <div class="row">

        {#segmento que muestra cuando #}
        {% if no_expediente != "1" %}

            <div class="col-sm-6 float-left">
                <p><b>Numero de Expediente:</b> {{ no_expediente }}</p>
                <p><b>Ficha:</b> {{ no_ficha }}  </p>

            </div>


            <div class="col-sm-6 float-right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ persona? persona.nombre:null }} {{ persona? persona.apellido:null }}</h4>
                        <p class="card-text"><b>DUI:</b>&nbsp;<span id="dui_persona">{{ persona? persona.dui:null }}</span></p>
                        <p class="card-text"><b>NIT:</b>&nbsp;<span id="nit_persona">{{ persona? persona.nit:null }}</span></p>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="col-sm-6 float-right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ datosSinFicha.nombre }}</h4>
                        <p class="card-text"><b>Edad:</b>&nbsp;<span id="dui_persona">{{ datosSinFicha.edad }}</span></p>
                        <p class="card-text"><b>Procedencia:</b>&nbsp;<span id="nit_persona">{{ datosSinFicha.procedencia }}</span></p>
                        <p class="card-text"><b>Referencia:</b>&nbsp;<span id="nit_persona">{{ datosSinFicha.referencia }}</span></p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <br>
    <a href="#" id="aprobar" name="aprobar" class="btn btn-lg btn-info tada animated float" style="z-index:10;"><i class="fa fa-check my-float"></i></a>
    <table style="display: inline-table;" name="tratamientos_tabla"
           class="table table-condensed table-hover table-striped table-bordered table-responsive-sm">
        <thead>
        <tr>
            <th>Tratamientos</th>
            <th>Pieza</th>
        </tr>
        </thead>
        <tbody>
        {% for tratamiento in tratamientos %}
            <tr id="{{ tratamiento.evaluacionDental.tratamiento.id }}" data-fichatratamiento="{{ tratamiento.id }}">

                <td>{{ tratamiento.evaluacionDental.tratamiento.nombre }}</td>
                <td><b>{{ tratamiento.evaluacionDental.piezaDental }}</b></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>Materiales</h4>
    <table id="materiales_tabla" class="table table-condensed table-hover table-striped table-bordered table-responsive-sm">
        <thead>
        <tr>
            <th>Material</th>
            <th>Cantidad</th>
            <th>Material</th>
            <th>Cantidad</th>
            <th>Material</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>

        <tr>

        </tr>

        </tbody>
    </table>
    {#<a href="{{ path('almacen_vale_index', {'almacen': almacen.id}) }}">Regresar</a>#}
    <br>

    {% if vale.valeEstado == "pendiente" %}
        <a id="edit_vale" class="btn btn-primary" href="{{ path('almacen_vale_edit', {'id': vale.id,'almacen':almacen.id}) }}"
           title="Editar vale">Editar</a>
    {% endif %}


    <input type="hidden" value="{{ vale.id }}" id="vale_id" name="vale_id">
    <input type="hidden" value="{{ almacen.id }}" id="almacen_id" name="almacen_id">
    <input type="hidden" value="{{ vale.valeEstado.codigo }}" id="vale_estado" name="vale_estado">
    <input type="hidden" value="false" id="is_edit" name="is_edit">
    {{ include('almacen/vale/_delete_form.html.twig') }}


    <br>   <br>   <br>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/vale.js') }}"></script>
    <script src="{{ asset('js/aprobarVale.js') }}"></script>
{% endblock %}