{% extends 'base.html.twig' %}

{% block title %}Seguimiento Conductual{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item active">
    {{fichaId}}
  </li>
  <li class="breadcrumb-item active">
    Seguimiento Conductual
  </li>
{% endblock %}
{% block content %}
<div>
  <table class="table table-bordered">
    <tbody>
        <tr>
          <th scope="row">Número de expediente</th>
          <td>{{ expediente.getCodigoExpediente() }}</td>
          <th scope="row">Paciente</th>
          <td>{{ expediente.getPersona().getNombreCompleto() }}</td>
          <th scope="row">Edad</th>
          <td>{{ edad }}</td>
        </tr>
    </tbody>
  </table>
</div>
<br>
<h2><strong>Cuadro de Seguimiento Conductual</strong></h2>


<table style="height: 73px; width: 100%;" border="1" class="table table-hover" id="tabla1">
<tbody>
<tr style="height: 36px;">
  <th style="display:none;">ID</th>
<th style="width: 10%; height: 36px; text-align: center;">&nbsp;Fecha</th>
<th style="width: 30%; height: 36px; text-align: center;">&nbsp;Procedimiento Realizado</th>
<th style="width: 30%; height: 36px; text-align: center;">&nbsp;Comportamiento Demostrado</th>
<th style="width: 18%; height: 36px; text-align: center;">&nbsp;Clave (Escala de Frankl)</th>
<th style="width: 12%; height: 36px; text-align: center;">Acciones</th>
</tr>
{% for e in seguimiento_data %}
<tr style="height: 25px;">
<td style="display:none;">{{ e.id }}</td>
<td style="width: 10%; height: 36px;">{{ e.fecha|date('d-m-Y') }}</td>
<td style="width: 30%; height: 36px;">{{e.procedimientoRealizado}}</td>
<td style="width: 30%; height: 36px;">{{e.comportamientoDemostrado}}</td>
<td style="width: 18%; height: 36px;">{{e.clave}}</td>
<td style="width: 12%; height: 36px;">
  <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#update-modal">Editar</button>
  <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-modal">X</button>

</td>
</tr>
{% endfor %}
</tbody>
</table>
<br><br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registro-modal">
  Agregar Seguimiento
</button>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="registro-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Seguimiento Conductual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        {{ form(form) }}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Seguimiento Conductual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        {{ form(formEdit, {"id": "formEdit", "name": "formEdit" }) }}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar Seguimiento Conductual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <table class="table ">
          <thead>
            <th style="display:none">ID</th>
            <th style="width:15%;">Fecha</th>
            <th>Procedimiento Realizado</th>
            <th>Comportamiento Demostrado</th>
            <th style="width:15%;">Clave</th>
          </thead>
          <tbody>
            <tr>
              <td style="display:none"><input type="text" id="tabla_idE"></td>
              <td id="tabla_fechaE" style="width:15%;"></td>
              <td id="tabla_procedimientoRealizadoE"></td>
              <td id="tabla_comportamientoDemostradoE"></td>
              <td id="tabla_claveE" style="width:15%;"></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        {{ form(formDelete, {"id": "formDelete", "name": "formDelete" }) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script>

  $('#tabla1').on('click', function(e){
    var row = $(e.target).closest('tr');
    var columnas = row.find('td');
    //DATOS PARA EDITAR
    var id = $('#form_idE')
    var fecha = $('#form_fechaE')
    var proc_realizado = $('#form_procedimientoRealizadoE')
    var comportamiento = $('#form_comportamientoDemostradoE')
    var clave = $('#form_claveE')

    //DATOS PARA BORRAR
    var idD = $('#form_idD')
    var fechaD = $('#tabla_fechaE')
    var proc_realizadoD = $('#tabla_procedimientoRealizadoE')
    var comportamientoD = $('#tabla_comportamientoDemostradoE')
    var claveD = $('#tabla_claveE')

    fechat = columnas[1].innerHTML.split('-')

    idD[0].value = id[0].value = columnas[0].innerHTML
    fechaD[0].innerHTML = fecha[0].value = fechat[2]+'-'+fechat[1]+'-'+fechat[0]
    proc_realizadoD[0].innerHTML = proc_realizado[0].value = columnas[2].innerHTML
    comportamientoD[0].innerHTML = comportamiento[0].value = columnas[3].innerHTML
    claveD[0].innerHTML = clave[0].value = columnas[4].innerHTML

    console.log(fechaD[0])

  })

</script>
{% endblock %}
