{% extends 'base.html.twig' %}

{% block title %}Existencias{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_index') }}">Almacén</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_show',{almacen:almacen.id}) }}">{{ almacen.codigo }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Existencias</li>
{% endblock %}

{% block content %}

    <style>
        .table{
            width: 100%!important;
            overflow-x: auto;
            display: table;
        }


        @media (max-width: 767.98px){
            .table-responsive-sm {
                display: block;}}

    </style>

    {% set count = 0 %}
    {% for existencia in existencias %}
        {% if date(existencia.vencimiento) < date('+10days') %}
            {% set count = count + 1 %} {% endif %}
    {% endfor %}



    <h3>Existencias
        <small>| {{ almacen.nombre }}</small>
    </h3>
    <h5>Número de artículos: {{ articulos|length }}  |   Por vencer: <span class="badge badge-danger">{{ count }}</span>
        {#| Presentaciones: {{ presentaciones|length }}#}
    </h5>

    {#<div>#}
        {#<div class="float-left">#}
            {#<button class="btn btn-default">Por vencer: <span class="badge badge-danger">##</span></button>#}
        {#</div>#}
        {#<div class="float-right">#}
            {#<button class="btn btn-primary btn-cargar" data-toggle="modal" data-target="#existencia_modal">Cargar</button>#}
            {#<button class="btn btn-default btn-descargar" data-toggle="modal" data-target="#existencia_descarga_modal">Descargar</button>#}
        {#</div>#}
        {#<div class="clearfix"></div>#}
    {#</div>#}
<br/>
    <div class="row">
        <div class="col-md-6  offset-md-6 offset-lg-5">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-cargar btn-block" data-toggle="modal" data-target="#existencia_modal">Cargar</button>
                </div>
                <div class="col">
                    <button class="btn btn-default btn-descargar btn-block" data-toggle="modal" data-target="#existencia_descarga_modal">Descargar</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>

<div class="row">
<div class="col">
    <table class="table table-hover table-striped table-bordered table-responsive-sm" style="width: 100%">
        <thead>
        <tr>
            <th>Artículo</th>
            <th>Presentación</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Vencimiento</th>
        </tr>
        </thead>
        <tbody>

        {% for existencia in existencias %}
            {% if date(existencia.vencimiento) < date('+10days') %}
                {% set class = 'table-danger' %}
                {% set count = count + 1 %}
            {% else %}
                {% set class = '' %}
            {% endif %}
            <tr class="{{ class }}">
                <td>{{ existencia.articuloPresentacion.articulo }}</td>
                <td>{{ existencia.articuloPresentacion.unidadMedida }}</td>
                <td>{{ existencia.articuloPresentacion.subunidadMedida }}</td>
                <td>{{ existencia.cantidad }}</td>
                <td>{{ existencia.precio }}</td>
                <td>{{ existencia.vencimiento? existencia.vencimiento|date('Y-m-d H:i:d'):'' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    <br/>
    <br/>
    <br/>

    <div id="existencia_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cargar existencias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form_cargar">
                    <div class="modal-body">
                        <input type="hidden" id='almacen' name="almacen" class="form-control" value="{{ almacen.id }}">
                        <div class="form-group">
                            <label for="articulo">Artículo</label>
                            <select id='articulo' name="articulo" class="form-control">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="presentacion">Presentación</label>
                            <select id='presentacion' name="presentacion" class="form-control" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="adquisicion">Adquisición</label>
                            <input type="date" id='adquisicion' name="adquisicion" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="vencimiento">Vencimiento</label>
                            <input type="date" id='vencimiento' name="vencimiento" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="cantidad_previa">Cantidad</label>
                            <input type="number" id='cantidad_previa' name="cantidad_previa" class="form-control" required min="1" step="1">
                        </div>
                        <div class="form-group">
                            <label for="cantidad">A cargar (<span id="subunidad_label"></span>)</label>
                            <input id='cantidad' name="cantidad" type="number" class="form-control" readonly required>
                        </div>
                        <div class="form-group">
                            <label for="precio_previo">Precio (USD)</label>
                            <input id='precio_previo' name="precio_previo" type="number" class="form-control" min="0" step="0.01">
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio por subunidad</label>
                            <input id='precio' name="precio" type="number" class="form-control" readonly required min="0" step="0.01">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" style="width: 50%;"  class="btn btn-primary">Cargar</button>
                        <button type="button" style="width: 50%;"  id="cancelar_carga" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="existencia_descarga_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Descargar existencias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form_descargar">
                    <div class="modal-body">
                        <input type="hidden" id='almacen' name="almacen" class="form-control" value="{{ almacen.id }}">
                        <div class="form-group">
                            <label for="articulo_desc">Artículo</label>
                            <select id='articulo_desc' name="articulo_desc" class="form-control">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="presentacion_desc">Presentación</label>
                            <select id='presentacion_desc' name="presentacion_desc" class="form-control" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="disponible">Disponible (<span id="subunidad_desc_label"></span>)</label>
                            <input type="number" id='disponible' name="disponible" class="form-control" readonly min="1" step="1">
                        </div>

                        <div class="form-group">
                            <label for="cantidad_previa_desc">Cantidad</label>
                            <input type="number" id='cantidad_previa_desc' name="cantidad_previa_desc" class="form-control" required min="1" step="1">
                        </div>
                        <div class="form-group">
                            <label for="cantidad_desc">A descargar (<span id="subunidad_desc_label2"></span>)</label>
                            <input id='cantidad_desc' name="cantidad_desc" type="number" class="form-control" readonly required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" style="width: 50%;" class="btn btn-primary btn-submit-descarga">Descargar</button>
                        <button type="button" style="width: 50%;"  class="btn btn-default btn-cancelar-descarga" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/movimiento.js') }}"></script>
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
{% endblock %}