{% extends 'base.html.twig' %}

{% block title %}{{ menu.nombre }}{% endblock %}

{% block content %}
    <div class="features-boxed">
        <div class="row justify-content-center features">
            {% for m in submenus %}
                {% if m.submenus|length > 0 %} {% set _url = path('menu_submenus', {'menu':m.id}) %}
                {% else %} {% set _url = m.url %}
                {% endif %}
                {% set _icon = m.icon|default('fa fa-cog fa-fw') %}
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a href="{{ _url }}" class="text-dark">
                        <div class="box">
                            <i class="{{ _icon }} icon"></i>
                            <h3 class="name">{{ m.nombre }}</h3>
                            <p class="description">{{ m.descripcion }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
