{% extends 'base.html.twig' %}

{% block title %}Riesgos cariogénicos{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/switches.css') }}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item active">
    Riesgos
  </li>
{% endblock %}

{% block content %}
  {{ include('clinico/fichas/table.html.twig') }}

  <div>
    {% include 'clinico/flow/pasos.html.twig' %}
  </div>
  {{ form_start(form) }}
    {{ form_errors(form) }}

    {% if flow.getCurrentStepNumber() == 1 %}
      <div class="col-12 col-sm-12 col-md-12" style="padding:15px;">
          <div class="row no-gutters" style="/*border:1px">
            <div class="col-12 align-self-center">
              <h3 class="text-center">Riesgo cariogénico<br></h3>
            </div>
            <div class="col-sm-6 col-md-6">
              <fieldset style="text-align:center;">
                <legend style="font-size:20px;">&nbsp;CPOM<br></legend>
                <div style="margin: 0 auto;">{{ form_row(form.cpo_c) }}</div>
                <div style="margin: 0 auto;">{{ form_row(form.cpo_p) }}</div>
                <div style="margin: 0 auto;">{{ form_row(form.cpo_o) }}</div>
              </fieldset>
            </div>
            <div class="col-sm-6 col-md-6">
              <fieldset style="text-align:center;">
                <legend style="font-size:20px;text-align:center;">ceo&nbsp;<br></legend>
                <div style="margin: 0 auto;">{{ form_row(form.ceo_c) }}</div>
                <div style="margin: 0 auto;">{{ form_row(form.ceo_e) }}</div>
                <div style="margin: 0 auto;">{{ form_row(form.ceo_o) }}</div>
              </fieldset>
            </div>
        </div>
      </div>
    {% endif %}

    {% if flow.getCurrentStepNumber() == 2 %}
      <div class="col-12 col-sm-12 col-md-12" style="padding:15px;">
          <div class="row no-gutters" style="/*border:1px">
            <div class="col-12 align-self-center">
              <h3 class="text-center">Placa bacteriana<br></h3>
            </div>
            <div class="col-sm-6 col-md-6">
              <fieldset style="text-align:center;">
                <div style="margin: 0 auto;">{{ form_row(form.placa_1655) }}</div>
                <div style="margin: 0 auto;">{{ form_row(form.placa_1151) }}</div>
                <div style="margin: 0 auto;">{{ form_row(form.placa_2665) }}</div>
              </fieldset>
            </div>
            <div class="col-sm-6 col-md-6">
              <fieldset style="text-align:center;">
                <div style="margin: 0 auto;">{{ form_row(form.placa_3675) }}</div>
                <div style="margin: 0 auto;">{{ form_row(form.placa_3171) }}</div>
                <div style="margin: 0 auto;">{{ form_row(form.placa_4685) }}</div>
              </fieldset>
            </div>
        </div>
      </div>
    {% endif %}



    {% if flow.getCurrentStepNumber() == 4 %}
				 {{ include('clinico/riesgos/totales.html.twig') }}
    {% endif %}

    {{ form_rest(form) }}

    {% include 'clinico/flow/botones.html.twig' with {
      craue_formflow_button_class_next: 'btn btn-primary btn-block',
      craue_formflow_button_class_back: 'btn btn-info btn-block ',
      craue_formflow_button_class_last: 'btn btn-success btn-block ',
      craue_formflow_button_label_next: 'Siguiente',
      craue_formflow_button_label_back: 'Atrás',
      craue_formflow_button_label_finish: 'Guardar',

	  } %}

  {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/riesgo.js') }}"></script>
  <script>
      $(document).ready(function () {
          $('.form-check-label').addClass('visita_odonto');
      })
  </script>
{% endblock %}
