{% extends 'base.html.twig' %}

{% block title %}Riesgos cariogénicos{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/switches.css') }}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('expedientes') }}">Expedientes</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('expediente_detalle', {'expedienteId': expedienteId}) }}">{{ expediente.getCodigoExpediente() }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('fichas', {'expedienteId': expedienteId}) }}">Fichas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('ficha_detalle', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}">{{fichaId}}</a>
  </li>
  <li class="breadcrumb-item active">
    Riesgos
  </li>
{% endblock %}

{% block content %}
  {{ include('clinico/fichas/table.html.twig') }}
  
  <div class="col-12">
    <h3 class="text-center">Nivel de riesgo cariogénico<br></h3>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Clasificacion calculada</th>
        <td>Riesgo {{ficha.getIndiceRiesgoCariogenico.getNombre}}</td>
      </tr>
      <tr>
        <th scope="row">Clasificacion real</th>
        <td>Riesgo {{ficha.getIndiceRiesgoReal.getNombre}}</td>
      </tr>
      <tr>
        <th scope="row">Observaciones</th>
        <td>{{riesgo_detalle.getObservaciones}}</td>
      </tr>
      <tr>
        <th scope="row">Comentarios</th>
        <td>{{riesgo_detalle.getComentarios}}</td>
      </tr>
      <tr>
        <th scope="row">Otras condiciones</th>
        <td>{{riesgo_detalle.getOtrasCondiciones}}</td>
      </tr>
    </tbody>
  </table>

  <div class="col-12" style="padding-top: 5%;">
    <h3 class="text-center">Resumen niveles de riesgo individual<br></h3>
  </div>
  {{ include('clinico/riesgos/totales.html.twig') }}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Total CPO/ceo (piezas)</th>
        <th scope="col">Total placa bacteriana (%)</th>
        <th scope="col">Total ingesta de azucar (criterios)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="indice">{{riesgo_detalle.getTotalIndiceCpoCeo}}</td>
        <td id="placa">{{riesgo_detalle.getTotalPlacaBacteriana|round(2, 'floor')}}</td>
        <td id="azucar">{{riesgo_detalle.getTotalIngestaAzucares}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-12">
    <h3 class="text-center" style="padding-top: 5%;">Periodos de ingesta de azucar<br></h3>
  </div>
  <div style="padding-bottom: 100px;">
    <ul class="list-group">
      {% for ing in ingestas %}
        <li class="list-group-item">{{ ing.getAtributo.getNombre }}</li>
      {% endfor %}
      <ul></div>

    {% endblock %}

    {% block after_main %}
    {% if editable %}
    <a class="btn btn-info active float" role="button" href="{{ path('riesgos_cariogenicos_editar', {'expedienteId': expedienteId, 'fichaId': fichaId}) }}"
    style="z-index:10;"><i class="fa fa-pencil-alt my-float"></i></a>
    {% endif %}
    {% endblock %}
