<div class="col-12">
  <div style="text-align:center;font-size:15px;">
    <table class="table table-bordered table-sm">
      <thead style="border:2px solid #97a2ad;">
        <tr style="border:3px solid #97a2ad;">
          <th>Nivel</th>
          <th>CPO / ceo</th>
          <th>% de Placa B.</th>
          <th>C. Azúcar</th>
        </tr>
      </thead>
      <tbody style="border:2px solid #97a2ad;">
        <tr style="border:2px solid #97a2ad;">
          <td>Bajo</td>
          <td id="cpo_bajo">0 - 2&nbsp;</td>
          <td id="placa_bajo">0% - 20%</td>
          <td id="azucar_bajo">0 - 4</td>
        </tr>
        <tr style="border:2px solid #97a2ad;">
          <td>Moderado</td>
          <td id="cpo_medio">3 - 4</td>
          <td id="placa_medio">21% - 50%</td>
          <td id="azucar_medio">5 - 7</td>
        </tr>
        <tr style="border:2px solid #97a2ad;">
          <td>Alto</td>
          <td id="cpo_alto">5 ó +</td>
          <td id="placa_alto">51% ó +</td>
          <td id="azucar_alto">8 ó +</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
