<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Programas Extramurales y Proyeccion Social">
    <title>{% block title %}{% endblock %} - PEYPS</title>

    <link rel="apple-touch-icon" href="{{ asset('img/foues.png') }}">
    <link rel="icon" href="{{ asset('img/foues.png') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/material-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2-bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-dark bg-info navbar-expand-md sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('/') }}">
            <strong>EXPEDIENTE CLÍNICO | MAESTRÍA ODONTOPEDIATRÍA <br></strong>
        </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Activar navegación</span>
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav mx-auto">
                    {% include 'menu.html.twig' %}
                </ul>

                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <a class="dropdown-item" href="{{ path('perfil') }}"><i class="fa fa-user fa-fw"></i> Perfil</a>
                            <div class="divider"></div>
                            <a class="dropdown-item" href="{{ path('logout') }}">
                                <i class="fa fa-sign-out-alt fa-fw"></i> Salir
                            </a>
                            <div role="presentation" class="dropdown-divider"></div>
                            <h6 role="presentation" class="dropdown-header"> {{ app.session.get('periodoCiclo')   }}</h6>

                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
<main class="container" id="wrap">
    {% block container %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {#{% if app.request.get('_route') != '/' %}
                    <li class="back-arrow">
                        <a href="{{ app.request.headers.get('referer') }}">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </li>
                {% endif %}#}
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ path('/') }}"><i class="fa fa-home"></i></a>
                </li>
                {% block breadcrumb %}{% endblock %}
            </ol>
        </nav>

        {% for type, flash in app.flashes %}
            <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul>
                    {% for message in flash %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</main>

{% block after_main %}{% endblock %}

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/select2.min.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
{% block javascripts %}{% endblock %}

<footer class="footer text-center">
  <div class="footer_container">
    <p>FACULTAD DE ODONTOLOGÍA UNIVERSIDAD DE EL SALVADOR <br>
    TODOS LOS DERECHOS RESERVADOS {{ 'now'|date('Y') }}</p>
  </div>
</footer>
</body>
</html>
