<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Programas Extramurales y Proyeccion Social">
    <title>{% block title %}{% endblock %} - PEYPS</title>

    <link rel="apple-touch-icon" href="{{ asset('img/foues.png') }}">
    <link rel="icon" href="{{ asset('img/foues.png') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/material-icons.min.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>
<main class="container">
    {% block container %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</main>

{% block after_main %}{% endblock %}

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/select2.min.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>
</html>
