{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <h1> Bienvenido
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ app.user.username }}
        {% endif %}
    </h1>
    <div class="features-boxed">
        <div class="row justify-content-center features">
            {% set menu = app.session.get('menu') %}
            {% if menu %}
                {% for m in menu %}
                    {% if m.submenus is defined %} {% set _url = path('menu_submenus', {'menu':m.id}) %}
                    {% else %} {% set _url = m.url %}
                    {% endif %}
                    {% set _icon = m.icon|default('fa fa-cog fa-fw') %}
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <a href="{{ _url }}" class="text-dark">
                            <div class="box">
                                <i class="{{ _icon }} icon"></i>
                                <h3 class="name">{{ m.nombre }}</h3>
                                <p class="description">{{ m.descripcion }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}