{% macro menu_item(m) %}
    <li class="nav-item">
        <a class="nav-link text-white" href="#" aria-expanded="false">
            <i class="{{ m.icon }}"></i>{{ m.nombre }}
        </a>
    </li>
{% endmacro %}

{% macro menu_item_dropdown(m) %}
    <li><a class="dropdown-item" href="{{ m.url }}">{{ m.nombre }}</a></li>
{% endmacro %}

{% macro submenu(m, li_class = '', a_class = '') %}
    <li class="{{ li_class }}">
        <a class="{{ a_class }} dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
            <i class="{{ m.icon }}"></i>{{ m.nombre }}
        </a>
        <ul class="dropdown-menu" role="menu">
            {% for _m in m.submenus %}
                {% if _m.submenus is defined %}
                    {{ _self.submenu(_m, 'dropdown-submenu', 'dropdown-item') }}
                {% else %}
                    {{ _self.menu_item_dropdown(_m) }}
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% set menu = app.session.get('menu') %}
{% for m in menu %}
    {% if m.submenus is defined %}
        {{ _self.submenu(m, 'nav-item dropdown', 'nav-link text-white') }}
    {% else %}
        {{ _self.menu_item(m) }}
    {% endif %}
{% endfor %}