{% extends 'base.html.twig' %}

{% block title %}Movimientos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_index') }}">Almacén</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('almacen_show',{almacen:almacen.id}) }}">{{ almacen.codigo }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Movimientos</li>
{% endblock %}

{% block content %}

    <style>
        .table{
            width: 100%!important;
            overflow-x: auto;
            display: table;
        }


        @media (max-width: 767.98px){
            .table-responsive-sm {
                display: block;}}

    </style>


    <h3>Movimientos (Kardex)
    <small>| {{ almacen.nombre }}</small>
    </h3>


    <table class="table table-hover table-striped table-bordered table-responsive-sm" >
        <thead>
        <tr>
            <td>Fecha</td>
            <td>Artículo</td>
            <td>Unidad</td>
            <td>Cantidad</td>
            <td>Concepto</td>
            <td>Precio</td>
            <td>Confirmado</td>
            <td>Usuario</td>
        </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr>
                <td>{{ movimiento.fecha|date('Y-m-d H:i') }}</td>
                <td>{{ movimiento.articuloPresentacion.articulo }}</td>
                <td>{{ movimiento.articuloPresentacion.subunidadMedida }}</td>
                <td>{{ movimiento.cantidad }}</td>
                <td>{% if movimiento.cantidad < 0 %}<i class="fa fa-arrow-alt-circle-down" style="color: red"></i> Descarga
                    {% else %}<i class="fa fa-arrow-alt-circle-up" style="color: green"></i> Carga {% endif %}</td>
                <td>{{ movimiento.precio }}</td>
                <td>{{ movimiento.confirmado? 'Si':'No' }}</td>
                <td>{{ movimiento.usuario }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/><br/><br/><br/>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "oLanguage": {
                    "sInfoFiltered": "(filtrados de _MAX_ artículos en total)",
                    "sInfo": "Viendo _START_ a _END_ de _TOTAL_ artículos"
                },
                "order": [[ 0, "desc" ]],
            });
        });
    </script>
{% endblock %}