
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="{{ form.vars.name}}" method="post" action="{{form.vars.action  }}" class="form-create">
            <div class="modal-header">
                <h4 class="modal-title">Ingreso de actividad evaluada</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
            {{ form_end(form) }}
                <div class="alert alert-danger" id="alert_template" style="display: none;">
                    <button type="button" class="close">×</button>
                </div>
        </div>
    </div>