{% extends 'base.html.twig' %}

{% block title %}Unidades de integración{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/myestilos/botonFlotante.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><span>Desempeño Académico </span></li>
    <li class="breadcrumb-item"><a><span>Estructura de notas<br></span></a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Evaluaciones y ponderaciones&nbsp;</h2>
                <h5>{{ plan_estudio }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <select name="curso" id="curso" class="form-control">
                        <option value="">Seleccione un curso</option>
                        {% for curso in cursos %}
                            <option value="{{ curso.id }}">{{ curso.curso.codigo }} - {{ curso.curso.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <select name="programa" id="programa" class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select id="ciclo" class="form-control"></select>
                </div>
            </div>
        </div>
        <p class="no-data text-danger" style="margin: 0"></p>
        <div class="row" style="min-height: 600px">
            <div class="col-md-4 col-lg-3" style="padding-top:15px;">
                <div id="jqxTree" style="border-color:#ffffff;">
                </div>
            </div>
            <div class="col-md-8 col-lg-9" style="padding-top:15px;">
                <div id="dataTable" class="table-responsive table-bordered"></div>
                <a id="btnAdd" class="btn btn-info tada animated float" role="button" onclick="add(1)" data-toggle="modal"
                   style="z-index:10;display: none">
                    <i class="fa fa-plus my-float"></i>
                </a>
            </div>
        </div>
        <div style="margin:80px;"></div>

        <div class="modal fade" id="myModal">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/aos.js') }}"></script>

    <script src="{{ asset('vendor/jqwidgets/jqxcore.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxbuttons.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxscrollbar.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxpanel.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxtree.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxdata.js') }}"></script>
    <script src="{{ asset('vendor/jqwidgets/jqxdatatable.js') }}"></script>

    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/bs-animation.js') }}"></script>

    <script src="{{ asset('js/arbolNotas.js') }}"></script>
    <script src="{{ asset('js/programacionevaluaciones.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('select').select2();
        })
    </script>
    <script>
        //Obteniendo la unidad de integracion
        $('#programa').change(function () {
            $('#jqxTree').jqxTree('clear');
            $("#dataTable").jqxDataTable('clear');
            getArbol();
        });

        $('#ciclo').change(function () {
            $('#jqxTree').jqxTree('clear');
            $("#dataTable").jqxDataTable('clear');
            getArbol();
        });
    </script>
{% endblock %}
