{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
    <a href="{{ admin.generateUrl('admin.ficha_catalogo.list', {id: object.id}) }}" class="btn btn-sm btn-default view_link" title="Mostrar registros">
        <i class="fa fa-list"></i> Registros
    </a>
{% endif %}