.float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:15px;
  right:15px;
  background-color:#8768ac;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow:2px 2px 3px #999;
}

.my-float {
  margin-top:17px;
}

a:hover {
  color:#ffffff;
}

.btn:focus {
  box-shadow:inherit;
}

