{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <h1>500</h1>
    <h1>Error interno del servidor</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}