{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <h1>403</h1>
    <h2>Acceso denegado</h2>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}