{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <h1>503</h1>
    <h1>Servicio temporalmente no disponible</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}