<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>FOUES - {{ app_name }}</title>

    <style type="text/css" rel="stylesheet" media="all">
        /* Media Queries */
        @media only screen and (max-width: 500px) {
            .button {
                width: 100% !important;
            }
        }
    </style>

    <style>
        {{ source("@css/email.css") }}
    </style>

</head>

<body bgcolor="#dadada">


<!-- body -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#f0f0f0">

            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td class="right-align">
                            <h2><a href="{{ absolute_url(path('/')) }}">{{ app_name }}</a></h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% block content %}
                                ...
                            {% endblock content %}
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->
        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->


<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">

            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p>FOUES</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>


</body>
</html>