{% extends 'email/base.html.twig' %}
{% block content %}
    <h4>{{ rotaciones.0.curso }}</h4>
    <br>
    <p>Estimado alumno le informamos que la planificacion de la rotacion para el {{ rotaciones.0.nombre_periodo_ciclo}}, se ha hecho oficial.
        {% if tipo=='C' %} Las fechas de rotacion son las siguientes:
        {% else %}Usted forma parte del grupo de rotacion "{{ tipo }}", cuya rotacion se resume a continuacion:
        {% endif %}
    </p>
    <table>
        {% if tipo=='C' %}
            <thead>
            <th>Programa</th>
            <th>Fechas de Rotacion</th>
            </thead>
            {% for rotacion in rotaciones %}
                <tr>
                    <td style="text-align: center">{{ rotacion.programa }}</td>
                    <td style="text-align: center">{{ rotacion.rotacion_1 }}</td>
                </tr>
            {%  endfor%}
        {% else %}
            <thead>
            <th>Programa</th>
            <th>Rotacion 1</th>
            <th>Rotacion 2</th>
            <th>Rotacion 3</th>
            </thead>
            {% for rotacion in rotaciones %}
                <tr>
                    <td style="text-align: center">{{ rotacion.programa }}</td>
                    <td style="text-align: center">{{ rotacion.rotacion_1 }}</td>
                    <td style="text-align: center">{{ rotacion.rotacion_2 }}</td>
                    <td style="text-align: center">{{ rotacion.rotacion_3 }}</td>
                </tr>
            {%  endfor%}
        {% endif %}
    </table>
    <br>
    <p>Le recomendamos ingresar al  sistema SIGEPREX para consultar el detalle de su rotacion.</p>
{% endblock %}