{% extends 'email/base.html.twig' %}
{% block content %}
    <h4>{{ rotaciones[0].curso }}</h4>
    <p>A continuacion se muestra la rotacion oficial definida para el {{ rotaciones[0].nombre_periodo_ciclo}} :</p>
    <table>
        <tr>
            <th>Programa</th>
            <th>Rotacion_1</th>
            <th>Rotacion_2</th>
            <th>Rotacion_3</th>
            <th>Rotacion_4</th>
            <th>Rotacion_5</th>
            <th>Rotacion_6</th>
        </tr>
        {% for rotacion in rotaciones %}
        <tr>
            <td>{{ rotacion.programa }}</td>
            <td>{{ rotacion.rotacion_1 }}</td>
            <td>{{ rotacion.rotacion_2 }}</td>
            <td>{{ rotacion.rotacion_3 }}</td>
            <td>{{ rotacion.rotacion_4 }}</td>
            <td>{{ rotacion.rotacion_5 }}</td>
            <td>{{ rotacion.rotacion_6 }}</td>
        </tr>
        {%  endfor%}
    </table>
    <br>
    <p>Para consultar el detalle de su rotacion, porfavor ingresar a SIGEPREX:</p>
{% endblock %}