{% extends 'email/base.html.twig' %}

{% block content %}
    {% if contenido is defined %}
        {{ contenido }}
    {% endif %}

    <p style="text-align: center">
        <a class="btn-primary" href="{{ absolute_url(path('/')) }}">Visite {{ app_name }}</a>
    </p>
{% endblock %}